.bsld{
	padding: (80/@bfz)*1em 0;
	background: #69aee1;
	background: -moz-linear-gradient(212.09deg, #69aee1 0%, #b2e4ff 100%);
	background: -webkit-linear-gradient(212.09deg, #69aee1 0%,#b2e4ff 100%);
	background: linear-gradient(212.09deg, #69aee1 0%,#b2e4ff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#69aee1', endColorstr='#b2e4ff',GradientType=1 );
	&_h1,&_p{
		color: #fff;
	}
	&_h1{

		font-family: 'Ubuntu';
		@tfz:32;
		font-size:(@tfz/@bfz)*1em ;
		line-height: 36/@tfz;
		font-weight: bold;
		text-align: center;
		@media screen and (max-width:600px) {
			font-size:(22/@bfz)*1em ;
		}
	}
	&_p{
		font-family: 'Ubuntu';
		font-weight: 300;
		line-height: 23/@tfz;
		@tfz:16;
		font-size:(@tfz/@bfz)*1em ;
		text-align: center;
		margin: (20/@tfz)*1em 0;
	}
	.slick{
		&-slide{
			position: relative;
			z-index: 1;
			transition: transform .5s;
			img{
				opacity: .5;
				transition: opacity .3s,box-shadow .3s;
				transition: opacity .3s,box-shadow .3s;
				box-shadow: 0 0 0 0 rgba(0,0,0,0.2);
			}
			&.bef{
				transform: translate3d(31%, 0, 0px);
			}
			&.aft{
				transform: translate3d(-31%, 0, 0px);
			}
		}
		&-list{
			padding: (30/@bfz)*1em 0!important;
		}
		&-current {
			position: relative;
			z-index: 2;
			img{
				opacity: 1;
				box-shadow: 0 (2/@bfz)*1em (34/@bfz)*1em 0 rgba(0,0,0,0.2);
			}

		}
		&-dots{
			display: inline-block;
			padding: (3/@bfz)*1em 0;
			border-radius: (30/@bfz)*1em;
			background: rgba(0,0,0,.34);
			position: relative;
			overflow: hidden;
			li{
				display: inline-block;
				width: auto;
				height: auto;
				position: relative;
				z-index: 2;
				@tfz:14;
				font-size:(@tfz/@bfz)*1em ;
				font-weight: 500;
				line-height: 23/@tfz;
				color: #fff;
				background: transparent;
				border-radius: none;
				border:none;
				padding: (9/@tfz)*1em (20/@tfz)*1em ;
				border-radius: (30/@tfz)*1em;
				&:hover{
					background:rgba(255,255,255,.2)
				}
				&.slick-active{
					color: #FF6400;
					background: #fff;
				}
			}
		}

	}
	&_slide{
		text-align: center;
		padding: (5/@bfz)*1em;

		img{
			display: inline-block;
			max-width: 100%;
			height: (415/@bfz)*1em;
		}
	}
	&_slick{
		&-dots{
			padding: (40/@bfz)*1em 0;
			text-align: center;
			&-posr{

			}
		}
	}
}
@media @desktop-max{
	.bsld{
		.container{
			max-width: 100%;
		}
		&_slick{
			padding-left: (60/@bfz)*1em;
			padding-right: (60/@bfz)*1em;
		}
	}
}
@media @tablet-max{
	.bsld{
		padding-left: (40/@bfz)*1em;
		padding-right: (40/@bfz)*1em;
		&_slick{
			padding-left: 0;
			padding-right: 0;
		}
		&_h1{
			max-width: 96%;
			margin-left: auto;
			margin-right: auto;
		}
		.slick{
			&-slide{
				&.bef{
					transform: translate3d(68%, 0, 0px);
				}
				&.aft{
					transform: translate3d(-68%, 0, 0px);
				}
			}
		}

	}
}

@media @phone-max{
	.bsld{
		padding-left: (15/@bfz)*1em;
		padding-right: (15/@bfz)*1em;
		.slick{
			&-slide{
				opacity: 0;
				transition: opacity .3s;
				&.bef{
					transform: translate3d(0, 0, 0px);
				}
				&.aft{
					transform: translate3d(-0, 0, 0px);
				}
			}
			&-current{
				opacity: 1;
			}
			&-dots{
				li{
					padding-left: (11/@bfz)*1em;
					padding-right: 	(11/@bfz)*1em;
				}
			}
		}
		&_slide{
			max-width: 	(320/@bfz)*1em;
			img{
				height: auto;
			}
		}
	}
}
