.ccomf{
	.container-mw{
		max-width: (990/@bfz)*1em;

	}
	.win{
		padding-top: (50/@bfz)*1em;
		padding-bottom: (40/@bfz)*1em;
		box-shadow: none;
		margin-top: (45/@bfz)*1em;
		.ccomf_wh2{
			color: #3B3B3B;
			font-family: 'Ubuntu';
			@tfz:25;
			font-size:(@tfz/@bfz)*1em ;
			font-weight: bold;
			line-height: 32/@tfz;
			&-maxw{
				max-width: 78%;
			}
		}
	}
	&_wh2{

		color: #3B3B3B;
		font-family: 'Ubuntu';
		@tfz:25;
		font-size:(@tfz/@bfz)*1em ;
		font-weight: bold;
		line-height: 32/@tfz;
		&-maxw{
			max-width: 78%;
		}
	}
	&_list{
		margin: 0;
		margin-top: (20/@bfz)*1em;
		padding: 0;

		li{
			display: block;
			margin: (12/@bfz)*1em 0;

			color: #3B3B3B;
			font-family: 'Ubuntu';
			@tfz:16;
			font-size:(@tfz/@bfz)*1em ;
			font-weight: 300;
			line-height: 20/@tfz;
			margin-bottom: 0;

			&:before{
				display: inline-block;
				width: (7/@bfz)*1em;
				height: (7/@bfz)*1em;
				background-color: #FF6400;
				content: '';
				vertical-align: middle;
			}
			p{
				display: inline-block;
				font-size:(14/@bfz)*1em ;
				line-height: 20/@tfz;
				font-weight: 300;
				width: 100%;
				margin: 0 auto;
				vertical-align: middle;
				margin-left: -(12/@tfz)*1em;
				padding-left: (20/@tfz)*1em;
			}
		}
	}
	&_h1{

		color: #3B3B3B;
		font-family: 'Ubuntu';
		@tfz:32;
		font-size:(@tfz/@bfz)*1em ;
		margin-bottom: (18/@bfz)*1em;
		font-weight: bold;
		line-height: 36/@tfz;
		text-align: center;
	}
	.idea, &.idea{
		/* bottom: ; */
		background: #fff;
		padding-top: 	(60/@bfz)*1em;
		padding-bottom: (80/@bfz)*1em;
		margin-top: (45/@bfz)*1em;
		&_wind{
			background-color: #F6F6F6;
		}
		&_img{
			.soffer_vcont-bottom{
				background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 100%);
				background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 100%);
				background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 100%);
			}
		}
		&_text{

			.lght{color: #898989;}
			color: #3B3B3B;
			font-family: 'Ubuntu';
			@tfz:15;
			font-size:(@tfz/@bfz)*1em ;
			line-height: 28/@tfz;
		}
	}
	&_space{
		padding: (20/@bfz)*1em 0;
	}
	.steps{
		&_el{
			width: (280/@bfz)*1em;
			margin: 0 auto;
		}

		&_arw{
			margin-right: auto;
			left: 100%;
			width: (40/@bfz)*1em;
		}
	}
	&_hr{
		border-top: (1/@bfz)*1em solid #D5D5D5;
		margin: (40/@bfz)*1em 0;
	}

}

@media @tablet-max{
	.ccomf{
		.container-mw,.idea .container{
			margin: auto;
			max-width: 	(863/@bfz)*1em;
		}
		section.container.container-mw{
			padding-top: (20/@bfz)*1em;
			padding-bottom: (30/@bfz)*1em;
		}
		.win{
			padding-left: (40/@bfz)*1em;
			padding-right: (40/@bfz)*1em;
		}
		.idea{
			padding-top: 	(60/@bfz)*1em;
			padding-bottom: (60/@bfz)*1em;
		}
		&_h1{
			@tfz:32;
			font-size:(@tfz/@bfz)*1em ;

			margin-bottom: (40/@tfz)*1em;
		}
		.idea{
			&_img{
				width: 	100%;
				height: (460/@bfz)*1em;
			}
			&_wind{
				width: 	100%;
				margin-top: (20/@bfz)*1em;
				padding:(60/@bfz)*1em;
				p{
					font-weight: 300;
					&.lght{
						font-weight: 400;
					}
				}
			}
		}
		.steps{
			&_el{
				width: 	100%;
				margin-top: (40/@bfz)*1em;
				margin-bottom: (40/@bfz)*1em;
			}
		}
		// .wind{
		// }

	}
}

@media @phone-max{
	.ccomf{
		.win{
			padding: (30/@bfz)*1em (20/@bfz)*1em;
			margin-bottom: (20/@bfz)*1em;
		}
		&_wh2{
			text-align: center;
			@tfz:22;
			font-size:(@tfz/@bfz)*1em ;

		}
		&.cctop{
			padding: (20/@bfz)*1em (15/@bfz)*1em;
		}
		.cctop{
			&_h1{
				@tfz:17;
				font-size:(@tfz/@bfz)*1em ;

			}
			&_info{
				@tfz:15;
				font-size:(@tfz/@bfz)*1em ;

			}
		}

		.idea{
			padding-top: (40/@bfz)*1em;
			.ccomf{
				&_h1{
					@tfz:22;
					font-size:(@tfz/@bfz)*1em ;

				}
				&_space{
					padding: (5/@bfz)*1em 0 ;
					margin-bottom: 0;
				}
			}
			&_img{
				width: auto;
				margin-left: 0;
				margin-right: 0;
			}
			.soffer{
				&_lable{
					p{
						display: inline-block;
					}
					width: auto;
					text-align: center;
					position: static;

					button{
						box-shadow: none;
					}
				}
			}
			&_wind .idea{
				&_h1{
					@tfz:25;
					font-size:(@tfz/@bfz)*1em ;

					.bold;
					text-align: left;
				}
			}
			&_wind{
				padding: (30/@bfz)*1em (20/@bfz)*1em;
			}
			&_text{
				text-align: left;
				p{
					@tfz:15;
					font-size:(@tfz/@bfz)*1em ;

				}
			}
		}
	}
}
