.cctop{
	padding: (30/@bfz)*1em;
	background: #F6F6F6;
	text-align: center;
	&_h1{
		font-family: 'Ubuntu';
		@tfz:22;
		font-size:(@tfz/@bfz)*1em ;
		font-weight: bold;
		line-height: 32/@tfz;
		color: #555555;

	}
	&_p{

		color: #555555;
		font-family: 'Ubuntu';
		@tfz:15;
		font-size:(@tfz/@bfz)*1em ;

		line-height: 24/@tfz;
	}
	&_info{
		@tfz:15;
		font-size:(@tfz/@bfz)*1em ;

		line-height: 24/@tfz;
	}
}
