.cerc{
	background: #ffffff;
	padding: (80/@bfz)*1em 0;
	&_h1{
		opacity: 0.78;
		color: #000000;
		font-family: 'Ubuntu';
		@tfz:34;
		font-size: (@tfz/@bfz)*1em;
		margin: (6/@tfz)*1em 0 ;
		font-weight: 500;
		line-height: 1.1;
	}
	&_h2{


		color: #FF6400;
		font-family: 'Ubuntu';
		@tfz:22;
		font-size: (@tfz/@bfz)*1em;
		margin: (6/@tfz)*1em 0 ;
		line-height: 1.7;
	}
	&_el{
		display: inline-block;
		width: auto;
		vertical-align: middle;
		margin: (55/@bfz)*1em (8/@bfz)*1em;
		margin-bottom: (19/@bfz)*1em;

		/* &:first-child{
			margin-left: 0;
		}
		&:last-child{
			margin-right: 0;
		} */

	}
	&_cercle{
		width: (57/@bfz)*1em;
		height: (57/@bfz)*1em;
		border: (1/@bfz)*1em solid rgba(0, 0, 0, 0.1);
		/* opacity: .1; */
		border-radius: 50%;
		display: inline-block;
		vertical-align: middle;
		p{

			color: #000000;
			font-family: 'Ubuntu';
			@tfz:16;
			font-size: (@tfz/@bfz)*1em;
			line-height: (57/@tfz)*1em;
			text-align: center;
			opacity: .4;

		}
	}
	&_text{
		display: inline-block;
		vertical-align: middle;
		width: 100%;
		margin-left: -(61/@bfz)*1em;
		padding-left: (70/@bfz)*1em;
		text-align: left;
		p{
			/* height: 50px; */
			/* width: 251px; */
			color: #3B3B3B;
			font-family: 'Ubuntu';
			font-size: (18/@bfz)*1em;
			line-height: 1.3;
			margin: 0;
			span{
				white-space: nowrap;
			}
		}

	}
	&_p{


	}
}

@media @desktop-max{
	.cerc{
		/* &_el{ width: 100%/3; float: left; margin: 0;} */
		&_cercle,&_text{
			display: block;
		}
		&_text{
			margin: (10/@bfz)*1em 0;
			padding: 0;
			p{
			/* 	@tfz:15;
			font-size:(@tfz/@bfz)*1em ; */

			}
		}
	}
}

@media (max-width: 992px){
	.cerc{

		.text-center{
			text-align: left;
		}

	}
}

@media @tablet-max{
	.cerc{
		padding: (40.29/@bfz)*1em 0;
		text-align: center;
		&_h1{
			font-size: (20/@bfz)*1em;
		}
		&_h2{
			font-size: (15/@bfz)*1em;
		}
		&_el{
			margin: 0 auto;
			display: block;
			width: (320/@bfz)*1em;
			text-align: center;
		}
		&_text{
			text-align: center;
		}
		&_cercle{
			width: (33/@bfz)*1em;
			height: (33/@bfz)*1em;
			margin: (19.5/@bfz)*1em auto;
			p{
				line-height: (33/@bfz)*1em;
				font-size: (13/@bfz)*1em;
			}
		}
	}
}

@media @phone-max{
	.cerc{
		padding-top: (17/@bfz)*1em;
		padding-bottom: (30/@bfz)*1em;
		&_h1{
			@tfz:20;
			font-size:(@tfz/@bfz)*1em ;


			line-height: 24/@tfz;
			margin-bottom: (15/@tfz)*1em;
		}
		&_h2{
			@tfz:15;
			font-size:(@tfz/@bfz)*1em ;
			line-height: 20/@tfz;
		}
		&_el{
			margin: (10/@bfz)*1em auto;
			max-width: 100%;
			min-width: (120/@bfz)*1em;
		}
		.text-center{
			padding-top: (7/@bfz)*1em;


		}
		&_cercle{
			width: (33/@bfz)*1em;
			height: (33/@bfz)*1em;
			display: block;
			margin-bottom: (7.5/@bfz)*1em;
			p{
				font-size: (13/@bfz)*1em;
				line-height: 2.53;

			}
		}
		&_text{
			margin-left: 0;
			padding-left: 0;
			display: block;
			p{
				font-size: (15/@bfz)*1em;
				line-height: 1.53;
			}
		}

	}
}
