.crev{
	padding: (40/@bfz)*1em 0;
	padding-top: (60/@bfz)*1em;
	background: #fff;
	&_img{
		position: relative;
		margin-bottom: (28/@bfz)*1em;
		img{
			width: 100%;
		}
	}
	&_el{
		width: (430/@bfz)*1em;
		max-width: 100%;
		display: inline-block;
		text-align: left;
	}
	&_btn-pos{
		position: absolute;
		bottom: 0;
		right: 0;
		padding: (30/@bfz)*1em;
	}
	&_photo{
		width: 100%;
	}
	&_name{
		color: #3B3B3B;
		font-family: 'Ubuntu';
		@tfz:25;
		font-size:(@tfz/@bfz)*1em ;
		font-weight: 500;
		line-height: 28/@tfz;
		margin-bottom: (8/@tfz)*1em;
	}
	&_pos{
		color: #898989;
		font-family: 'Ubuntu';
		@tfz:15;
		font-size:(@tfz/@bfz)*1em ;
		line-height: 28/@tfz;
	}
	&_text{
		margin: (22/@tfz)*1em 0;
		height: (226/@tfz)*1em;
		overflow: auto;
		margin-right: -(15/@tfz)*1em;
		padding-right:(15/@tfz)*1em ;
		@scrlcolor:#fff;
		@thumbcolor:#898989;


		color: #3B3B3B;
		font-family: 'Ubuntu';
		@tfz:16;
		font-size:(@tfz/@bfz)*1em ;
		font-weight: 300;
		line-height: 27/@tfz;
		
		&::-webkit-scrollbar-track
		{
			border-radius: (10/@bfz)*1em;
		}
		
		&::-webkit-scrollbar
		{
			width: (4/@bfz)*1em;
			background-color: @scrlcolor;
			border-radius: (10/@bfz)*1em;
		}
		
		&::-webkit-scrollbar-thumb
		{
			border-radius: (10/@bfz)*1em;
			background-color: @thumbcolor;
		}
	}
}

@media @tablet-max{
	.crev{
		&_el{
			width: (422/@bfz)*1em;	
		}
		.text-left,.text-right{
			text-align: center;	
		}
	}
}
@media @phone-max{
	.crev{
		padding: (40/@bfz)*1em 0;
		&_text{
			height: auto;
		}
		.ccomf_h1{
			@tfz:32;
			font-size:(@tfz/@bfz)*1em ;
		}
	}
}