.expert{
	padding: (80/@bfz)*1em 0;
	background: #fff;
	&_img{
		background-image: url(../img/loader.gif);
		background-repeat: no-repeat;
		background-position: center;
	}
	&_photo{
		min-width: 100%;
		min-height: 100%;
		.ACenter();
		margin: auto;
		z-index: 1;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
	&_slide{
		padding: ((16/2)/@bfz)*1em;
	}
	&_el{
		position: relative;	
		overflow: hidden;
		border-radius: 	(6/@bfz)*1em;
		height: (382/@bfz)*1em;
	}
	.slick{
		&-dots{
			li
			{
				width: (8/@bfz)*1em;
				height: (8/@bfz)*1em;
				background-color: #D8D8D8;
				border: none;
				&.slick-active{
					background: #FF6400;
				}
			}
		}
	}
	.h1{
		text-align: center;	
		@tfz:32;
		font-size:(@tfz/@bfz)*1em ;
		
		margin-bottom: (80/@tfz)*1em;	
	}
	&_name{
		color: #FFFFFF;
		font-family: 'Ubuntu';
		@tfz:31;
		font-size:(@tfz/@bfz)*1em ;
		font-weight: 500;
		line-height: 28/@tfz;
	}
	&_text{
		/* height: (69/@tfz)*1em; */
		color: #FFFFFF;
		font-family: 'Ubuntu';
		@tfz:16;
		font-size:(@tfz/@bfz)*1em ;
		font-weight: 300;
		line-height: 23/@tfz;

	}
	&_shape
	{
		padding: (30/@bfz)*1em;	
		.ACenter;
		z-index: 2;
		&:before{
			background: radial-gradient(circle, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 55.73%, #000000 100%);
			box-shadow: (1/@bfz)*1em (1/@bfz)*1em (4/@bfz)*1em 0 rgba(0,0,0,0.08);
			content: '';
			display: block;
			.ACenter(@top:-300%);
		}
		&-bottom{
			position: absolute;
			bottom: 0;
			left: 0;	
			right: 0;	
			padding: (30/@bfz)*1em;	
		}
	}
}
@media @desktop-max{
	.expert{
		&_slider{
			padding-left: (60/@bfz)*1em;
			padding-right: (60/@bfz)*1em;
		}
	}
}
@media @tablet-max{
	.expert{
		&_el{
			height: (500/@bfz)*1em;
		}
	}
}