@orange:#FF6400;
.faq{
	background: #F6F6F6;
	padding: (30/@bfz)*1em 0;
	&_h1{
		@tfz:34;
		font-size:(@tfz/@bfz)*1em ;
		font-weight: 500;
		line-height: 1.11;
		color: #000000;
		font-family: 'Ubuntu';
		text-align: center;
		margin: (50/@tfz)*1em;	
	}
	&_el{
		/* border:(1/@bfz)*1em solid #d0d0d0; */
		background: #fff;

		padding: (30/@bfz)*1em;
		width: 	90%;
		/* margin: auto; */
		margin:(5/@bfz)*1em auto;
		/* margin-top: (-1/@bfz)*1em;	 */
	}
	&_text{
		display: 	inline-block;
		vertical-align: middle;
		width: 	100%;
		margin-right: -(30/@bfz)*1em;
		padding-right: 	(60/@bfz)*1em;
	}
	&_text, &_answr{
		p{
			color: #3B3B3B;
			font-family: 'Ubuntu';
			opacity: 0.78;
			font-size: (20/@bfz)*1em;
			line-height: 1.45;

		}
		span,a{
			color:@orange;
		}
		a{
			text-decoration: underline;
		}
	}
	&_text p {
		color: #000;
	}
	&_answr{
		margin:(20/@bfz)*1em 0;
		background: #fff;
		/* padding: (30/@bfz)*1em; */
		padding: 0;
		&-hider{
			max-height: 0;
			overflow: hidden;
			transition: max-height .3s;
		}
		p{

			@tfz:18;
			font-size: (@tfz/@bfz)*1em;
			font-weight: 300;
			line-height: 1.55;
		}
	}
	&_btn{
		width: (20/@bfz)*1em;
		height: (20/@bfz)*1em;
		position: relative;
		background: transparent;
		border:none;
		box-shadow: none;
		display: 	inline-block;
		span{
			.ACenter();
			width: 100%;
			height: (2/@bfz)*1em;
			background: #d0d0d0;
			&:last-child{
				height: 100%;
				width: (2/@bfz)*1em;
				transition: height .3s;
			}

		}
	}
	&_sm-hider{
		max-height: initial;
		overflow: hidden;
		float: left;
	}
	&_el.active &{
		&_answr-hider{max-height: (999/@bfz)*1em;}
		&_btn{
			span:last-child{
				height: 0px;
			}
		}
	}
}

@media @phone-max{
	.faq{
		padding: (20/@bfz)*1em 0;
		&_h1{
			font-size:(17/@bfz)*1em;
			line-height: 25/17;

		}
		&_el{
			background: #fff;
			border: none;
			width: 100%;
			padding: (20/@bfz)*1em;
			margin-bottom: (10/@bfz)*1em;
		}
		&_btn{
			display: none;
		}
		&_text{
			width: 100%;
			padding-right: 0;
			margin-right: 0;

			p{
				color: #000000;
				font-size: (15/@bfz)*1em;
				line-height: 23/15;
				font-family: Arial;
				font-weight: bold;
				
			}
		}
		&_answr{
			margin:(14/@bfz)*1em 0;

			border-top: (1/@bfz)*1em solid #DDDDDD;
			padding: (15/@bfz)*1em 0;
			&-hider{
				max-height: (999/@bfz)*1em;
			}
			p{
				opacity: 1;
				color: #3B3B3B;
				font-family: Arial;
				font-size: (15/@bfz)*1em;
				line-height: 23/15;
			}
		}
		
		&_sm-hider{
			max-height: 0;
			transition: max-height .3s;
			overflow: hidden;
			float: left;
			&.active{
				max-height: (9999/@bfz)*1em;
			}
			&-btn{
				display: block;
				padding: (16/@tfz)*1em (44/@tfz)*1em (17/@tfz)*1em;
				font-family: 'Ubuntu';
				background: #fff;
				border: (2/@tfz)*1em solid rgba(255,100,0,0.3);
				@tfz:14;
				font-size:(@tfz/@bfz)*1em ;
				line-height: 17/@tfz;
				font-weight: 500;
				margin: (29/@tfz)*1em auto;
				border-radius: (30/@tfz)*1em;
				color: #FF6400;
				transition: color .3s, background .3s;

				&:hover, &.active{
					background: #FF6400;
					color: #fff;
				}
				&.active{
					span{
						display: none;
						&.hide{
							display: block!important;
						}
					}
				}
			}

		}
	}
}