.fauthors{
	
	margin: 0 auto;
	&_top{
		.va-center;
		height: 31.6vh;
		min-height: (300/@bfz)*1em;
		background-position: center;
		background-size: cover;
		background-image: url(../img/bg/b1.jpg);
		&-h1{
			color: #FFFFFF;
			font-family: 'Ubuntu';
			@tfz:42;
			font-size: (@tfz/@bfz)*1em;
			font-weight: 500;
			line-height: (50/@tfz)*1em;
			text-align: center;
		}
	}
	&_middler{
		display: inline-block;
		vertical-align: middle;
		width: 100%;
		
		text-align: center;
	}
	&_text{
		padding: (50/@bfz)*1em (80/@bfz)*1em;
		p{
			color: #3b3b3b;
			font-size: 1.14285714em;
			font-weight: 300;
			line-height: 1.6875em;
			margin-bottom: .625em;
			a{
				color: #FF6400;
			}
		}
	}
	&_text &_h2, &_h2{
		color: #3B3B3B;
		font-family: 'Ubuntu';
		@tfz:16;
		font-size: (@tfz/@bfz)*1em;
		font-weight: 500;
		line-height: (27/@tfz)*1em;
		text-align: center;
		margin-top: (40/@bfz)*1em;
		margin-bottom: (20/@bfz)*1em;
	}
	&_list{
		padding-left: (10/@bfz)*1em;
		li{
			padding-left: (20/@bfz)*1em;
		}
	}
	&_btn{
		font-family: 'Ubuntu';
		@tfz:14;
		font-size: (@tfz/@bfz)*1em;
		font-weight: 500;
		line-height: (17/@tfz)*1em;
		text-align: center;
		padding: (19/@tfz)*1em (35.5/@tfz)*1em;
		padding-bottom: (21/@bfz)*1em;
		margin-top: (30/@tfz)*1em;
		margin-bottom: (50/@bfz)*1em;
	}
	&_center{
		text-align: center;
		margin-top: (20/@bfz)*1em;
		margin-bottom: (10/@bfz)*1em;
	}
}