.fimg{
	background: #ffffff;
	&-bg{
		background: #2C7087;
		background-image: url('../img/bgrowth.jpg');
		background-size: cover;
		background-repeat: 	no-repeat;	
		background-position: center;
		padding: (123/@bfz)*1em 0;
	}
	&_h1{
		@tfz:47;
		margin-top: (17/@tfz)*1em;
		margin-bottom: (25/@tfz)*1em;
		font-size: (@tfz/@bfz)*1em;
		font-weight: 500;
		line-height: 1;
		color: #fff;
	}
	&_h2{
		font-size: (22/@bfz)*1em;
		line-height: 1.7;
		color: #FFFFFF;
	}
	&_h3{
		@tfz:28;
		font-size: (@tfz/@bfz)*1em;
		font-weight: 500;
		line-height: 1.3;
		color: #000000;
		margin-top: (50/@tfz)*1em;
	}
	&_p{
		color: #3B3B3B;
		@tfz:17;
		font-size: (@tfz/@bfz)*1em;
		line-height: 1.5;
		
	}
	.package_btn{
		@bfz:17;
		margin-top: (40/@bfz)*1em;
		margin-bottom: (80/@bfz)*1em;
	}
}
@media @desktop-max{
	.fimg .package_btn{
		display: inline-block;
	}
}

@media @phone-max{
	.fimg{
		&-bg{
			background-image: url(../img/bgrowth-mob.jpg);
		}
		&_h1{
			font-size: (27/@bfz)*1em;
			line-height: 1.31;

		}
		&_h2{
			font-size: (15/@bfz)*1em;
			line-height: 1.33;
		}
		&-bg{
			padding-top: (30/@bfz)*1em;
			padding-bottom: (255/@bfz)*1em;
		}
		&_h3{
			font-size: (17/@bfz)*1em;
			line-height: 1.47;
		}
		&_p{
			font-size: (15/@bfz)*1em;
			line-height:23/15;
		}
	}
}