.frbonus{
	background-color: #1F1F1F;
	padding: (63/@bfz)*1em 0 (30/@bfz)*1em;
	&_img{
		background-image: url(../img/loader.gif);
		background-position: center;
		background-repeat: no-repeat;
		background-size: auto;

	}
	&_samp{
		width: 100%;
		opacity: 0;

	}
	&_el{
		position: relative;
		overflow: hidden;
		border-radius: (8/@bfz)*1em;
		background: #3B3B3B;
		min-height: (200/@bfz)*1em;
		margin: (20/@bfz)*1em 0;
	}
	&_cont{
		.ACenter();
		.va-center;

		background: -moz-linear-gradient(left, rgba(65,65,65,0) 0%, rgba(41,41,41,1) 100%);
		background: -webkit-linear-gradient(left, rgba(65,65,65,0) 0%,rgba(41,41,41,1) 100%);
		background: linear-gradient(to right, rgba(65,65,65,0) 0%,rgba(41,41,41,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00414141', endColorstr='#292929',GradientType=1 );
	}
	&_middler{
		.middler();
		text-align: right;
		margin-left: 0;
	}
	&_h1{
		color: #FFFFFF;
		font-family: 'Ubuntu';
		@tfz:32;
		font-size:(@tfz/@bfz)*1em ;
		line-height: 37/@tfz;
		.bold;
		text-align: center;
	}
	&_loop{
		margin-top: (56/@bfz)*1em;

	}
	&_poster{.ACenter; min-width: 100%}
	&_text{
		width: (244/@bfz)*1em;
		display: inline-block;
		text-align: left;
		color: #FFFFFF;
		font-family: 'Ubuntu';

	}
	&_thin,&_discr{
		@tfz:16;
		font-size:(@tfz/@bfz)*1em ;
		line-height: 22/@tfz;
		margin-bottom: 0;
		span{
			.bold;
			color: #FF6400;
		}
	}
	&_bold{
		@tfz:25;
		font-size:(@tfz/@bfz)*1em ;
		line-height: 24/@tfz;
		.bold;
		margin-top: (31/@tfz)*1em;
		margin-bottom: (37/@tfz)*1em;
		margin-left: -(22/@tfz)*1em;
		span{
			font-size: (15/@tfz)*1em;
		}

	}
	&_thin{

	}
	&_discr{


	}


}

@media @phone-max{
	.frbonus{
		padding: (40/@bfz)*1em 0;
		&_el{
			width: 	(280/@bfz)*1em;
			height: (382/@bfz)*1em;
			margin: (20/@bfz)*1em auto;
			display: 	block;

		}
		&_poster{
			width: 	auto;
			min-height: 100%;
		}
		&_middler{
			vertical-align: bottom;
		}
		&_text{
			width: 	100%;
			padding-left: (30/@bfz)*1em;
			padding-bottom: (30/@bfz)*1em;
		}
		&_cont{
			background: -moz-linear-gradient(top, rgba(65,65,65,0) 0%, rgba(41,41,41,1) 100%);
			background: -webkit-linear-gradient(top, rgba(65,65,65,0) 0%,rgba(41,41,41,1) 100%);
			background: linear-gradient(to bottom, rgba(65,65,65,0) 0%,rgba(41,41,41,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00414141', endColorstr='#292929',GradientType=0 );
		}
		&_loop{
			margin: 0;
		}
		&_h1{
			@tfz:19;
			font-size:(@tfz/@bfz)*1em ;
			margin: 0;
			margin-bottom: (20/@bfz)*1em;
		}
	}

}
