.frform{

	background: #fff;
	margin-top: (20/@bfz)*1em;	
	margin-bottom: (10/@bfz)*1em;	
	/* padding: (23/@bfz)*1em 0;	 */

	box-shadow: 0 0 (4/@bfz)*1em 0 rgba(0,0,0,0), 0 -(8/@bfz)*1em (20/@bfz)*1em 0 rgba(222,206,255,0.23);

	&_name{
		display: 	inline-block;
		
		/* color: #000000; */
		color: rgba(0,0,0,.6);
		font-family: 'Ubuntu';
		@tfz:16;
		font-size:(@tfz/@bfz)*1em ;
		line-height: 20/@tfz;
		.bold;
		vertical-align: middle;
		margin-bottom: 0;	
	}
	&_hr{
		display: 	inline-block;
		vertical-align: middle;
		margin: 0 (33/@bfz)*1em;	
		height: (32/@bfz)*1em;
		background-color: #D8D8D8;
		width: (1/@bfz)*1em;
		border: none;

	}
	&_chrchk{
		display: 	inline-block;
		vertical-align: middle;
		font-family: 'Ubuntu';
		@tfz:16;
		font-size:(@tfz/@bfz)*1em ;
		line-height: (22/@tfz)*1em;
		cursor: pointer;
		
		/* color: #000000; */
		color: rgba(0,0,0,.6);
		.regular;
		input{
			display: 	none;
		}
		a{
			color: #FF6400;

		}
		.icon{
			position: relative;
			@itfz:20;
			font-size:(@itfz/@tfz)*1em ;
			display: 	inline-block;
			vertical-align: top;
			width: 	(20/@itfz)*1em;
			height: (20/@itfz)*1em;
			margin-right: (18/@itfz)*1em;
			margin-top: (3/@itfz)*1em;	
			i{
				.ACenter;
				display: 	block;	
				color: #E3E2E2;
				transition: color .3s;
				&:last-child{
					display: 	none;
				}
			}

		}
		input:checked + .icon{
			i{
				display: 	none;
				&:last-child{
					color: #FF6400;
					display: 	block;
				}
			}
		}
		span{
			display: 	inline-block;
			vertical-align: 	top;
		}

	}
	&_fcont,&_lcont{
		width: 	50%;
		display: 	inline-block;
		vertical-align: middle;
	}
	&_fcont{
		text-align: right;
		margin-left: -(6/@bfz)*1em;
	}
	&_input{

		color: #A29485;
		font-family: 'Ubuntu';
		@tfz:16;
		font-size:(@tfz/@bfz)*1em ;
		line-height: 	20/@tfz;
		.bold;
		border-radius: (25/@tfz)*1em;
		background-color: #FFF1E7;
		border: none;
		box-shadow: none;
		overflow: hidden;
		padding: (14/@tfz)*1em (36/@tfz)*1em;
		width: (180/@tfz)*1em;
		margin-right: 	(20/@tfz)*1em;
		text-align: left;
	}

	&_btn{

		@tfz:14;
		font-size:(@tfz/@bfz)*1em ;
		
		line-height: (19/@tfz);
		padding: (13/@tfz)*1em (33/@tfz)*1em;	

	}
	&_close{
		display: 	inline-block;
		vertical-align: middle;
		background: transparent;
		padding: 0;	
		margin: 0;	
		@tfz:21.3;
		font-size:(@tfz/@bfz)*1em ;
		/* width: (21.3/@tfz)*1em;	
		height: (21.3/@tfz)*1em; */
		box-shadow: none;
		border: none;
		border-radius: 50%;
		margin-left: (15/@tfz)*1em;
		i{color: #3B3B3B;}
		opacity: 0;
		transition: opacity .3s;
	}
	&.scroll{
		position: fixed;
		left: 0;	
		right: 0;	
		bottom: 0;	
		margin-bottom: 0;	
		z-index: 10;
	}
	&.scroll &{
		&_close{
			opacity: 1;
		}
	}
	&.closed &{
		&_close{
			opacity: 0!important;
		}
	}
	&.closed{
		position: relative!important;
	}

}

@media screen and (max-width: 1280px)
{

	.frform{
		font-size: (12/@bfz)*1em;
	}
}
@media screen and (max-width: 1200px)
{

	.frform{
		font-size: (10/@bfz)*1em;
	}
}
@media screen and (max-width: 1024px)
{

	.frform{
		font-size: (14/@bfz)*1em;
		text-align: center;
		padding: (80/@bfz)*1em 0;
		&.scroll{
			position: relative;
		}
		&_fcont,&_lcont{
			
			width: 	(515/@bfz)*1em;
			text-align: center;
			margin-left: 0;	
			margin-right: 0;	
			text-align: left;
		}
		&_fcont{
			margin-top: 	(66/@bfz)*1em;
			text-align: center;
		}
		&_input{
			display: 	block;
			width: 	100%;
			margin: (10/@bfz)*1em 0;	

		}
		&_cont{
			display: 	none;
		}
	}
}

@media @phone-max{
	.frform{
		form{
			width: 	276px;
			margin: 0 auto;	
		}
		&_fcont,&_lcont{
			max-width: 	100%;
		}
		&_hr{
			display: 	none;
		}
		&_name{
			display: 	block;	
			text-align: center;
			@tfz:19;
			font-size:(@tfz/@bfz)*1em ;
			
			br{
				display: 	none;
			}
		}
		&_close{
			display: 	none;
		}
		&_chrchk {
			margin-top: (30/@bfz)*1em;
			span {
				display: inline-block;
				width: 100%;
				padding-left: (38/@bfz)*1em;
				margin-left: -(47/@bfz)*1em;
			}

			.icon {
				width: auto;
				padding-left: 0;
				margin-left: 0;
				margin-right: (30/@bfz)*1em;
			}
		}
	}
}