.frquest{
	&_el{
		padding: (30/@bfz)*1em;
		margin: (8/@bfz)*1em 0;	

		border-radius: (8/@bfz)*1em;
		background-color: #FFFFFF;
		box-shadow: 0 0 (4/@bfz)*1em 0 rgba(0,0,0,0), 0 (8/@bfz)*1em (20/@bfz)*1em 0 rgba(222,206,255,0.23);
	}
	
	&_answ{
		width: 100%!important;
		display: none;
		&-wind{
			box-shadow: inset 0 0 (4/@bfz)*1em 0 rgba(0,0,0,0), inset 0 (8/@bfz)*1em (20/@bfz)*1em 0 rgba(222,206,255,0.23);
			margin-top: (10/@bfz)*1em;
			background: #f6f6f6;
			border-radius: 	(5/@bfz)*1em;
			padding: (15/@bfz)*1em;
			p{
				color: #3B3B3B;
				font-family: 'Ubuntu';
				opacity: 0.78;
				font-size: (16/@bfz)*1em;
				line-height: 1.45;
			}
			span,a{
				color:@orange;
			}
			a{
				text-decoration: underline;
			}
		}
	}

	&_top{
		position: relative;
		@tfz:16;
		font-size:(@tfz/@bfz)*1em ;
		vertical-align: middle;
		font-family: 'Ubuntu';
		color: #3B3B3B;
		line-height: 22/@tfz;
		cursor: pointer;
		overflow: hidden;
		span{
			color: #FF6400;
		}
		p{
			margin-bottom: 0;	
			padding-right: (30/@bfz)*1em;
		}
	}
	i{
		@tfz:16;
		font-size:(@tfz/@bfz)*1em ;
		transform: rotate(-90deg);
		transition: transform .3s;
		color: #FF6400;
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		vertical-align: middle;
		height: 	(18/@tfz)*1em;
		margin: auto;	

	}
	&_el.active{
		i{
			transform: rotate(-0deg);
		}
	}
}

@media @tablet-max{

}

@media @phone-max{
	.frquest{
		&_top{
			i{margin: 0;}

		}
	}
}