//
.frtop{
	&_samp{
		width: 100%;
		opacity: 0;
		min-height: (450/@bfz)*1em;
		max-height: (660/@bfz)*1em;
	}
	.posr{
		overflow: hidden;
	}
	&_bb{
		background-image: url(../img/loader.gif);
		background-position: center;
		background-repeat: no-repeat;
		background-size: auto;
		&:before {
			position: absolute;
			content: '';
			top: -60%;
			bottom: 0;
			left: -(140/@bfz)*1em;
			right: -(140/@bfz)*1em;
			background:  #0f0;
			background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%, rgba(31,31,31,1) 100%);
			background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%,rgba(31,31,31,1) 100%);
			background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%,rgba(31,31,31,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#1f1f1f',GradientType=1 );
		}
	}
	&_bg{
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;

		&-top{
			background-position: center top;
		}

	}
	&_posa{
		.va-center;
		.ACenter;
		z-index: 2;
		.middler{
			@media screen and (min-width:1440px) {
				padding-top: 150px;
			}
			@media screen and (max-width:768px) {
				padding-top: 100px;
			}
			width: 	100%;
		}
	}
	&_h1{
		color: #FFFFFF;
		font-family: 'Ubuntu';
		@tfz:48;
		font-size:(@tfz/@bfz)*1em ;
		line-height: 55/@tfz;
		.bold;
		text-align: center;

		span{
			display: block;
			.light;
			@stfz:18;
			margin: (30/@stfz)*1em 0;
			font-size:(@stfz/@tfz)*1em ;
			line-height: 21/@stfz;

			text-align: center;
		}
		&-72{
			@tfz:72;
			font-size:(@tfz/@bfz)*1em ;
			span{
				@stfz:25;
				font-size:(@stfz/@tfz)*1em ;
				line-height: 37/@stfz;

			}
		}
	}
	&_btn{
		/* margin-top: (80/@bfz)*1em; */
		margin-top: 3em;
		margin-bottom: 0;
		&-18{
			@tfz:18;
			font-size:(@tfz/@bfz)*1em ;

		}
	}
	&_p{
		text-align: center;
		margin-top: (55/@tfz)*1em;
		@tfz:15;
		font-size:(@tfz/@bfz)*1em ;
		line-height: (22/@tfz);
		color: #FFFFFF;
		font-family: 'Ubuntu';
		font-weight: 300;
		max-width: 100%;
		// .light;
		&-mbold{
			@stfz:25;
			font-size:(@stfz/@bfz)*1em ;
			line-height: 37/@stfz;
			display: block;
			.light;
			margin: (30/@stfz)*1em 0;
			text-align: center;
		}
	}
	&_outs &{
		&_p{
				color: #3B3B3B;
				&-mbold{
					font-weight: 300;
				}
		}
	}

	&.home {
		.frtop{
			&_p{
				@tfz:25;


				margin-top: (40/@tfz)*1em;
				margin-bottom: (12/@tfz)*1em;
			}
		}

	}
}

@media @tablet-max{
	.frtop{
		.frtop_btn{
			@tfz:16;
			font-size:(@tfz/@bfz)*1em ;

			margin-top: (46/@tfz)*1em;
			margin-bottom: (63/@tfz)*1em;
		}
		&_h1{
			@tfz:44;
			font-size:(@tfz/@bfz)*1em ;

			margin-top: (94/@tfz)*1em;
			margin-bottom: (19/@tfz)*1em;
		}

	}
}

@media @phone-max{
	.frtop{
		&_h1{
			@tfz:26;
			font-size:(@tfz/@bfz)*1em ;
			span{
				@stfz:14;
				font-size:(@stfz/@tfz)*1em ;
				width: 	(171/@stfz)*1em;
				display: block;
				margin-left: auto;
				margin-right: auto;
			}
		}
		&_p{

		}
		& &_btn{
			@tfz:14;
			font-size:(@tfz/@bfz)*1em ;
			margin-top: (26/@tfz)*1em;
			margin-bottom: 	(42/@tfz)*1em;

		}
		&_bg{
			height: (414/@bfz)*1em;
			min-height: 0;
		}
	}
}
