.frwork{
	padding: (36/@bfz)*1em 0 ;
	background: #fff;
	&_h1{
		@tfz:32;
		font-size:(@tfz/@bfz)*1em ;
		line-height: 37/@tfz;
		color: #3B3B3B;
		text-align: center;
		font-family: 'Ubuntu';
		.bold;
		// margin: (47/@bfz)*1em 0;
		margin: (40/@bfz)*1em 0 (20/@bfz)*1em;
		&-ml{
			margin: (47/@tfz)*1em 0;
		}


	}
	&_el{
		text-align: center;
		width: (220/@bfz)*1em;
		display: inline-block;
		vertical-align: top;
		margin: 0 (17/@bfz)*1em;
		&:first-child{
			margin-left: 0;
		}
		&:last-child{
			margin-right: 0;
		}
	}
	&_text{

		color: #3B3B3B;
		font-family: 'Ubuntu';
		text-align: center;
		@tfz:16;
		font-size:(@tfz/@bfz)*1em ;
		line-height: 22/@tfz;
		span,a{color: #FF6400;}
	}
	&_i{
		width: (65/@bfz)*1em;
		height: (65/@bfz)*1em;
		display: inline-block;
		.va-center;
		img{
			.middler;
			display: inline-block;
			/* width: 29.1%; */
			max-width: 100%;
		}
		margin: (48/@bfz)*1em 0;
	}
}

@media @desktop-max{
	.frwork{
		&_loop{
			text-align: left;
			display: inline-block;
			width: auto;
		}
	}
}

@media @tablet-max{
	.frwork{
		&_loop{
			text-align: center;
			display: inline-block;
			width: auto;
		}
		&_el{
			&:last-child{
				margin-left: 0;
				width: (320/@bfz)*1em;
				max-width: 100%;
				br{
					display: none;
				}
			}
		}
		&_el:last-child &_i {
			width: (85/@bfz)*1em;
			margin-bottom: (30/@bfz)*1em;
		}
	}
}

@media @phone-max{
	.frwork{
		&_h1{
			@tfz:19;
			font-size:(@tfz/@bfz)*1em ;
			margin: (40/@tfz)*1em 0;
		}
		&_el{
			margin: -0;
			margin-bottom: (25/@bfz)*1em;
		}
		&_i{
			width: 	(40/@bfz)*1em;
			height: (40/@bfz)*1em;
			margin: (25/@bfz)*1em 0;
		}

	}
}
