.funnel_popup{
	.mfp-content {
	    max-width: 1080px;
	    width: 100%;
	    height: 500px
	}

	.wrap_webinar {
	    position: relative;
	    display: flex;
	    flex-direction: column;
	    background-color: #fff;
	    padding: 0 10px
	}

	.webinar {
	    z-index: 999;
	}

	.vebinar_element_popup, .webinar {
	    max-width: 1080px;
	    width: 100%;
	    position: relative;
	    overflow-X: hidden;
	    overflow-Y: scroll;
	    height: 550px;
	    // background: linear-gradient(90deg, #f60 0, red);
	    // padding: 50px 6px;
	    // border-radius: 10px;
	}

	.vebinar_element_popup {
	    margin: 0 auto
	}

	.title_webinar {
	    display: flex;
	    flex-direction: column;
	    align-items: center;
	    margin: 15px 0 30px;
		img {
		    margin-bottom: 25px
		}
		h2 {
		    font: 200 25px/1 Oswald;
		    margin-bottom: 20px
		}
		p {
		    font: 200 20px/1 Oswald;
		    margin-bottom: 20px
		}
	}

	.webinar_text {
	    display: flex;
		position: relative;
		h2{
			position: relative;
			&:before {
			    content: "";
			    display: block;
			    position: absolute;
			    width: 100px;
			    height: 2px;
			    // background-color: #ff891c;
			    background-color: #333;
			    left: 50%;
			    transform: translateX(-50%);
			    bottom: -10px
			}
		}
		ul{
			list-style-type: none;
		}
		.left_text {
			position: relative;
			@media screen and (min-width:768px) {
				margin-right: 30px;
			}
			max-width: 500px;
			width: 100%;
			h2 {
				text-align: center;
				font: 200 25px/1 Oswald;
				margin-bottom: 20px;
				color: #343f51
			}
			p {
				font: 200 20px/1 Oswald;
				margin-bottom: 20px;
			}
			ul {
				padding-left: 20px;
				li {
					position: relative;
					font: 200 18px/1.4 Oswald;
					margin-bottom: 10px;
					&:before {
						content: "";
						display: block;
						position: absolute;
						width: 6px;
						height: 6px;
						// background-color: #ff891c;
						background-color: #333;
						left: -15px;
						top: 10px;
						border-radius: 50%
					}
				}
			}
		}

		.right_text {
			position: relative;
			max-width: 500px;
			width: 100%;
			h2 {
			    text-align: center;
			    font: 200 25px/1 Oswald;
			    margin-bottom: 20px;
			    color: #343f51;
			}
			p {
			    font: 200 20px/1 Oswald;
			    margin-bottom: 20px
			}
		}
	}

	.general_img {
	    position: relative;
	    width: auto;
	    height: auto
	}

	.link_buttons, .link_buttons_title {
	    width: 100%;
	    position: relative;
	    display: flex;
	    justify-content: center
	}

	.link_buttons_title {
	    max-width: 250px;
	    align-self: center;
	    margin: 30px 0
	}

	.link_buttons_title, .link_elem {
	    align-items: center;
	    background-color: #556175;
	    color: #fff;
	    height: 30px;
	    font: 200 18px/1.4 Oswald
	}

	.link_elem {
	    position: relative;
	    max-width: 150px;
	    width: 100%;
	    display: flex;
	    justify-content: center;
	    margin: 0 15px;
	    text-decoration: underline;
	    transition: .4s
	}

	.link_elem:hover {
	    text-decoration: none;
	    color: #ff891c
	}

	.popup_element .mfp-content {
	    max-width: 1000px;
	    width: 100%
	}

	.webinar_img {
	    width: 100%;
	    position: relative;
	    overflow: scroll
	}

	.btn_zoom {
	    width: 40px;
	    height: 40px;
	    margin: 10px;
	    font-size: 20px
	}

	.modalVid {
	    font: 200 18px/1.4 Oswald;
	    transition: .4s;
	    margin-top: 7px;
		:hover {
		    color: #470606
		}
	}

	.control-in, .control-out {
	    transform: .4s
	}

	.control-in:hover, .control-out:hover {
	    color: #ff891c
	}

	@media screen and (max-width:800px) {
	    .webinar_text {
	        flex-direction: column;
	        justify-content: center;
	        align-items: center
	    }
	    .title_webinar {
	        width: auto
	    }
	    .left_text, .right_text {
	        max-width: none
	    }
	    .left_text h2, .right_text h2 {
	        text-align: center
	    }
	    .left_text ul {
	        padding-left: 25px
	    }
	    .left_text ul li:before {
	        left: -9px
	    }
	}

	@media screen and (max-width:500px) {
	    .left_text, .right_text {
	        margin: 0
	    }
	    .left_text h2, .right_text h2 {
	        font-size: 20px
	    }
	    .left_text p, .right_text p {
	        font-size: 18px;
	        text-align: justify;
	    }
	    .left_text ul, .right_text ul {
	        padding-left: 7px
	    }
	    .left_text ul li, .right_text ul li {
	        font-size: 16px;
	        text-align: justify
	    }
	    .link_buttons {
	        flex-direction: column;
	        align-items: center
	    }
	    .link_elem {
	        margin: 0 0 15px;
	        max-width: 250px;
	        width: 100%
	    }
	    .title_webinar p {
	        text-align: center
	    }
	    .vebinar_img_el {
	        width: 300px
	    }
	}

	.image-stage {
		width: 100%;
		transition: all 0.1s ease;
		/* cursor: zoom-in; */
		margin-top: 2rem;
		overflow: hidden;
		position: relative;
	}

	.image-stage img {
		width: 100%;
		transform: scale(1);
		transition: all 0.3s ease;
		touch-action: pan-y;
		user-select: none;
		-webkit-user-drag: none;
	}

	.image-stage.zoom-in, .image-stage.active { cursor: -webkit-grab; }

	.image-stage.zoom-in img { transform: scale(3); }

	.controls {
		position: absolute;
		left: 2em;
		top: 2em;
		z-index: 20;
	}

	.controls button {
		display: block;
		width: 50px;
		/* height: 20px; */
		padding: 0;
		border: none;
		background-color: transparent;
		cursor: pointer;
		transition: all 0.2s ease;
		font-size: 20px;
		font-size: 3em;
		line-height: 1;
		background: #ececec;
		text-align: center;
		padding: 10px;
	}

	.controls button:focus, .controls button:active { outline: none; }

	.control-in {
		opacity: 1;
		/* margin-bottom: 2em; */
	}

	/* .control-out { opacity: .4; } */

	/* .image-stage.zoom-in .controls .control-in { opacity: .4; }

	.image-stage.zoom-in .controls .control-out { opacity: 1; } */

	.controls button.inactive{
		opacity: .4;
	}
}
