.garant{

}

@media @tablet-max{
	.garant{
		.win{
			width: 	(608/@bfz)*1em;
			max-width: 	100%;
			margin: (20/@bfz)*1em auto;	
			padding: (40/@bfz)*1em;	
			&_img-holder{
				width: 	100%;
				margin: 0;	
				padding: 0;	
			}
			&_text{
				padding: 0;	
				padding-top: 	(40/@bfz)*1em;
				margin: 0;	
			}

		}
		&_h2{
			&-sec{
				text-align: center;	
				@tfz:25;
				font-size:(@tfz/@bfz)*1em ;
				.bold;
			}
		}
	}
}