.home{
	&_cat{
		max-width: 100%;
		width: 	(950/@bfz)*1em;
		margin: 0 auto;
		padding-bottom: (60/@bfz)*1em;
	}
	.courses_ell{
		margin-top: (15/@bfz)*1em;
		margin-bottom: (15/@bfz)*1em;
	}
	.courses{
		padding-bottom: (80/@bfz)*1em;
	}
	&_more{
		@tfz:18;
		font-size:(@tfz/@bfz)*1em ;
		color: #555555;
		font-family: 'Ubuntu';
		font-weight: 500;
		line-height: 17/@tfz;
	}
	&.mbg{
	}


}
@media (max-width:1350px){
	.home{
		.frtop_btn-18{
			@tfz:18;

			margin-top: (30/@tfz)*1em;
		}
	}
}
@media @desktop-max{
	.home{
		.frtop{
			&_h1-72{
				@tfz:72;
				font-size:(@tfz/@bfz)*1em ;
				margin-top: 0;
				margin-bottom: (50/@tfz)*1em;

				max-width: 80%;
				margin-left: auto;
				margin-right: auto;

			}
			&_btn{
				margin-bottom: (23/16)*1em;
			}
			&_bb{
				.ACenter();
			}
			&_bg{
				height: 100%;
			}
			&_posa{
				position: relative;
				// padding: (86/@bfz)*1em 0;
				padding: (43/@bfz)*1em 0;
			}
			// &_
			&_p{
				@tfz:15;
				font-size:(@tfz/@bfz)*1em ;

				margin-top: (31/@tfz)*1em;
				margin-bottom: (85/@tfz)*1em;
				&-mbold{
					@stfz:25;
					font-size:(@stfz/@bfz)*1em ;

				}
			}
		}
	}
}

@media @tablet-max{
	.home{
		.frtop{

		}
		&_cat{
			width: 	80%;
		}
	}
}
@media @phone-max{
	.home{
		.frtop{
			&_posa{
				min-height: (180/@bfz)*1em;
				padding: (60/@bfz)*1em 0;
			}
			&_bg{
				min-height: (180/@bfz)*1em;
			}
			&_btn{
				/* display: 	none; */
			}
			&_h1{
				@tfz:31;
				font-size:(@tfz/@bfz)*1em ;
				margin-top: (56/@tfz)*1em;
				line-height: (32/@tfz)*1em;
				span{
					@stfz:17;
					font-size:(@stfz/@tfz)*1em ;
					width: (280/@bfz)*1em;
					font-weight: 500;
					line-height: 	(28/@stfz);
					br{
						display: 	none;
					}

				}
				&-72{
					margin-top: 0;
					margin-bottom: 0;
				}
			}
			&_p{
				/* display: 	none; */
				@tfz:16;
				font-size:(@tfz/@bfz)*1em ;
				line-height: 	(28/@tfz)*1em;
				font-weight: 	300;
				width: 	(280/@bfz)*1em;
				margin-left: auto;
				margin-right: auto;
				margin-bottom: (30/@tfz)*1em;
				br{
					display: 	none;
				}
				&-mbold{
					font-weight: 500;
				}
			}
			.middler {
				margin-left: 0;
			}
		}

		&_cat{
			width: auto;
		}
		&.mbg{
			background: transparent;
		}
		&-mvis{
			.frtop{
				&_p{
					color: #3B3B3B;
					@tfz:16;
					font-size:(@tfz/@bfz)*1em ;
					line-height: (28/@tfz)*1em;
					&-mbold{
						@tfz:17;
						font-size:(@tfz/@bfz)*1em ;
						line-height: (28/@tfz)*1em;
					}
				}
			}
			padding-bottom: (40/@bfz)*1em;
		}

	}
}
