.hres{
	padding: (80/@bfz)*1em 0;
	&_h1{
		color: #3B3B3B;
		font-family: 'Ubuntu';
		@tfz:32;
		font-size:(@tfz/@bfz)*1em ;
		font-weight: bold;
		line-height: 36/@tfz;
		text-align: center;
		&.coursehead{
			margin-top: 80px;
			margin-bottom: 60px;
		}
		@media screen and (max-width:600px) {
			font-size:(22/@bfz)*1em ;
		}
	}
	&_loop{
		margin-top: (80/@bfz)*1em;
		margin-bottom: (40/@bfz)*1em;
	}
	&_i{
		text-align: center;
		@tfz:45;
		font-size:(@tfz/@bfz)*1em ;

	}
	&_text{
		text-align: center;
		color: #3B3B3B;
		font-family: 'Ubuntu';
		@tfz:16;
		font-size:(@tfz/@bfz)*1em ;
		max-width: (320/@tfz)*1em;
		display: block;
		margin: 0 auto;
		font-weight: 300;
		line-height: (23/@tfz);

	}
	&_ref{
		display: inline-block;
		margin: auto;

	}

}

@media @phone-max{
	.hres{
		&_ref{
			margin: (26/@bfz)*1em 0;
		}
		&_loop{
			margin-top: 0;
			margin-bottom: 0;
		}
		&_el{
			margin: (35/@bfz)*1em 0;
		}
	}
}
