.idea{
	background: #F6F6F6;
	padding: (40/@bfz)*1em 0;
	&_wind{
		background: #fff;
		// padding: ((62)/@bfz)*1em (56/@bfz)*1em;
		padding: ((10)/@bfz)*1em (56/@bfz)*1em;
		margin-right: (15/@bfz)*1em;
	}
	&_img,&_wind{
		display: inline-block;
		vertical-align: middle;
		height: (560/@bfz)*1em;
		width: 49%;
		float: right;
		position: relative;
	}
	&_wind-author{
		padding: (128/@bfz)*1em (60/@bfz)*1em;
		.idea{
			&_h1{
				color: #3B3B3B;
				@tfz:25;
				font-size:(@tfz/@bfz)*1em ;
				line-height: (28/@tfz);
				.bold;
				margin: 0;
				margin-bottom: (10/@bfz)*1em;
			}
			&_text{
				@tbfz:16;
				p{
					@tfz:16;
					font-size:(@tfz/@tbfz)*1em ;
					.light;
				}
				.lght{
					@tfz:15;
					font-size:(@tfz/@tbfz)*1em ;
					line-height: 28/@tfz;
				}
				.ccomf_space{
					padding: (20/@tbfz)*1em 0;
					margin-bottom: 0;
				}
			}
		}

	}
	&_btn{
		background: transparent;
		border:none;
		box-shadow: none;
		color: #fff;
		@tfz:15;
		font-size:(@tfz/@bfz)*1em ;
		line-height: 	20/@tfz;
		font-family: 'Ubuntu';
		position: absolute;
		bottom: 	(40/@tfz)*1em;
		right: 	(15/@tfz)*1em;
		img{
			width: (55/@tfz)*1em;
			height: (55/@tfz)*1em;
			margin-left: (12/@tfz)*1em;
		}
		&:hover, &:active, &:focus{
			color: #fff;
			text-decoration: none;
		}
	}
	&_text{
		p{
			color: #3B3B3B;
			@tfz:16;
			font-size:(@tfz/@bfz)*1em ;
			line-height: (28/@tfz);
			font-family: 'Ubuntu';
		}

	}

	&_head{
		margin: 0 0 (40/@bfz)*1em;
	}
	&_name{
		font-family: 'Ubuntu';
		@tfz:25;
		font-size:(@tfz/@bfz)*1em ;
		line-height: (28/@tfz)*1em;
		.Medium;
		color: #3B3B3B;
	}
	&_pos{

		color: #898989;
		font-family: 'Ubuntu';
		@tfz:15;
		font-size:(@tfz/@bfz)*1em ;
		line-height: (28/@tfz);
	}
	&_h1{
		@tfz:32;
		font-size:(@tfz/@bfz)*1em ;
		line-height: (36/@tfz);
		font-family: 'Ubuntu';
		.bold;
		color: #3B3B3B;
		// margin: (40/@tfz)*1em 0;
		margin: 0 0 (40/@tfz)*1em;
	}
	&_img{
		background-image: url(../img/2.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		position: relative;
		&.author{
			background-image: url(../img/author.jpg);
		}
		.bg{
			.ACenter();
			background-size: cover;
			background-repeat: no-repeat;
			height: 100%;
			width: 100%;
		}
	}

}

@media @desktop-max{
	.idea{
		&_wind{
			padding: (1/@bfz)*1em (40/@bfz)*1em;
		}
	}
}
@media @tablet-max{
	.idea{
		&_img,&_wind{
			width: (470/@bfz)*1em;
			display: 	block;
			float: 	none;
			margin: (10/@bfz)*1em auto;

		}
		&_wind{
			height: auto;
		}
		&_text{
			padding-bottom: (46/@bfz)*1em;
		}
	}
}

@media @phone-max{
	.idea{
		padding-top: 0;
		&_img, &_wind{
			max-width: 100%;
			width: (350/@bfz)*1em;
			display: inline-block;
			margin-right: 0;
			display: block;
			margin: auto;
			float: none;
			margin-top: (15/@bfz)*1em;
		}
		&_img{
			margin-left:-(15/@bfz)*1em;
			margin-right: -(15/@bfz)*1em;
			width: auto;
			max-width: 	inherit;
			margin-top: 0;
		}
		&_wind{
			background: transparent;
			box-shadow: none;
			padding-top: 0;
			margin-top: (30/@bfz)*1em;
			padding-left: (5/@bfz)*1em;
			padding-right: (5/@bfz)*1em;
		}
		&_h1{
			margin-top: 0;
			@tfz:22;
			font-size:(@tfz/@bfz)*1em ;

			text-align: center;

		}
		&_text{
			text-align: center;
			padding-bottom: 0;
		}
		&.iauthor{
			padding: (40/@bfz)*1em 0;
		}
		&.iauthor &{

			&_h1{

			}
			&_text{
				text-align: left;
			}

		}
	}
}
