.imgcont{
	position: relative;
	text-align: center;
	overflow: hidden;
	&_img{
		width: 100%;
		max-width: 100%;
		min-height: (350/@bfz)*1em;

		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		max-width: 100%;
		min-height: (500/@bfz)*1em;
		
	}
	&_cont{
		.ACenter;
		.va-center;
	}
	&_middler{
		display: inline-block;
		vertical-align: middle;
		width: 100%;
		margin-left: -(4/@bfz)*1em;
		padding-left: (6/@bfz)*1em;
	}

}

@media @phone-max{
	.imgcont{
		&_img{
			height: (180/@bfz)*1em;
			min-height: 1px;
		}
		&_cont{
			padding: (30/@bfz)*1em 0;	
			padding-bottom: (40/@bfz)*1em;	
			position: relative;
		}
		.tvid{
			&_h1{
				font-size: (22/@bfz)*1em;
			}
			&_btn{
				margin-top: (24/@bfz)*1em;
			}
		}
	}
}