.land{
	width: 	100%;
	.content{
		width: 	100%;
		max-width: 100%;
	}
	.pad{
		padding: (90/@bfz)*1em 0;
	}

	/* .grey{
		background-color: #F8F8F8;
	} */
	.greypad{
		background-color: #F6F6F6;
		padding: (20/@bfz)*1em 0;
	}
	/* .white{
		background: #fff;
		padding: (90/@bfz)*1em 0;
		padding-bottom: 0;
	} */
	.vc{
		font-size: @bfz*1px;
	}
	.vidcont{
		.ACenter();
		margin-left: -11%;
		margin-right: 5%;
		font-size: @bfz*1px;

	}
	.video-cont{

		.ACenter();
		overflow: 	hidden;
		&>*{
			display: inline-block;
			max-width: 100%;
			height: 100%;
		}
		img{
			display: inline-block;
			min-width: 100%;
			max-width: inherit;
			height: 100%;
		}
	}
	&_p{
		.land_p();
		&-lh{

		}
	}
	&_list{
		padding-left: (10/@bfz)*1em;
	}
	&_item{
		padding-left: (10/@bfz)*1em;
		line-height: 0.9;
	}
	&_text{
		font-size: @bfz*1px;

	}
	&_btn{
		@tfz:17;
		font-size: (@tfz/@bfz)*1em;
		margin: 0;
		padding: (15/@tfz)*1em (29/@tfz)*1em;
		text-transform: capitalize;
		margin-top: (30/@tfz)*1em;
		cursor: pointer;
		&-ib{
			display: inline-block;
		}
	}
	&_vidbutton{
		width: (90/@bfz)*1em;
		height: (90/@bfz)*1em;
		.ACenter;
		z-index: 3;
		cursor: pointer;
	}
	&_h1{
		@tfz:30;
		font-size: (@tfz/@bfz)*1em;
		line-height: 1.3;
		color: #000000;
		font-family: 'Ubuntu';
		font-weight: 500;
		opacity: 0.78;
		margin-bottom: (12/@tfz)*1em;
		&-mb{
			/* margin-bottom: (50/@tfz)*1em; */
			margin-bottom: 0;
		}
	}
	&_h2{
		color: #FF6400;
		font-family: 'Ubuntu';
		@tfz:22;
		font-size: (@tfz/@bfz)*1em;
		line-height: 1.7;
		/* margin-bottom: 	(40/@tfz)*1em; */
		margin-bottom: 0;
	}
	&_hr{
		margin: (20/@bfz)*1em 0;
		/* color: #3B3B3B; */
		opacity: .1;
		border-top: (1/@bfz)*1em solid #3B3B3B;

	}
	.lwin{
		&.nopb{
			padding-bottom: 0;
		}
	}
}
.land_p(){
	font-size: (17/@bfz)*1em;
	color: #3B3B3B;
	font-family: 'Ubuntu';
	line-height: 1.5;
}
.land{
	.container {
		/* width: 1280px; */
		/* max-width: 100%; */
		max-width: 100%;

	}
}

@media screen and (min-width: 1280px)
{

	.land{
		.container {
			width: 1280px;
			//max-width: inherit;


		}
	}
}

@media (max-width: 992px)
{
	.land{
		.vidcont{

			margin:(10/@bfz)*1em 0;

		}
	/* 	.grey{
		padding: (50/@bfz)*1em 0;
	} */
	}

}
@media @desktop-max{

	.land{
		&_h2{
			/* margin-bottom: 0; */
		}
	}
}

@media @tablet-max{
	.row-va-middle [class^=col]{
		margin-left: 0;
		float: left;
		display: block;
	}
}
@media @phone-max{
	.land{
		&-item{
			padding-left: 0;
		}
		&_p{
			@tfz:15;
			font-size: (@tfz/@bfz)*1em;
			line-height: 1.53;
		}
		.video-cont{
			margin-left: -(15/@bfz)*1em;
			margin-right: -(15/@bfz)*1em;
		}
		.sample{
			//height: (230/@bfz)*1em;
		}
		/* .grey{
			padding-top: 0;
			padding-bottom: (40/@bfz)*1em;
			.posr{
				font-size: 14px;
			}
		} */
		&_text{
			padding: 0;
			padding-top: (30/@bfz)*1em;
		}

		&_vidbutton{
			width:  (50/@bfz)*1em;
			height: (50/@bfz)*1em;
		}
		&_h1{
			font-size: (17/@bfz)*1em;
			line-height: 25/17;
		}
		&_h2{
			font-size: (15/@bfz)*1em;
			line-height: 20/15;
		}
		&_hr{
			margin:(15/@bfz)*1em 0
		}
		.white{
			padding-top: (30/@bfz)*1em;
			padding-bottom: (40/@bfz)*1em;
		}
		.pad{
			padding-top: (30/@bfz)*1em;
		}
	}
}
