.lbk{
	background: #ffffff;
	@pfz:17;
	padding: (72/@bfz)*1em 0;
	&_h1
	{
		opacity: 0.7;
		color: #000000;
		font-family: 'Ubuntu';
		@tfz:50;
		font-size: (@tfz/@bfz)*1em;
		/* font-size: (@tfz/@pfz)*1em;  why... */
		font-weight: 500;
		line-height: (59/@tfz)*1em;
	}
	&_text {
		text-align: left;
		display: inline-block;
		vertical-align: middle;
		border-left: (2/@bfz)*1em solid #CFCFCF;
		padding: (2/@bfz)*1em 0;
		padding-left: (54/@bfz)*1em;
		
		p{
			color: #3B3B3B;
			font-family: 'Ubuntu';
			@tfz:22;
			font-size: (@tfz/@bfz)*1em;
			line-height: 1.67;

		}
	}
}

.lbk-2{
	padding: (40/@bfz)*1em 0;
	/* padding: (90/@bfz)*1em 0;
	padding-bottom: 0; */
	background: #fff;
	.white{
		padding: (60/@bfz)*1em 0;

		padding-bottom: (20/@bfz)*1em;
	}
	&-btnhold{
		padding: (60/@bfz)*1em 0;
	}
	.land_btn{
		display: inline-block;
	}
}

@media @desktop-max{
	.lbk{
		&_h1{
			@tfz:35;
			font-size:(@tfz/@bfz)*1em ;
			
		}
	}
}

@media @tablet-max{
	.lbk{
		padding: (28/@bfz)*1em 0;
		&_h1{
			@tfz:35;
			font-size:(@tfz/@bfz)*1em ;
			
			display: block;
			text-align: center;
			margin-bottom: (30/@tfz)*1em;
		}
		&_text{
			border-left: 0;
			padding-left: 0;
			border-top: (2/@bfz)*1em solid #CFCFCF;
			display: block;
			text-align: center;
			padding-top: (20/@bfz)*1em;
		}
	}
}

@media @phone-max{
	.lbk{

		padding: (10/@bfz)*1em 0;
		&_h1{
			@tfz:27;
			font-size:(@tfz/@bfz)*1em ;
			line-height:1.33 ;
		}
		&_text{
			margin-top: (16/@bfz)*1em;
			padding:(16/@bfz)*1em 0;
			padding-left: 0;
			border-left: 0;
			padding-bottom: 0;
			border-top: (2/@bfz)*1em solid #cfcfcf ;
			p{
				font-size: (16/@bfz)*1em;
				line-height: 1.56;
			}
		}
		.text-center{
			text-align: left;
		}
	}
	.land .grey.lbk{
		&-2{
			padding-top: (30/@bfz)*1em;
			padding-bottom: (40/@bfz)*1em;
			
			.land_text{
				padding-top: (30/@bfz)*1em;
			}
			.land_h2{
				margin-bottom: 0;
			}
			.video-cont{
				padding-top: (30/@bfz)*1em;
			}
		}

	}
}

