.lndblc{
	.grey{
		background: #f8f8f8;
		.land{
			&_text{
				padding-left: (56/@bfz)*1em;
			}
		}
	}
	.white{
		background: #fff;
		padding-top: (60/@bfz)*1em;
		padding-bottom: (80/@bfz)*1em;

	}
	.row-va-middle{
		[class^='col']{
			margin-left: -(1.8/@bfz)*1em;
			float: none;
			vertical-align: middle;
			display: inline-block;
		}
	}
}

@media @desktop-max{
	.lndblc{
		.grey{
			.container{
				width: 100%;
				[class^="col"]{
					padding-left: 0;
					padding-right: 0;
				}
			}
			.land{
				&_text{
					padding-left: (36/@bfz)*1em;
				}
				
			}
		}
	}
}

@media @tablet-max{
	.lndblc{
		background-color: #F8F8F8;
		padding: (40/@bfz)*1em 0;
		.white{
			padding-bottom: (20/@bfz)*1em;
		}
		&:nth-child(2n){
			background: #fff;
		}
		.row-va-middle{
			[class^=col] {
				margin-left: 0;
				float: left;
				display: block;
			}
		}
		.grey,.white{
			background: transparent;
		}
		.posr{
			/* width: (608/@bfz)*1em; */
			width: 79%;
			max-width: 100%;
			display: block;
			margin: 0 auto;
			margin-top: (40/@bfz)*1em;
		}
		.land{
			&_h1{
				@tfz:20;
				font-size:(@tfz/@bfz)*1em ;
				line-height: 24/@tfz;
				text-align: center;
			}
			&_h2{
				@tfz:15;
				font-size:(@tfz/@bfz)*1em ;
				line-height: 20/@tfz;
				text-align: center;
			}
		}
	}
}

@media @phone-max{
	.lndblc{
		.land{
			&_text{
				padding: 0;
				padding-left: 0!important;
			}
			&_h1{
				@tfz:20;
				font-size:(@tfz/@bfz)*1em ;
				.bold;
				margin-bottom: (15/@tfz)*1em;
			}
		}
		/* overflow: hidden; */
		.row{
			margin-left: 0;
			margin-right: 0;
		}
		.posr{
			width: 100%;
		}
		.hidden-sm{
			display: none!important;
		}
	}
}