.lpack{
	background-color: #F6F6F6;
	padding: (20/@bfz)*1em 0;

	&.nopt{
		padding-top: 0;
	}

	&_h1{
		opacity: 0.78;
		font-family: 'Ubuntu';
		text-align: center;
		@tfz:34;
		font-size: (34/@bfz)*1em;
		font-weight: 500;
		line-height: 1.1;
		margin: (40/@tfz)*1em 0;
	}
	&_el{

		text-align: center;
		max-width: (305/@bfz)*1em;
		position: relative;
		background: #fff;
		z-index: 1;
		margin: (20/@bfz)*1em auto;
		width: 305px;

		&.vcenter{
			.lpack_text{
				@media screen and (min-width:610px) {
					height: calc(~'100% - 81px');
					justify-content: center;
				}
			}
		}


	}
	&_head{
		position: sticky;
		/* position: absolute; */
		left: 0;
		right: 0;
		top: 0;
		background: #555555;
		padding: (22/@bfz)*1em 0;
		z-index: 3;
		&-reflactor{
			height: 0;
		}
	}
	&_hr{
		border-top: (1/@bfz)*1em dashed #D0D0D0;
	}
	&_h2{
		text-transform: uppercase;
		color: #D5D5D5;
		font-family: 'Ubuntu';
		font-size: (13/@bfz)*1em;
		line-height: 1.07;
		margin-bottom: 0;
	}

	&_name{
		color: #FFFFFF;
		font-family: 'Ubuntu';
		font-size: (22/@bfz)*1em;
		font-weight: 500;
		line-height: 1.13;
		margin-bottom: 0;

	}
	&_text{
		padding: (24/@bfz)*1em (14/@bfz)*1em;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		flex-direction: column;
		p{
			@pfz:14;
			color: #555555;
			font-family: 'Ubuntu';
			font-size: (@pfz/@bfz)*1em;

			line-height: 1.53;
			text-align: center;
			font-weight: 300;
			a, span.orange{
				color: #FF6400;
			}
			a{
				text-decoration: underline;
			}
			span{
				white-space: nowrap;
			}

		}
		button{
			margin-right: auto;
			margin-left: auto;
			@bbfz:17;
			@tfz:15;
			font-size: (@tfz/@bfz)*1em;
			line-height: 1.33;
			margin-bottom: 	(16/@tfz)*1em;
			// &.vcenter{
			// 	@media screen and (min-width:610px) {
			// 		position: absolute;
			// 		left: 50%;
			// 		top: 50%;
			// 		transform: translate(-50%, -50%);
			// 		width: 70%;
			// 	}
			// }
		}
	}
	&_text &_price, &_price{
		color: #555555;
		font-family: 'Ubuntu';
		font-size: (32/@bfz)*1em;
		font-weight: 500;
		line-height: 0.9;
		text-align: center;
	}
	&_inc{
		height: (40/@bfz)*1em;
		&-button{
			height: (63/@bfz)*1em;
		}

	}
	&_icon{
		@tfz:12;
		font-size: (@tfz/@bfz)*1em;
		height: (13/@tfz)*1em;
		width: (13/@tfz)*1em;
		border: (1/@tfz)*1em solid #FF6400;
		line-height: 1;
		display: inline-block;
		text-decoration: none!important;
		font-weight: 500;
		border-radius: 50%;
		position: relative;
		top: -(8/@bfz)*1em;
		text-align: center;
		color: #ff6400;
	}
	&_loop{
		display: flex;
		flex-wrap: wrap;

	}
}

@media @phone-max{
	.lpack{
		&_h1{
			font-size: (17/@bfz)*1em;
			line-height: 25/17;
		}
		&_head{
			/* background: #FF6400; */
		}
		&_name{
			font-size: (20/@bfz)*1em;
			line-height: 24/20;
		}
		&_h2{
			/* display: none; */
		}
	}
}
