.ltvid{

}

@media @desktop-max{
	.ltvid{
		.schs{
			/* Специальный костыль для сергея, он очень просил делать все как в дизайне, игнорирую множество фактов, ну ок */
			padding: (93/@bfz)*1em 0;
			.video-cont{
				margin-left: -21%;
			}
		}
	}
}

@media @tablet-max{
	.ltvid{
		.schs{
			padding: (0/@bfz)*1em 0;
			.vidcont {
				margin: 0;
			}
			.video-cont{
				margin: 0;

			}
		}
	}
}

@media @phone-max{
	.ltvid{
		.schs{
			margin-left: -(15/@bfz)*1em;
			margin-right: -(15/@bfz)*1em;
		}
	}
}