.lwin{
	background-color: #F6F6F6;
	padding-top: (1/@bfz)*1em;
	padding-bottom: (100/@bfz)*1em;

	&_p{
		color: #555555;
		font-family: 'Ubuntu';
		font-size: (14/@bfz)*1em;
		font-weight: 300;
		line-height: 1.8;
		margin-bottom: 0;
		text-align: left;
		.lpack_icon{
			text-align: center;
		}

	}
	&_list{
		width: (304/@bfz)*1em;
		display: inline-block;
		
		padding-left: (30/@bfz)*1em;
		padding-right: (0/@bfz)*1em;

	}
	&_item{
		
	}
	&_bg{
		background: #fff;
	}
	&_h1{
		color: #000000;
		font-family: 'Ubuntu';
		@tfz:22;
		font-size: (@tfz/@bfz)*1em;
		font-weight: 500;
		line-height: 1.72;
		text-align: center;
		padding-top: (28/@bfz)*1em;
		padding-bottom: (21/@bfz)*1em;

	}
	&_hr{
		border-top: (1/@bfz)*1em solid #E7E7E7;
		max-width: 100%;

	}
}

@media @desktop-max{
	.lwin{
		&_bg{
			padding-bottom: (40/@bfz)*1em;
		}
	}
}
@media @tablet-max{
	.lwin{
		&_hr{
			width: (420/@bfz)*1em;
			
		}
	}
}
@media @phone-max{
	.lwin{
		&_bg{
			margin-left: -(15/@bfz)*1em;
			margin-right: -(15/@bfz)*1em;
			padding-left: (15/@bfz)*1em;
			padding-right: (15/@bfz)*1em;
		}
		&_hr{
			
			
		}
	}
}