.msauthor{
	padding: (25/@bfz)*1em 0;
	&_h1{
		@tfz:27;
		font-size:(@tfz/@bfz)*1em ;

		color: #898989;
		font-family: 'Ubuntu';
		
		.med;
		line-height: 31/@tfz;
		text-align: center;
		margin: (40/@tfz)*1em 0;
	}
	&_el{
		width: (414/@bfz)*1em;
		max-width: 100%;
		margin: 0 auto;
		position: relative;
		overflow: hidden;
		border-radius: (6/@bfz)*1em;
		box-shadow: (1/@bfz)*1em (1/@bfz)*1em (4/@bfz)*1em 0 rgba(0,0,0,0.08);
		padding-bottom: (89/@bfz)*1em;
		img{
			max-width: 100%;
			width: 100%;
		}
	}
	&_slide{
		padding: (15/@bfz)*1em;
	}
	&_text{
		.ACenter;

		&:before{
			content: '';
			position: absolute;
			left: -(550/@bfz)*1em;
			right: -(550/@bfz)*1em;
			top: -(580/@bfz)*1em;
			bottom: -(100/@bfz)*1em;
			background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0, rgba(0,0,0,0) 14%, rgba(0,0,0,1) 44%, rgba(0,0,0,1) 100%);
			background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0,rgba(0,0,0,0) 14%,rgba(0,0,0,1) 44%,rgba(0,0,0,1) 100%);
			background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0,rgba(0,0,0,0) 14%,rgba(0,0,0,1) 44%,rgba(0,0,0,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=1 );
		}

	}
	&_bottom{
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		padding: (24/@bfz)*1em (20/@bfz)*1em;
		padding-right: 20%;
	}
	&_name{
		
		color: #FFFFFF;
		font-family: 'Ubuntu';
		@tfz:15;
		font-size:(@tfz/@bfz)*1em ;
		line-height: 24/@tfz;

	}
	&_discr{
		
		color: #FFFFFF;
		font-family: 'Ubuntu';
		@tfz:20;
		font-size:(@tfz/@bfz)*1em ;

		.med;
		line-height: 25/@tfz;
	}
	&_date{
		color: #FF6400;
		font-family: 'Ubuntu';
		@tfz:15;
		font-size:(@tfz/@bfz)*1em ;
		.med;
		line-height: 24/@tfz;
	}

}

@media @desktop-max{
	.msauthor{
		&_el{
			padding-bottom: (88/@bfz)*1em;
		}
	}
}