.mstop{
	background-color: #1d1d1d;
	position: relative;
	min-height: 100vh;
	margin-bottom: (217/@bfz)*1em;
	&_img{
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 0%;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 1;
	}
	&_grad{
		position: absolute;
		// top: -70%;
		top: -73%;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 2;
		background: -moz-radial-gradient(center, ellipse cover, rgba(29,29,29,0) 0, rgba(29,29,29,0.07) 0%, rgba(29,29,29,1) 70%, rgba(29,29,29,1) 100%);
		background: -webkit-radial-gradient(center, ellipse cover, rgba(29,29,29,0) 0,rgba(29,29,29,0.07) 0%,rgba(29,29,29,1) 70%,rgba(29,29,29,1) 100%);
		background: radial-gradient(ellipse at center, rgba(29,29,29,0) 0,rgba(29,29,29,0.07) 0%,rgba(29,29,29,1) 70%,rgba(29,29,29,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001d1d1d', endColorstr='#1d1d1d',GradientType=1 );
	}
	&_cont{
		position: relative;
		margin-top: (84/@bfz)*1em;

		z-index: 3;
	}
	&_hr{
		opacity: .3;
	}
	&_p{
		color: #FFFFFF;
		font-family: 'Ubuntu';
		@tfz:20;
		font-size:(@tfz/@bfz)*1em ;
		line-height: (31/20);

	}
	&_ibtn{
		background: transparent;
		display: inline-block;
		padding: 0;
		margin: 0;
		box-shadow: none;
		border:none;
		text-decoration: none;
	}
	&_h1{
		.h-1 {
			height: 4.37%;
			width: 61.67%;
		}
		color: #FFFFFF;
		font-family: 'Ubuntu';
		@tfz:57;
		margin: (18/@tfz)*1em 0;
		font-size:(@tfz/@bfz)*1em ;
		.bold;
		line-height: (59/@tfz);
		text-align: center;
	}
	&_begin{
		@tfz:24;
		font-size:(@tfz/@bfz)*1em ;
		.med;
		line-height: (36/@tfz);
		color: #FFFFFF;
		font-family: 'Ubuntu';
		margin-bottom: (11/@tfz)*1em;
		.sep{
			display: inline-block;
			height: 100%;
			width: (1/@tfz)*1em;
			background: #fff;
			opacity: .4;
			height: (31/@tfz)*1em;
			vertical-align: middle;
			margin: 0 (16/@tfz)*1em;


		}
	}
	&_btn{
		box-shadow: 0 (8/@tfz)*1em (17/@tfz)*1em 0 rgba(255,100,0,0.4);
		background-color: #FF6400;
		border: (1/@bfz)*1em solid #FF6400;
		color: #FFFFFF;
		font-family: 'Ubuntu';
		@tfz:18;
		font-size:(@tfz/@bfz)*1em ;
		border-radius: (100/@tfz)*1em;
		.med;
		line-height: (17/@tfz);
		text-align: center;
		width: (232/@tfz)*1em;
		padding: (22/@tfz)*1em 0;
		margin: (30/@tfz)*1em 0;
		&:hover{
			background: transparent;
			color: #FF6400;
		}
	}
	&_text, &_list{
		@tfz:18;
		margin: (50/@tfz)*1em 0 ;
		font-size:(@tfz/@bfz)*1em ;
		.light;
		line-height: 29/@tfz;
		color: #E7E7E7;
		font-family: 'Ubuntu';


	}
	&_h2{
		color: #fff;
		font-family: 'Ubuntu';
		@tfz:34;
		font-size:(@tfz/@bfz)*1em ;
		// line-height: 39/@tfz;
		.med;
		margin: (50/@tfz)*1em 0 .5em;
		padding-bottom: .45em;
		position: relative;
		&:after{
			content: '';
			position: absolute;
			bottom:0;
			left: 21.75%;
			right: 21.75%;
			border-top: 1px solid #eee;
		}
		/* font-size: 34px;
		font-weight: 500;
		line-height: 39px;
		text-align: center; */
	}

	.wind{
		margin-bottom: -(187/@bfz)*1em;
	}

}

@media @tablet-max{
	.mstop{
		&_ibtn{
			margin-top: 	(69/@bfz)*1em;
			margin-bottom: 	(10/@bfz)*1em;
		}
		&_p{
			margin-bottom: 0;
		}
		&_h1{
			@tfz:44;
			font-size:(@tfz/@bfz)*1em ;
			margin-bottom: (20/@bfz)*1em;
		}
	}
}

@media @phone-max{
	.mstop{
		&_h1{
			@tfz:30;
			font-size:(@tfz/@bfz)*1em ;

		}
		&_p{
			text-align: center;
			line-height: 1;
			margin-bottom: 0;
		}
		&_ibtn{
			margin: (30/@bfz)*1em 0;
		}
		&_img{
			background-position: 50% (77/@bfz)*1em;
			height: (450/@bfz)*1em;
		}
		&_grad{
			background: -moz-radial-gradient(center, ellipse cover, rgba(29,29,29,0.07) 0, rgba(29,29,29,0) 50%, rgba(29,29,29,1) 70%, rgba(29,29,29,1) 100%);
			background: -webkit-radial-gradient(center, ellipse cover, rgba(29,29,29,0.07) 0,rgba(29,29,29,0) 50%,rgba(29,29,29,1) 70%,rgba(29,29,29,1) 100%);
			background: radial-gradient(ellipse at center, rgba(29,29,29,0.07) 0,rgba(29,29,29,0) 50%,rgba(29,29,29,1) 70%,rgba(29,29,29,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#121d1d1d', endColorstr='#1d1d1d',GradientType=1 );
		}
		&_text{
			background: #fff;
			color: #000;
			margin-left: -(15/@bfz)*1em;
			margin-right: -(15/@bfz)*1em;
			padding: (40/@bfz)*1em (15/@bfz)*1em;
			/* padding-left: (15/@bfz)*1em;
			padding-right: (15/@bfz)*1em;	 */
		}
		&_list{
			margin: 0;
			ul{
				margin: 0;
				padding-left: (10/@bfz)*1em;
			}
		}
		&_h2{
			margin-bottom: 0;
			@tfz:19;
			font-size:(@tfz/@bfz)*1em ;

		}
	}
}
