.package{
	padding-left: (4/@bfz)*1em;
	&.mtb{
		margin-top: (40/@bfz)*1em;
		margin-bottom: (40/@bfz)*1em;
	}
	&_el{
		width: (300/@bfz)*1em;
		margin: (40/@bfz)*1em auto;
		margin-top: (60/@bfz)*1em;
		padding: (24/@bfz)*1em (20/@bfz)*1em;
		padding-bottom: (32/@bfz)*1em;
		background: #fff;
		display: inline-block;
		box-shadow: (1/@bfz)*1em (1/@bfz)*1em (4/@bfz)*1em 0 rgba(0,0,0,0.08);
		display: block;
		/* &:first-child{
			margin-left: -(4/@bfz)*1em;
		}
		&:last-child{
			margin-right: 0;
			} */
		}

		&_n{
			color: #A3A3A3;
			@tfz:13;
			font-size: (@tfz/@bfz)*1em;
			line-height: (14/@tfz)*1em;
			text-align: center;
			text-transform: uppercase;
		}
		&_h2{
			color: #3B3B3B;
			@tfz:22;
			font-size: (@tfz/@bfz)*1em;
			font-weight: 500;
			line-height: (25/@tfz)*1em;
			text-align: center;
			margin-bottom: (21/@tfz)*1em;
		}
		&_list{
			padding: 0;
			margin: 0;
			margin-bottom: (29/@bfz)*1em;
		}
		&_item{
			display: block;
		}

		&_p{
			color: #555555;
			font-family: 'Ubuntu'!important;
			@tfz:15;
			font-size: (@tfz/@bfz)*1em;
			font-weight: 300;
			line-height: (22/@tfz)*1em;
			padding-left: (26/@tfz)*1em;
			&:before{
				@btfz:20;
				font-size: (@btfz/@tfz)*1em;
				margin-left: -(26/@btfz)*1em;
				vertical-align: middle;
				font-family: 'icomoon'!important;
			}
		}
		@pfz:32;
		&_price{
			color: #555555;
			font-size: (@pfz/@bfz)*1em;
			font-weight: 500;
			line-height: (29/@pfz)*1em;
			vertical-align: middle;
			display: inline-block;
			width: 100%;
			text-align: center;
			margin-bottom: (0/@pfz)*1em;
			&-holder{
				padding-top: (19/@pfz)*1em;
				padding-bottom: (21/@pfz)*1em;
				border: (1/@pfz)*1em dashed #D5D5D5;
				border-left: none;
				border-right: none;
				margin-bottom: (15/@pfz)*1em;
			}
		}
		&_yellow{
			color: #FF6400;
			@tfz:19;
			font-size: (@tfz/@pfz)*1em;
			font-weight: 300;
			line-height: (20/@tfz)*1em;
			vertical-align: middle;
			white-space: nowrap;
		}
		&_timelife{
			color: #3B3B3B;
			@tfz:14;
			font-size: (@tfz/@bfz)*1em;
			line-height: (27/@tfz)*1em;
			margin-bottom: 	(24/@tfz)*1em;
			text-align: center;
		}
		&_btn{
			font-family: 'Ubuntu';
			@tfz:17;
			font-size: (@tfz/@bfz)*1em;
			padding: (16/@tfz)*1em (57/@tfz)*1em;
			font-weight: 500;
			line-height: (17/@tfz)*1em;
			text-align: center;
			background: #FF6400;
			border: none;
			box-shadow: none;
			border-radius: (100/@tfz)*1em;
			overflow: hidden;
			color: #fff;
			margin: 0 auto;
			cursor: pointer;
			display: block;
			&:hover{
				background: #ffffff;
				color: #FF6400;
				box-shadow: inset 0px 0px 0px (3/@bfz)*1em #FF6400;
			}
			&:active{
				color: #fff;
			}
			&[disabled]{
				opacity:.3;
				&:hover{
					background: #FF6400;
					color: #fff;
					box-shadow: 0;
				}
			}

		}
	}
	.package2{
		padding-bottom: (28/@bfz)*1em;

		&_n{
			text-align: left;
		}
		&_h2{
			text-align: left;
		}
		&_el{
			width: 100%;
			padding: (40/@bfz)*1em (80/@bfz)*1em;
			padding-bottom: (28/@bfz)*1em;
			margin-bottom: (20/@bfz)*1em;
			margin-top: 0;
			margin-left: 0;
			&:first-child{
				margin-top: (60/@bfz)*1em;
				margin-left: 0;
			}
		}
		&_list{
			display: inline-block;
			vertical-align: top;
			-webkit-columns: auto 2;
			-moz-columns: auto 2;
			columns: auto  2;
			width: 100%;
			&-pd{
				padding-left: (37/@bfz)*1em;
			}
			li{
			//white-space: nowrap;
		}
	}
	&_item{

	}
	@pfz:32;
	&_price{
		width: auto;
		vertical-align: middle;
		margin-bottom: 0;
		margin-right: (10/@pfz)*1em;
		&-holder{
			border-bottom: none;
			padding-left: (3/@pfz)*1em;
			padding-top: (23/@pfz)*1em;
			padding-bottom: 0;
			margin-bottom: 0;
		}
	}
	.package{
		&_yellow{
			@tfz:19;
			font-size: (@tfz/@bfz)*1em;

		}
	}
	&_timelife{
		margin-right: (19/@bfz)*1em;
	}
	&_timelife,&_btn{
		display: inline-block;
		width: auto;
		vertical-align: middle;
		margin-bottom: 0;
	}
	&_left{
		width: (240/@bfz)*1em;
		display: inline-block;
	}
	&_right{
		display: inline-block;
		width: 100%;
		margin-left: -(244/@bfz)*1em;
		padding-left: (300/@bfz)*1em;
		text-align: right;
	}
	&_p{
		&-new{
			color: #00868D!important;
		}
	}
}

@media (max-width:992px){
	.package {
		text-align: center;
		margin: (40/@bfz)*1em 0;
		&_el {
			display: block;
			margin: 0 auto;
			margin-top: (18/@bfz)*1em;

		}

	}
}
@media (max-width:767px){
	.package{
		&2{
			&_el{
				width: (320/@bfz)*1em;
				margin: (20/@bfz)*1em auto;
				padding: (20/@bfz)*1em (24/@bfz)*1em;
				&,&:first-child
				{
					margin-left: auto;
					margin-right: auto;
				}
			}
			&_list{
				-webkit-columns: auto 1;
			}
			&_n,&_h2{
				text-align: center;
			}
			&_left, &_right{
				width: 	100%;
				margin-left: 0;
				margin-right: 0;
				padding-left: 0;
				padding-right: 0;
			}
			&_right{
				text-align: center;
			}
			&_btn{
				margin: (20/@bfz)*1em 0;
			}
			&_timelife{
				width: 	100%;
				margin-left: 0;
				margin-right: 0;
				width: 	100%;
				text-align: center;
			}
		}
	}
}
@media (max-width:415px){
	.package{
		margin-top: 0;
		margin-bottom: 0;
		padding-left: 0;

		&_el {
			width: 100%;
			margin: 0 (8/@bfz)*1em;
			margin-top: (10/@bfz)*1em;
			&:first-child{
				margin-left:  0;
			}
			&:last-child{
				margin-right: 0;
			}
		}
		&_slide{
			padding-right: (8/@bfz)*1em;
			padding-left: (8/@bfz)*1em;
		}
		&2{
			padding: 0 (8/@bfz)*1em;
			margin-top: 0;

			&_list {
				-webkit-columns: 1;
				-moz-columns: 1;
				columns: 1;
			}
			&_right, &_left {
				min-width: (250/@bfz)*1em;
			}
			&_price-holder {
				text-align: center;
			}
			&_el {
				width: 100%;
				margin: 0;
				margin-top: (10/@bfz)*1em;
				display: block;
				margin-top: (8/@bfz)*1em;
				&:first-child{
					margin-top: (8/@bfz)*1em;
				}
			}
		}
	}
}

@media @phone-max{
	.package{
		&_p{
			text-align: left;
			color: #555555;

		}
		&_slide{

			padding-left: (10/@bfz)*1em;
			padding-right: (10/@bfz)*1em;
		}
		&.mtb{
			.grey{
				padding-left: (10/@bfz)*1em;
				padding-right: (10/@bfz)*1em;
			}
			.micon_h1{
				padding-left: (10/@bfz)*1em;
				padding-right: (10/@bfz)*1em;
			}
		}
	}
}
