.platform{
	&_white{
		background: #fff;
		padding: (40/@bfz)*1em 0;
		&.mt{
			margin-top: (40/@bfz)*1em;
		}
	}
}
@media @phone-max{
	.platform{
		section.white{
			.micon_h1{
				@tfz:22;
				font-size:(@tfz/@bfz)*1em ;

				margin-bottom: (30/@tfz)*1em;
			}
		}
		&_white{
			padding-top: -0px;


		}
	}
}
