@media @phone-max{
	.plan{
	/* 	margin-left: -(15/@bfz)*1em;	
	margin-right: -(15/@bfz)*1em;	 */
		.win_head,.collapse_el{
			padding-left:(15/@bfz)*1em!important;
			padding-right:(15/@bfz)*1em!important;
		}

		.win_head{

			background-color: #F6F6F6;
			margin-bottom: (4/@bfz)*1em;
		}
	}

}
