.preloader{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 9999;
  &-circle{
    &Holder{
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      justify-content: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      @media screen and (min-width: 768px) {
        width: 30%;
      }
    }
    background : #FF6400;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 10px;
    opacity: 0;
  }
}

.zoom {
  animation: zoom 1s infinite;
  &.delay{
    &200{
      animation-delay: .2s;
    }
    &400{
      animation-delay: .4s;
    }
  }
}

@keyframes zoom{
  0%{
    opacity: 1;
    transform: scale(0);
  }
  50%{
    transform: scale(1);
  }

  100%{
    opacity: 1;
    transform: scale(0);
  }
}


@circle-length: 151px;
@check-length: 36px;

@keyframes scaleAnimation {
  0% {
    opacity: 0;
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes drawCircle {
  0% {
    stroke-dashoffset: @circle-length;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes drawCheck {
  0% {
    stroke-dashoffset: @check-length;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.successAnimation{
  opacity: 0;
  &Circle {
    stroke-dasharray: @circle-length @circle-length;
    stroke: #FF6400;
  }
  &Check {
    stroke-dasharray: @check-length @check-length;
    stroke: #FF6400;
  }
  &Result {
    fill: #FF6400;
    opacity: 0;
  }
  &.animated {
    animation-delay: .5s;
    animation: 1s ease-out 0s 1 both scaleAnimation;

    .successAnimationCircle {
      animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCircle,
                 0.3s linear 0.9s 1 both fadeOut;
    }

    .successAnimationCheck {
      animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCheck,
                 0.3s linear 0.9s 1 both fadeOut;
    }

    .successAnimationResult {
      animation: 0.3s linear 0.9s both fadeIn;
    }
  }
  &Wrapper{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    opacity:0;
    transition: opacity ease-in .3s;
    &.show{
      opacity:1;
    }
  }

}