.registerForm{
	margin: 0 auto;
	position: relative;
	.modal-content {
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		-ms-border-radius: 0;
		border-radius: 0;
		-webkit-box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.3);
		box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.3);
		// background: #f4f4f4;
		background: #fff;
		border: none;
		width: 100%;
		.modal-header{
			position: relative;
			padding: 30px 0;
			margin: 0 40px;
			border-bottom: 1px solid #e5e5e5;
			h4 {
				font-size: 30px;
				font-weight: 300;
				text-transform: uppercase;
				color: #333;
			}
		}
		.modal-body{
			padding: 40px;

			form{
				// input[type=text], input[type=email]{
				//
				// }
				input, button, .choices__item{
					font-family: 'Ubuntu',sans-serif;
				}
			}

			.hf-message{
				margin-top: 2em;
				&-warning{
					border: 2px solid red;
					padding: 15px;
					text-align: left;
				}
			}
		}
	}
	.form-control {
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		-ms-border-radius: 2px;
		border-radius: 2px;
		-webkit-transition: all .3s ease-in-out;
		-moz-transition: all .3s ease-in-out;
		-ms-transition: all .3s ease-in-out;
		-o-transition: all .3s ease-in-out;
		transition: all .3s ease-in-out;
		-webkit-box-shadow: none;
		box-shadow: none;
		-webkit-appearance: none;
		color: #000;
		border: 1px solid #e6e6e6;
		font-size: 18px;
		font-family: Roboto,"sans serif";
		font-weight: 300;
		width: 100%;
		padding: 13px 20px;
		background: #fff;
		height: 56px;
		&.error{
			border:1px solid red;
		}
	}
	.form-group{
		position: relative;
		.asterisk {
			position: absolute;
			right: 10px;
			top: 5px;
			font-size: 20px;
			color: #eb6767;
			font-weight: 300;
		}
	}
	.errorbox-all{
		background: #ddd;
		border: 1px solid transparent;
		min-height: 2.5em;
		width: 100%;
		padding: 5px 15px;
		color: #333;
		border-radius: 3px;
		margin: 10px auto;
		&.error{
			background: #ffefef;
			border: 1px solid #e91e63;
		}
		&.success{
			background: #effff8;
			border: 1px solid #4caf50
		}
	}

	.btn{
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		-ms-border-radius: 3px;
		border-radius: 3px;
		text-decoration: none;
		font-family: 'ubuntu', sans-serif;
		font-weight: 300;
		display: inline-block;
		font-size: 14px;
		line-height: 1.3;
		&-block {
			display: block;
			width: 100%;
		}
		&:hover {
			opacity: 0.9;
			text-decoration: none;
			color: #333;
			text-decoration: none;
		}
		&.btn-blue_new {
			background-color: #24a0d1;
			border-color: #24a0d1;
			color: #fff;
		}
		&:active, &.active {
			background-image: none;
			outline: 0;
			-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
			box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
		}
		&:focus, &.focus {
			color: #333;
			text-decoration: none;
		}
		&_register {
			font-size: 30px;
			padding: 25px 30px;
			min-height: 92px;
		}
	}
	button, button:focus, button:hover, a, a:focus, a:hover {
		outline: none !important;
	}
	.intl-tel-input{
		width: 100%;
	}
	.mstop_btn{
		margin: 0 auto;
		display: block;
	}
}
.choices{
	&__item{
		font-family: Roboto,"sans serif";
		color: #333;
		font-size: 18px;
		// padding: 3px 20px 3px 47px;
		padding: 3px 20px 3px 9px;
		font-weight: 300;
	}
}
.success{
	&_list{
		list-style-type: none;
		padding-left: 0;
		li{
			display: -webkit-flex;
			display: -ms-flex;
			display: flex;
			align-content: center;
			margin-bottom: 15px;
			.thanks{
				&-text{
					display: -webkit-flex;
					display: -ms-flex;
					display: flex;
					align-items: center;
					align-content: center;
					padding-left: 15px;
					flex-wrap: wrap;
					.congratulations{
						font-size: 24px;
						color: #000;
					}
					.header-presenter {
						display: block;
						width: 100%;
						font-size: 18px;
						margin-bottom: 2px;
						color: #999999;
					}
					.name-presenter{
						font-size: 18px;
						margin-bottom: 2px;
						color: #4da0cf;
						word-break: break-word;
					}
					@media screen and (min-width: 600px) {
						.custom_calendar_text{
							margin-right: 30px;
						}
					}
				}
				&-icon{
					// flex-basis: 130px
					min-width: 101px;
				}
			}
		}
	}
}

.regpage{
	background-color:#f5f6f7;
	.h1{
		font-family: 'ubuntu', 'Arial', sans-serif;
		color: #515a5f;
		padding-bottom: 22px;
		font-size: 20px;
		text-align: center;
		font-weight: 700;
		letter-spacing: 0.77px;
		line-height: 28px;
	}
	.content-box {
		background: #fff;
		border-radius: 6px;
		box-shadow: 0 10px 21px #e7eeef;
		padding-left: 0px;
		padding: 30px 45px;
		position: relative;
		text-align: left;
		width: 100%;
		margin-top: 70px;
		margin-bottom: 100px;
		.form-group {
			margin-bottom: 20px;
		}
		.control-input {
			font-size: 13px;
			line-height: 21px;
		}
		// .form-control {
		// 	padding: 5px 10px;
		// 	height: 40px;
		// 	font-weight: 200;
		// 	margin-bottom: 14px;
		// 	-webkit-transition: all 0.3s ease;
		// 	transition: all 0.3s ease;
		// 	box-shadow: 0 0 1px 1px #FF6400;
		// }
		label {
			color: #47505E;
			font-size: 13px;
			font-weight: 500;
			line-height: 29px;
			letter-spacing: 0.61px;
			&.agree-to-terms {
				text-align: center;
				font-size: 11px;
				line-height: 20px;
			}
			a{
				color: #FF6400;
				&:hover{
					color: #993c00;
				}
			}
		}
		.form-control {
			display: block;
			width: 100%;
			// height: 34px;
			// padding: 6px 12px;
			padding: 5px 10px;
			height: 40px;
			font-weight: 200;
			margin-bottom: 14px;
			font-size: 14px;
			line-height: 1.42857143;
			color: #555;
			// background-color: #fff;
			// background-image: none;
			background-color: #f4f9fb;
			// border: 1px solid #ccc;
			border-radius: 4px;
			// box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
			box-shadow: 0 0 1px 1px #FF6400;
			-webkit-transition: all 0.3s ease;
			transition: all 0.3s ease;
			-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
			-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
			transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
			&:focus{
				background-color: #fff8e6;
				color: #333;
				box-shadow: 0px 1px 1px 0px #f9c4ad;
				border: 0;
			}
		}
		.answer{
			// border: 3px solid;
			// height: 0;
			display: none;
			margin: 20px auto;
			padding: 10px;
			&.error{
				border: 2px solid red;
			}
			&.success{
				border: 2px solid green;
			}
		}
	}
}


.mfp-medium {
	width: 700px;
	max-width: 90%
}
