.regpage{
	background-color: #f6f6f6;
	.h1 {
		font-family: 'Ubuntu',Arial,sans-serif;
		color: #515a5f;
		padding-bottom: 22px;
		font-size: 20px;
		text-align: center;
		font-weight: 700;
		letter-spacing: .77px;
		line-height: 28px;
	}
	.intl-tel-input{
		width:100%;
	}
	.content-box {
		background: #fff;
		border-radius: 6px;
		box-shadow: 0 10px 21px #e7eeef;
		padding-left: 0;
		padding: 30px 45px;
		position: relative;
		text-align: left;
		width: 100%;
		margin-top: 70px;
		margin-bottom: 100px;
		.form-group {
			margin-bottom: 20px
		}

		.control-input {
			font-size: 13px;
			line-height: 21px
		}

		label {
			color: #47505e;
			font-size: 13px;
			font-weight: 500;
			line-height: 29px;
			letter-spacing: .61px
		}

		label.agree-to-terms {
			text-align: center;
			font-size: 11px;
			line-height: 20px
		}

		label a {
			color: #ff6400
		}

		label a:hover {
			color: #993c00
		}

		.form-control {
			display: block;
			width: 100%;
			padding: 5px 10px;
			height: 40px;
			font-weight: 200;
			margin-bottom: 14px;
			font-size: 14px;
			line-height: 1.42857143;
			color: #555;
			background-color: #f4f9fb;
			border-radius: 4px;
			box-shadow: 0 0 1px 1px #ff6400;
			-webkit-transition: all .3s ease;
			transition: all .3s ease;
			-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
			-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
			transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s
		}

		.form-control:focus {
			background-color: #fff8e6;
			color: #333;
			box-shadow: 0 1px 1px 0 #f9c4ad;
			border: 0
		}

		.answer {
			display: none;
			margin: 20px auto;
			padding: 10px
		}

		.answer.error {
			border: 2px solid red
		}

		.answer.success {
			border: 2px solid green
		}
		.error{
			.form-control{
				border:1px solid red;
				-webkit-box-shadow: 0px 0px 5px 0px rgba(255,0,0,1);
				-moz-box-shadow: 0px 0px 5px 0px rgba(255,0,0,1);
				box-shadow: 0px 0px 5px 0px rgba(255,0,0,1);
			}
		}
	}
}

.shakeInput{
	animation: shakeInput 0.82s cubic-bezier(.36,.07,.19,.97) both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
}

@keyframes shakeInput {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
