.rew{
	background: #fff;
	padding: (80/@bfz)*1em;
	&_h1{
		color: #000000;
		font-family: 'Ubuntu';
		@tfz:34;
		font-size: (@tfz/@bfz)*1em;
		font-weight: 500;
		line-height: 1.1;
		margin-bottom: 0;
	}
	&_photo img{
		max-width: 100%;
	}
	&_hr{
		border-top: (1/@bfz)*1em solid #D0D0D0;
		margin: (40/@bfz)*1em 0;
	}
	&_el{
		padding: (50/@bfz)*1em 0;
		p{
			color: #3B3B3B;
			font-family: Arial;
			@tfz:17;
			font-size: (@tfz/@bfz)*1em;
			line-height: 1.52;
			margin-bottom: (20/@tfz)*1em;
			a,span{color: #FF6400;}
			a{
				text-decoration: underline;
			}
		}
	}
	&_el &{
		&_name{
			@tfz:34;
			font-family: 'Ubuntu';
			opacity: 0.78;
			color: #000;
			font-size: (@tfz/@bfz)*1em;
			font-weight: 500;
			line-height: 1.1;
			margin-bottom: (20/@tfz)*1em;
		}
		&_company{
			opacity: 0.78;
			color: #898989;
			font-family: 'Ubuntu';
			font-size: (17/@bfz)*1em;
			line-height: 1.52;
		}
		&_tname{
			opacity: 0.78;
			color: #000000;
			font-family: 'Ubuntu';
			font-size: (24/@bfz)*1em;
			@tfz:24;
			font-weight: 500;
			line-height: 1.583;
			margin-bottom: (30/@tfz)*1em;
		}
	}
}
 
@media @tablet-max{
	.rew{
		padding: (30/@bfz)*1em 0;
		padding-bottom: 0;
		&_photo{
			width: (295/@bfz)*1em;
			margin: (40/@bfz)*1em auto;
		}
		&_h1{
			font-size: (17/@bfz)*1em;
			line-height: 25/17; 
			text-align: center;
		}
		&_el{
			padding-top: (17/@bfz)*1em;
			padding-bottom: (40/@bfz)*1em;
			p{
				font-size: (15/@bfz)*1em;
				line-height: 23/15;
			}
		}
		&_text, &_info{
			max-width: (608/@bfz)*1em;
			margin: auto;
		}
		&_text{
			max-height: (161/@bfz)*1em;
			overflow: auto;
			margin-bottom: (20/@bfz)*1em;
			&::-webkit-scrollbar-track
			{
				border-radius: (10/@bfz)*1em;
			}
			
			&::-webkit-scrollbar
			{
				width: (4/@bfz)*1em;
				background-color: #F6F6F6;
				border-radius: (10/@bfz)*1em;
			}
			
			&::-webkit-scrollbar-thumb
			{
				border-radius: (10/@bfz)*1em;
				background-color: #FF6400;
			}
		}
		&_info{
			p{
				@tfz:17;
				font-size:(@tfz/@bfz)*1em ;
				
			}
		}
		&_el &
		{ 
			&_name{
				font-size: (20/@bfz)*1em;
				line-height: 38/20;
				text-align: center;
				margin-bottom: 0;
			}
			&_company{
				font-size: (15/@bfz)*1em;
				line-height: 20/15;
				text-align: center;
			}
			&_tname{
				@tfz:18;
				font-size: (@tfz/@bfz)*1em;
				margin-bottom: (14/@tfz)*1em;
				line-height: 27/@tfz;
				text-align: center;
			}
		}
		&_hr{

			margin:(20/@bfz)*1em 0; 
			margin-top: 0;
		}
	}
}


@media @phone-max{
	.rew{
		&_photo{
			width: 100%;
			max-width: 100%;
		}
		&_el{
			max-width: (280/@bfz)*1em;
			margin: 0 auto;
		}
		&_text{
			max-height: (300/@bfz)*1em;
		}
	}
}