.soffer{
	background: #fff;
	&_bg{
		// background: rgb(255,255,255);
		// background: -moz-linear-gradient(45deg, rgba(255,255,255,1) -100%, rgba(255,100,0,1) 100%);
		// background: -webkit-linear-gradient(45deg, rgba(255,255,255,1) -100%,rgba(255,100,0,1) 100%);
		// background: linear-gradient(45deg, rgba(255,255,255,1) -100%,rgba(255,100,0,1) 100%);
		// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ff6400',GradientType=1 );
		background: #ffab76;
		background: -moz-linear-gradient(28.34deg, #ffab76 0%, #ff6400 100%);
		background: -webkit-linear-gradient(28.34deg, #ffab76 0%,#ff6400 100%);
		background: linear-gradient(28.34deg, #ffab76 0%,#ff6400 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffab76', endColorstr='#ff6400',GradientType=1 );
		padding-top: (50/@bfz)*1em;
		/* margin-bottom:(190/@bfz)*1em ; */
		padding-bottom: (370/@bfz)*1em;
	}

	&_h1{

		color: #FFFFFF;
		font-family: 'Ubuntu';
		@tfz:43;
		font-size:(@tfz/@bfz)*1em ;
		font-weight: bold;
		line-height: 52/@tfz;
		text-align: center;
		margin-bottom: (30/@tfz)*1em;
	}
	&_info{
		p{
			color: #FFFFFF;
			font-family: 'Ubuntu';
			@tfz:22;
			font-size:(@tfz/@bfz)*1em ;
			line-height: 32/@tfz;
			text-align: center;
			&.bold{

				@tfz:22;
				font-size:(@tfz/@bfz)*1em ;
				font-weight: bold;
				line-height: 32/@tfz;
				text-align: center;
				margin-bottom: 0;
			}
		}
	}
	&_h2{
		color: #FFFFFF;
		font-family: 'Ubuntu';
		@tfz:22;
		font-size:(@tfz/@bfz)*1em ;
		font-weight: bold;
		line-height: 32/@tfz;
		text-align: center;
		margin-bottom: (20/@bfz)*1em ;
	}
	&_p2{
	}
	&_icon{
		@tfz:43;
		font-size:(@tfz/@bfz)*1em ;
		margin:0 (22/@tfz)*1em (16/@tfz)*1em;
		color: #fff;
		display: inline-block;

	}
	&_vbtn{
		width: (55/@bfz)*1em;
		height: (55/@bfz)*1em;
		border-radius: 50%;
		overflow: hidden;
		border: none;
		box-shadow: none;
		background: #fff;
	}

	&_vcont{
		margin: 0 auto;
		/* margin-top: (20/@bfz)*1em;
		margin-bottom: -(140/@bfz)*1em; */
		margin-top: -(370/@bfz)*1em;
		margin-bottom: (40/@bfz)*1em;
		position: relative;
		box-shadow: (1/@bfz)*1em (1/@bfz)*1em (4/@bfz)*1em 0 rgba(0,0,0,0.08);
		img{
			width: 100%;
		}
		&-bottom{
			padding: (40/@bfz)*1em (50/@bfz)*1em;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			text-align: right;
			background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 100%);
			background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%);
			background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#66000000',GradientType=0 );
		}
	}
	&_lable{
		white-space: nowrap;
		p{
			color: #fff;
			display: inline-block;
			vertical-align: middle;
			margin-bottom: 0;
			padding-right: (12/@tfz)*1em;
			font-family: 'Ubuntu';
			@tfz:15;
			font-size:(@tfz/@bfz)*1em ;
		}
		button{
			display: inline-block;
			vertical-align: middle;
		}
	}
	&_p{
		color: #3B3B3B;
		font-family: 'Ubuntu';
		@tfz:19;
		font-size:(@tfz/@bfz)*1em ;
		line-height: 31/@tfz;
		&-org{
			margin-bottom: 0;
			color: #FF6400;
			line-height: 32/@tfz;
		}
		&-lrg{
			@tfz:25;
			font-size:(@tfz/@bfz)*1em ;
			line-height: 32/@tfz;
		}
	}
	&_bt{
		margin: (30/@bfz)*1em 0;
		&:after{
			content: '';
			display: block;
			clear: both;
		}
	}
	&_btn{
		@tfz:16;
		font-size:(@tfz/@bfz)*1em;
		padding-top: (22/@tfz)*1em;
		padding-bottom: (22/@tfz)*1em;
		text-transform: uppercase;
		display: inline-block;
	}

}

@media @desktop-max{
	.soffer{
		&_bg{
			padding-top: (50/@bfz)*1em;
		}
		&_h2{
			@tfz:22;


			margin-bottom: (30/@tfz)*1em;
		}
		&_h1{
			margin-bottom: (10/@bfz)*1em;
		}
	}
}

@media @tablet-max{

	.soffer{
		padding-bottom: (30/@bfz)*1em;
		&_bt{
			&,&>*{text-align: center!important;}
		}
		&_btn{
			@tfz:16;


			margin-top: (30/@tfz)*1em;
		}
		&_bg{
			padding-top: (30/@bfz)*1em;
			padding-bottom: (220/@bfz)*1em;
		}
		&_vcont{

			margin-top: -(200/@bfz)*1em;

		}
	}
}

@media @phone-max-xs{
	.soffer{
		&_bg{
			padding-bottom: (20/@bfz)*1em;
		}
		&_vcont{
			position: relative;

			margin-top: 0;
			margin-left: -(15/@bfz)*1em;
			margin-right: -(15/@bfz)*1em;
		}
		&_lable{
			p{
				display: none;
			}
			width: auto;
			text-align: center;
			position: absolute;
			left: 0;
			right: 0;
			bottom: -(27.5/@bfz)*1em;
			button{
				box-shadow: 0 (2/@bfz)*1em (4/@bfz)*1em 0 rgba(0,0,0,0.5);
			}
		}
		&_p{
			@tfz:16;
			font-size:(@tfz/@bfz)*1em ;
			font-weight: 300;
			line-height: (27/@bfz)*1em;
			text-align: center;
			&-org,&-lrg{
				.regular;
			}
		}

	}
}

@media @phone-max{
	.soffer{
		&_h2{
			@tfz:17;
			font-size:(@tfz/@bfz)*1em ;
		}
		&_h1{
			@tfz:32;
			font-size:(@tfz/@bfz)*1em ;
			margin-bottom: (32/@tfz)*1em;
			margin-top: (0/@tfz)*1em;
		}
		&_vcont{
			&-bottom{
				padding: (20/@bfz)*1em (22/@bfz)*1em;
			}
		}

	}
}
