.start{
	.cover;
	padding-bottom: (42/@bfz)*1em;
	&_top{
		background-position: center;
		background-size: cover;
		min-height: (300/@bfz)*1em;
		height: 52.8vh;
		&-b3{
			background-image: url(../img/bg/b3.jpg);
		}

	}
	&_text{
		padding-top: (18/@bfz)*1em;

	}

}