.steps{
	&_el{

	}
	&_arw{
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		height: (1/@bfz)*1em;
		width: (141/@bfz)*1em;
		height: (25/@bfz)*1em;
		margin: auto;
		margin-right: -20%;

		&:before,&:after{
			content: '';
			display: inline-block;
			position: absolute;

		}
		&:before{
			width: 100%;
			/* height: 1; */
			height: 0;
			border-top: (1/@bfz)*1em solid #979797;
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			margin: auto;
		}
		&:after{
			width: (12/@bfz)*1em;
			height: (12/@bfz)*1em;
			border: (1/@bfz)*1em solid #979797;
			transform: rotate(45deg);
			border-left: 0;
			border-bottom: 0;
			position: absolute;
			top: 0;
			bottom: 0;
			margin: auto;
			right: 0;
		}
	}
	&_img{
		position: relative;
		text-align: center;
		/* &:after{
			@tfz:20;
			display: inline-block;
			width: (202/@tfz)*1em;
			height: (36/@tfz)*1em;
			background-image: url(../img/arrw.jpg);
			background-repeat: no-repeat;
			background-size: cover;
			content: '';
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
			margin: auto;
			margin-right: -20%;
		} */
		img{
			display: block;
			margin: (20/@bfz)*1em auto;
			max-height: (48/@bfz)*1em;
			margin-bottom: (34/@bfz)*1em;
			
		}
		i{
			text-align: center;
			@tfz:48;
			font-size:(@tfz/@bfz)*1em ;
			
			color: #ff6400;
			
			display: inline-block;
		}

	}
	&_text{
		text-align: center;
		width: (300/@bfz)*1em;
		max-width: 100%;
		display: block;
		margin: 0 auto;
		margin-top: (30/@bfz)*1em;
		p{
			color: #3B3B3B;
			font-family: 'Ubuntu';
			@tfz:16;
			font-size:(@tfz/@bfz)*1em ;
			.light;
			line-height: (23/@tfz);
			text-align: center;

		}
	}
}
[class^="col"]:last-child .steps{
	&_img{
		&:after{display: none;}
	}
}

@media @tablet-max{
	.steps{
		&_el{
			
		}
		&_arw{
			display: none;
		}
		&_img{
			&:after{
				/* @tfz:10;
				font-size:(@tfz/@bfz)*1em ; */
				display: 	none;
			}
		}
	}
}

@media @phone-max{
	.steps{
		&_img:after{
			display: none;
		}
		&_arw{
			display: 	none;
		}
	}
}