.team{
	&_h2{
		.h2;
		margin: 40px 0px;
	}
	&_loop{
		margin-left: -20px;
		margin-right: -20px;
		margin-bottom: 70px;
	}
	&_ell{
		background: #fff;
		// width: 280px;
		box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.08);
		margin: 0px 5px;
		display: inline-block;
	}
	&_img{
		width: 100%;
		height: 100%;
		&-holder{
			width: 280px;
			height: 140px;
			box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.08);
		}
	}
	&_ava{
		width: 100%;
		height: 100%;
		&-holder{
			width: 80%;
			margin: 0 auto;
			margin-top: 15px;
			margin-bottom: 20px;
			border-radius: 50%;
			overflow: hidden;
		}
	}
	&_text{
		padding: 0px 15px;
	}
	&_tname{
		color: #555555;
		font-family: 'Ubuntu', sans-serif;
		font-size: 20px;
		// line-height: 20px;
		line-height: 1.2;
		font-weight: 500;
		text-align: center;
		margin-bottom: 13px;
	}
	&_name{
		font-family: 'Ubuntu', sans-serif;
		font-size: 16px;
		font-weight: 300;
		line-height: 25px;
		text-align: center;
		padding: 0px 22px;
		margin-bottom: 21px;
	}
	&_price{
		&-holder{
			padding-top: 15px;
			padding-bottom: 20px;
			border: 1px solid #E0E0E0;
			border-left: none;
			border-right: none;
			border-bottom: none;
			min-height: 200px;
			display: -webkit-box;
			display: -webkit-flex;
			display: -ms-flex;
			display: flex;
			align-items: center;
			.discr{
				text-align: center;
				font-family: 'Ubuntu', sans-serif;
				font-size: 17px;
				font-weight: 300;
				line-height: 1.3;
			}
		}
	}
}
