.tvid{
	position: relative;
	&_poster{
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		max-width: 100%;
		min-height: (500/@bfz)*1em;
		&-hei{
			height: (660/@bfz)*1em;
		}
	}
	&_cont{
		.ACenter;
		.va-center;

	}
	&_middler{
		display: inline-block;
		vertical-align: middle;
		width: 100%;
		margin-left: -(6/@bfz)*1em;
		padding-left: (6/@bfz)*1em;
	}
	&_h1{
		@tfz:48;
		font-size:(@tfz/@bfz)*1em ;
		line-height: (60/@tfz);
		.bold;
		color: #fff;
		font-family: 'Ubuntu';
	}
	&_p{
		@tfz:18;
		font-size:(@tfz/@bfz)*1em ;

		line-height: (28/@tfz);
		color: #FFFFFF;
		margin: (25/@tfz)*1em 0;
	}
	&_btn{
		@tfz:16;
		font-size:(@tfz/@bfz)*1em ;
		color: #fff;
		font-family: 'Ubuntu';
		.bold;
		line-height: (17/@tfz);
		margin: (25/@tfz)*1em 0;
		border-radius: (100/@tfz)*1em;
		// box-shadow: 0 (2/@bfz)*1em (7/@bfz)*1em 0 rgba(255,100,0,0.29);
		// box-shadow: 0 8px 17px 0 rgba(255,100,0,0.4);
		box-shadow: 0 (5/@bfz)*1em (13/@bfz)*1em 0 rgba(255,100,0,0.4);
		background-color: #FF6400;
		text-transform: uppercase;
		border:(2/@tfz)*1em solid #FF6400;
		padding: (21/@tfz)*1em (35/@tfz)*1em;
		transition: color .3s, background-color .3s;
		&:hover{
			background: transparent;
			color: #FF6400;
		}
	}
	&_playicon{
		display: inline-block;
		vertical-align: top;
		cursor: pointer;
		&-mob{
			display: 	none;
		}
	}
	&_arw{
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		text-align: center;
		i{
			color: #fff;
			@tfz:50;
			font-size:(@tfz/@bfz)*1em ;

		}
	}
}

@media @phone-max{
	.tvid{
		&_poster{
			height: (180/@bfz)*1em;
			min-height: 1px;
			position: relative;
		}
		&_cont{
			position: relative;
			padding: (20/@bfz)*1em 0;
			padding-bottom: (40/@bfz)*1em;
		}
		&_playicon{
			display: 	none;
			&-mob{
				display: 	block;
				text-align: center;
				width: (81/@bfz)*1em;
				height: (81/@bfz)*1em;
				.ACenter;
			}
		}
		&_h1{
			@tfz:26;
			font-size:(@tfz/@bfz)*1em ;
			color: 	rgba(0,0,0,0.78);
		}
		&_p{
			@tfz:15;
			font-size:(@tfz/@bfz)*1em ;
			color: #3B3B3B;
			margin: (16/@tfz)*1em auto;
			max-width: (280/@tfz)*1em;

		}
		&_btn{
			@tfz:14;
			font-size:(@tfz/@bfz)*1em ;
			margin: (0/@bfz)*1em 0;
		}
		&_arw{
			display: 	none;
		}

	}
}
