.contdown{
	display: inline-block;
	padding: (10/@bfz)*1em (27/@bfz)*1em;
	background: #fff;
	border-radius: (100/@bfz)*1em;
	margin-top: (20/@bfz)*1em;
	margin-bottom: (20/@bfz)*1em;
	&_holder{
		display: inline-block;
		min-width: (114/@bfz)*1em;
		text-align: center;
			border: 1px solid #D5D5D5;
			border-top: none;
			border-bottom: none;
			border-right: none;
		&:first-child{
			border-left: none;
		}

	}
	&_digit{
		&,&>div{display: inline-block;}
		/* text-align: center; */
		@tfz:45;
		font-size:(@tfz/@bfz)*1em ;
		.medium;
		font-family: 'Ubuntu';
		color: #555555;
		line-height: (44/@tfz);
		

	}
	&_label{
		display: block;

		color: #555555;
		font-family: 'Ubuntu';
		@tfz:14;
		font-size:(@tfz/@bfz)*1em ;
		line-height: (20/14);
		.light;

	}

}

@media @phone-max{
	.contdown{
		font-size: (12/@bfz)*1em;
	}
}

@media @phone-xs-area{
	.contdown{
		@tfz:11.2;
		font-size:(@tfz/@bfz)*1em ;
		
		
		&_holder{
			min-width: (79/@tfz)*1em;
		}
	}
}