.gwind{

	border-radius: (6/@bfz)*1em;
	background-color: #EEEEEE;
	position: relative;
	margin: (40/@bfz)*1em auto;
	padding: (36/@bfz)*1em (68/@bfz)*1em;
	padding-left: (112/@bfz)*1em;
	width: 73.2%;
	position: relative;
	&_decor{
		top: 0;
		left: 0;
		position: absolute;
		width: (100/@bfz)*1em;
		height: (100/@bfz)*1em;
	}
	&_text{
		color: #3B3B3B;
		font-family: 'Ubuntu';
		@tfz:17;
		font-size:(@tfz/@bfz)*1em ;
		line-height: 23/@tfz;
	}
	&_label{
		color: #A3A3A3;
		font-family: 'Ubuntu';
		@tfz:17;
		font-size:(@tfz/@bfz)*1em ;
		line-height: 26/@tfz;
		&:hover{
			color: #ff6400;
		}
	}

}

@media @phone-max{
	.gwind{
		width: 100%;
		padding: (15/@bfz)*1em;
		padding-left: (50/@bfz)*1em;
		&_decor{
			width: (50/@bfz)*1em;
			height: 50px;
		}
	}
}