.micon{
	&_el{
		text-align: center;
		margin:(20/@bfz)*1em 0;
		position: relative;
	}
	&_decor{
		display: inline-block;
		position: absolute;
		/* top: 0; */
		bottom: 0;
		width: (1/@bfz)*1em;
		background: #D5D5D5;
		height: (46/@bfz)*1em;
		margin: auto;
		right: 0;
	}
	&_img{
		img, svg{
			max-height: 100%;
			max-height: (46/@bfz)*1em;
		}
		i{
			font-size: (52/@bfz)*1em;
		}
	}
	&_text{
		height: (48/@bfz)*1em;
		p{
			color: #3B3B3B;
			font-family: 'Ubuntu';
			@tfz:15;
			font-size:(@tfz/@bfz)*1em ;
			line-height: (24/@tfz);
			margin-bottom: 0;
		}
	}
	&_h1{
		text-align: center;
		@tfz:32;
		font-size:(@tfz/@bfz)*1em ;
		line-height: (36/@tfz);
		font-family: 'Ubuntu';
		.bold;
		color: #3B3B3B;
	}
}
@media @tablet-max{
	.tb-text-center{
		margin-left: auto;
		margin-right: auto;
	}
	.micon{
		&_decor{
			display: none;
		}
		&_el-mod &{
			&_img{
				display: 	inline-block;
				width: 	(48/@bfz)*1em;
				vertical-align: middle;

			}
			&_text{
				width: 100%;
				display: 	inline-block;
				margin-left: -(52/@bfz)*1em;
				padding-left: (60/@bfz)*1em;
				text-align: left;
				vertical-align: middle;
				height: auto;
			}
		}
	}
}

@media @phone-max{
	.micon_h1{
		font-size: 	(22/@bfz)*1em;
	}
}
