.msclock{
	display: inline-block;
	width: 40%;
	min-width: 260px;
	&-mrg{
		margin: (60/@bfz)*1em 0;
	}
	&_p{

		color: #A3A3A3;
		font-family: 'Ubuntu';
		@tfz:15;
		font-size:(@tfz/@bfz)*1em ;
		line-height: 17/@tfz;
		text-align: center;
		margin-bottom: (16/@tfz)*1em;
	}
	@hfz:30;
	&_holder{
		display: inline-block;
		vertical-align: middle;
		&:after{
			content: ':';
			padding:0 (7/@hfz)*1em;
		}
		&:last-child{
			&:after{
				display: none;
			}
		}

		color: #FFFFFF;
		font-family: 'Ubuntu';
		font-size:(@hfz/@bfz)*1em ;
		.med;
		line-height:1;
		text-align: center;
	}
	&_digit, &_label{
		display: inline-block;
		vertical-align: bottom;
	}
	&_digit{
		div{
			display: inline-block;
			width: auto;
			vertical-align: middle;
		}
		width: ((17*2)/@hfz)*1em;
		white-space: nowrap;
		overflow: hidden;

	}
	&_hr{

		border-top:(4/@bfz)*1em solid #ff6400;
		margin: (8/@bfz)*1em 0;
	}
	&-dark &{
		&_holder{
			color: #555555;
		}
	}
}

@media @desktop-max{
	.msclock{
		&-mrg{
			margin-top: (10/@bfz)*1em;
			margin-bottom: (30/@bfz)*1em;
		}
		&_holder{
			@tfz:19;
			font-size:(@tfz/@bfz)*1em ;

		}
	}
}
