.scl{
	padding: 0;
	margin: (20/@bfz)*1em auto;
	margin-top: 0;
	// display: inline-block;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	li{
		display: inline-block;

		text-align: center;

		// margin: 0 (9/@bfz)*1em;
		flex-basis: (60/@bfz)*1em;
		padding: (6/@bfz)*1em;
		&:first-child{
			margin-left: 0;
		}
		&:last-child{
			margin-right: 0;
		}
		a{
			@tfz:17;
			font-size:(@tfz/@bfz)*1em ;

			// line-height: (48/@tfz)*1em;
			/* color: #D5D5D5; */
			color: #898989;
			text-decoration: none!important;

			width: (48/@bfz)*1em;
			line-height: (48/@bfz)*1em;
			border-radius: 50%;
			border: (1/@bfz)*1em solid #D5D5D5;
			display: inline-block;
		}
	}
	&_p{
		color: #A3A3A3;
		font-family: 'Ubuntu';
		@tfz:19;
		font-size:(@tfz/@bfz)*1em ;
		line-height: 23/@tfz;

	}
}
