.wind{
	border-radius: (6/@bfz)*1em;
	box-shadow: 0 (2/@bfz)*1em (44/@bfz)*1em 0 rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	padding: (50/@bfz)*1em (50/@bfz)*1em;
	&_h1{

		color: #3B3B3B;
		font-family: 'Ubuntu';
		@tfz:34;
		font-size:(@tfz/@bfz)*1em ;
		line-height: 39/@tfz;
		.med;
		text-align: center;
	}
	&_p {
		a{ color: #FF6400;}
		font-family: 'Ubuntu';
		@tfz:17;
		font-size:(@tfz/@bfz)*1em ;
		color: #8a8a8a;
		line-height: 28/@tfz;

		text-align: center;
	}
	&_form{
		text-align: center;
		position: relative;
		.preloader{
			position: absolute;
		}
		.hf{
			&-message{
				&-warning{
					border: 2px solid red;
					padding: 15px;
					text-align: left;
				}
			}
			&-fields-wrap{
				position: relative;
			}
		}
	}
	&.small{
		padding: (44/@bfz)*1em (44/@bfz)*1em;
		.wind_inpholder{
			@tfz:19;
			padding: (15/@tfz)*1em (42/@tfz)*1em;
		}
	}
	&_input{
		text-align: left;
		display: inline-block;
		vertical-align: middle;
		width: 34.2%;
		font-family: 'Ubuntu';
		@tfz:19;
		font-size:(@tfz/@bfz)*1em ;



		line-height: 24/@tfz;
		padding-bottom: (9/@tfz)*1em;
		padding-top: (9/@tfz)*1em;
		border: none;
		background: transparent;
		box-shadow: none;
		border-bottom: (1/@tfz)*1em solid #E6E6E6;
		margin: (39/@tfz)*1em (42/@tfz)*1em;
		margin-top: (8/@tfz)*1em;
		color: #555555;
		&.focused
		{
			.med;
		}

		&.error{
			border-bottom: (1/@tfz)*1em solid red;
		}
	}
	&_label{
		display: block;
		text-align: center;
		color: #FF6400;
		@tfz:17;
		font-size:(@tfz/@bfz)*1em ;
		cursor: pointer;
		line-height: 19/@tfz;
		font-family: 'Ubuntu';

		input{
			display: none;
		}
		.icon{
			position: relative;
			display: inline-block;
			vertical-align: bottom;
			width: (18/@tfz)*1em;
			height: (18/@tfz)*1em;
			i{
				.ACenter;
				font-size: (18/@tfz)*1em;
				color: #FF6400;
				opacity: 1;
				&+i{
					opacity: 0;
				}
			}
		}
		input:checked +			.icon{
			i{
				opacity: 0;
				&+i{
					opacity: 1;

				}
			}
		}
	}
	&_inpholder{
		@tfz:19;
		padding: (39/@tfz)*1em (42/@tfz)*1em;
		.intl-tel-input{
			width: 100%;
		}
		.wind_input{
			width: 100%;
			margin: 0 auto;
		}
		flex-basis: 100%;
		@media screen and (min-width:992px) {
			&.width-{
				&25{
					flex-basis: 25%;
				}
				&50{
					flex-basis: 50%;
				}
				&75{
					flex-basis: 75%;
				}
				&100{
					flex-basis: 100%;
				}
			}
		}
		&.text-center{
			input{
				text-align: center;
			}
		}
	}
}

@media @phone-max{
	.wind{
		padding: (15/@bfz)*1em;
		margin-left: -(15/@bfz)*1em;
		margin-right: -(15/@bfz)*1em;
		padding-bottom: (40/@bfz)*1em;
		&_input{
			display: block;
			width: 100%;
			margin-left: 0;
			margin-right: 0;
		}
		&_h1{
			@tfz:19;
			font-size:(@tfz/@bfz)*1em ;

		}
		&_p{
			@tfz:16;
			font-size:(@tfz/@bfz)*1em ;

		}
		&.small{
			// margin-top: 16em;
			.wind_h1{
				font-size:(35/@bfz)*1em ;
				font-weight: 600;
			}
		}
	}
}
