@Black:900;
@Bold:700;
@ExtraBold:800;
@ExtraLight:200;
@Light:300;
@Medium:500;
@Normal:400;
@SemiBold:600;
@Thin:100;
//.font(@fontname:'Muller',@fontpath:"../font/Muller" , @fontpref:"Black",@fweight:900,@fital:normal);

.Black,.black{font-weight: @Black }
.Bold,.bold{font-weight: @Bold }
.ExtraBold,.ebold{font-weight: @ExtraBold }
.ExtraLight,.elight{font-weight: @ExtraLight }
.Light,.light{font-weight: @Light }
.Medium,.medium,.med{font-weight: @Medium }
.Normal,.normal,.regular{font-weight: @Normal }
.SemiBold,.sbold{font-weight: @SemiBold }
.Thin,.thin{font-weight: @Thin }
.italic{font-style: italic;}

.font(@fontname:'XXIIGeomDEMO',@fontpath:"../font/XXIIGeomDEMO" , @fontpref:"-Regular",@fweight:400,@fital:normal);
.font(@fontname:'XXIIGeomDEMO',@fontpath:"../font/XXIIGeomDEMO" , @fontpref:"-Bold",@fweight:700,@fital:normal);

.xx{
	font-family: 'XXIIGeomDEMO';
}