/* @import url(compil.less);
@import url(myTools.3.2.less); */
/* .font(@fontname:'XXIIGeomDEMO',@fontpath:"../fonts/XXIIGeomDEMO" , @fontpref:"-Regular",@fweight:400,@fital:normal);
.font(@fontname:'XXIIGeomDEMO',@fontpath:"../fonts/XXIIGeomDEMO" , @fontpref:"-Bold",@fweight:700,@fital:normal);
*/
@bfz:14;
.xx{
	font-family: 'XXIIGeomDEMO';
}
*,*:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none!important;

}
.js_hidde{
	overflow: hidden;
}
.sample{
	width: 100%;
	opacity: 0;
}
a,button,.collapse_list,i,.star_hider,.js_hidde{
	.transition()
}
html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
@bfz:14;
body{
	font-size: @bfz*1px;
	/* width: (1300/@bfz)*1em; */
	max-width: 100%;
	display: block;
	margin: 0 auto;
	font-family: 'Ubuntu', sans-serif;
	.regular;
	background: #e9e9e9;
}
footer{
	background: #3b3b3b;
	z-index: 30;
	padding: (24/@bfz)*1em 0 (27/@bfz)*1em;
	// box-sizing: border-box;
	// border-top: (45/@bfz)*1em solid #f6f6f6;
	// padding-bottom: (27/@bfz)*1em;
	// &:before{
	// 	content:'';
	// 	padding-top: (45/@bfz)*1em;
	// 	display: block;
	// 	position: relative;
	// }
}
h2,.h2{
	color: #3B3B3B;
	font-family: 'Ubuntu';
	@tfz:21;
	font-size: (@tfz/@bfz)*1em;
	font-weight: bold;
	line-height: (25/@tfz)*1em;
	text-align: center;
}
a,button,.slick-dots li,.hmenu_mbutton span{
	.transition();
}
main.content{
	//max-width: (1300/@bfz)*1em;
	background: #f6f6f6;
	&-full{
		max-width: 100%;
	}
}
.vis{
	&:visited{
		color: #000!important;
	}
}
.call-cls;
.row{
	margin-left: -(15/@bfz)*1em;
	margin-right: -(15/@bfz)*1em;
	&-drow{
		margin-right:-(30/@bfz)*1em;
		margin-left: -(30/@bfz)*1em;
	}
	&-va-middle{
		/* @tfz:0; */
		/* font-size: (@tfz/@bfz)*1em; */

		[class^='col']{
			margin-left: -(6/@bfz)*1em;
			float: none;
			vertical-align: middle;
			display: inline-block;
		}

	}
}
.imgasbg(){
	min-width: 100%;
	min-height: 100%;
	.ACenter(@top:-100%,@left:-100%,@right:-100%,@bottom:-100%);
}
.h2(){
	color: #3B3B3B;
	@tfz:22;
	font-size: (@tfz/@bfz)*1em;
	font-weight: 500;
	line-height: (25/@tfz)*1em;
	text-align: center;
	margin-bottom: (28/@tfz)*1em;
}
.posr{
	position: relative;
}
.posa{
	position: absolute;
}
.poss{
	position: static;
}
.xs-show,.xs-xs-show,.sm-show{
	display: none!important;
}
.light{
	font-weight:300;
}
.regular{
	font-weight:400;
}
.medium{
	font-weight:500;
}
.bold{
	font-weight:700;
}
.italic{
	font-style: italic;
}
.enrolled-in-course-alert{
	position: absolute;
	z-index: 2;
	top: 100px;
	left: 50%;
	transform: translate(-50%);
}
section.white,.section{
	background: #fff;
	padding: (40/@bfz)*1em 0;
	margin-top: (45/@bfz)*1em;
	.h1,h1{
		margin:(20/@bfz)*1em 0;
	}
}
.sect{
	margin-top: (45/@bfz)*1em;
}
.grey{
	background: #F6F6F6;
}
.white{
	background: #fff;
}
section.container{
	width: (940/@bfz)*1em;
	max-width: 100%;
	display: block;
	margin: 0 auto;
	padding: 0 (15/@bfz)*1em;
	max-width: (1300/@bfz)*1em;
	&-full{
		width: 100%;

	}
	&-big{
		width: (1170/@bfz)*1em;

	}
}

.va-center{
	&:before{
		display: inline-block;
		vertical-align: middle;
		height: 100%;
		margin-left: -(4/@bfz)*1em;
		width: 0;
		content: '';
	}
}
.middler{
	display: inline-block;
	vertical-align: middle;
	margin: auto;
	min-width: 100%;
	margin-left: -(6/@bfz)*1em;
}
.ta-center{
	text-align: center;
}
header{
	padding: (22/@bfz)*1em 0;
	background: #fff;
	box-shadow: (1/@bfz)*1em (1/@bfz)*1em (4/@bfz)*1em 0 rgba(0,0,0,0.08);
	.package_btn{
		display: inline-block;
	}
}
.logo{
	&-holder{
		display: inline-block;
		vertical-align: middle;
		width: auto;
		white-space: 	nowrap;
		position: relative;
		z-index: 2;
		a{
		}
	}
	&-link{
		text-decoration: none;
		@tfz:11.1;
		font-size:(@tfz/@bfz)*1em ;

	}
	&-link{
		&:hover{
			text-decoration: none!important;
		}
	}
	&_img{
		width: (256/@bfz)*1em;
		height: (36/@bfz)*1em;
		&-mob{


			display: none;
			&.png{

				width: auto;
			}
		}
		&-educt{
			width: 100%;
			display: block;
			margin-left: -(15/@bfz)*1em;
		}
	}
	&-text{
		font-family: 'XXIIGeomDEMO';
		letter-spacing: 0.18em;
		@tfz:16;
		font-size: (@tfz/@bfz)*1em;
		text-transform: uppercase;
		display: inline-block;
		vertical-align: middle;
		margin-bottom: (0/@tfz)*1em;
		color: #575756;
	}
	&_headicon {

		@tfz:50;
		font-size: (@tfz/@bfz)*1em;
		vertical-align: middle;
		margin-right: (10/@tfz)*1em;
		display: inline-block;
		vertical-align: middle;
		color: #ED7547;
		line-height: (36/@tfz)*1em;
	}
}
.hmenu{
	&-hider{
		text-align: right;
	}
	&-holder{
		width: 100%;
		display: inline-block;
		vertical-align: middle;
		/*
		margin-left: -(338/@bfz)*1em;
		padding-left: (338/@bfz)*1em;
		padding-right: (80/@bfz)*1em;
		*/
	}

	&_mbutton{
		display: none;
		width: (30/@bfz)*1em;
		height: (27/@bfz)*1em;
		span{
			width: (26/@bfz)*1em;
			height: (1/@bfz)*1em;
			background: #979797;
			display: block;
			margin: (6/@bfz)*1em auto;
			transform:rotate(0deg);
			position: relative;
			top: 0;
			opacity: 1;
		}
		&.active{
			span{
				&:nth-child(2) {
					transform: rotate(45deg);
				}

				&:last-child {
					top: -(7/@bfz)*1em;
					transform: rotate(-45deg);
				}

				&:first-child {
					opacity: 0;
				}

			}
		}
	}

	&_list{
		display: inline-block;
		vertical-align: middle;
		padding: 0;
		margin: 0;

	}
	&_item{
		display: inline-block;
		text-align: left;
		margin-right: (24/@bfz)*1em;
		vertical-align: middle;
		&:last-child{
			margin-right: 0;
		}

	}
	&_link{
		color: #898989;
		@tfz:14;
		font-size: (@tfz/@bfz)*1em;
		&.package_btn{
			@tfz:17;

			text-decoration: none!important;
			margin-top: -(6/@tfz)*1em;
			margin-bottom: -(6/@tfz)*1em;
		}
	}
	&_avatar{
		width: 100%;
		height: 100%;
		&-holder{
			width: (36/@bfz)*1em;
			height: (36/@bfz)*1em;
			border-radius: 50%;
			overflow: hidden;
		}
	}
	&_list-yellow {

		&:before{
			height: (32/@bfz)*1em;
			width: 1px;
			vertical-align: middle;
			display: inline-block;
			content: '';
			margin: 0 (12/@bfz)*1em;
			background: #898989;
			opacity: .5;
		}
	}
	&_list-yellow &{
		&_link{
			color: #ff6400;
		}

	}
}
.topimg{
	min-height: (300/@bfz)*1em;
	position: relative;
	overflow: hidden;
	z-index: 1;
	&-pdbot{
		padding-bottom: (100/@bfz)*1em;
	}
	&_holder{
		background: -webkit-linear-gradient(#FFA0A0 0%, #2B8997 100%);
		background: -o-linear-gradient(#FFA0A0 0%, #2B8997 100%);
		background: linear-gradient(#FFA0A0 0%, #2B8997 100%);
		min-height: 100%;
	}
	&_bg{
		/* width: 100%;
		min-height: 100%;
		z-index: 1;*/
		//.imgasbg();
		/* opacity: .2; */
		min-width: 100%;
		// height: 100%;
		position: absolute;
		left: -100%;
		right: -100%;
		margin: auto;
		width: auto;
	}
	&_btn{
		cursor: pointer;
		width: (90/@bfz)*1em;
		height: (90/@bfz)*1em;

		.ACenter;
		&-img{
			.imgasbg();
		}
		&-p{
			color: #FFFFFF;
			@tfz:15;
			font-size: (@tfz/@bfz)*1em;
			margin-top: (24/@tfz)*1em;
			font-weight: 300;
			line-height: (17/@tfz)*1em;
		}
	}
	&_cont{
		padding: (150/@bfz)*1em 0;
		position: relative;
		z-index: 2;
		text-align: center;
	}
	&_h2{
		@tfz:37;
		font-size: (@tfz/@bfz)*1em;
		color: #fff;
	}
	&_p{
		@tfz:20;
		font-size: (@tfz/@bfz)*1em;
		color: #fff;
	}
}
.cover{
	box-shadow: (1/@bfz)*1em (1/@bfz)*1em (4/@bfz)*1em 0 rgba(0,0,0,0.08);
	background:#fff;
	padding-bottom: (1/@bfz)*1em;
	margin-bottom: -(1/@bfz)*1em;
	position: relative;
	z-index: 2;
	&_avaholder{
		text-align: center;

	}
	&_avatar{
		height: (60/@bfz)*1em;
		width: (60/@bfz)*1em;
		border-radius: 50%;
		overflow: hidden;
		overflow: hidden;
		display: inline-block;
		margin-top: -(31/@bfz)*1em;
		margin-right: (10/@bfz)*1em;
		border-radius: 50%;
		overflow: hidden;
		-webkit-filter: grayscale(100%);
		-moz-filter: grayscale(100%);
		-ms-filter: grayscale(100%);
		-o-filter: grayscale(100%);
		filter: grayscale(100%);
		filter: gray;
		-webkit-filter: grayscale(1);
		&:last-child{
			margin-right: 0;
		}
	}
	&_autor{
		color: #FF6400;
		@tfz:15;
		font-size: (@tfz/@bfz)*1em;
		line-height: (17/@tfz)*1em;
		text-align: center;
		max-width: (278/@tfz)*1em;
		margin: (15/@tfz)*1em  auto;
	}
	&_h1{
		color: #3B3B3B;
		@tfz:26;
		font-size: (@tfz/@bfz)*1em;
		font-weight: 500;
		line-height: (36/@tfz)*1em;
		margin:(32/@tfz)*1em auto;
		margin-bottom: (16/@tfz)*1em;
		text-align: center;
		width: (678/@tfz)*1em;
	}
	&_lid {
		margin: 0 auto;
		//width: (677/@bfz)*1em;
		color: #3B3B3B;
		@tfz:17;
		font-size: (@tfz/@bfz)*1em;
		font-weight: 300;
		line-height: (29/@tfz)*1em;
		text-align: center;
	}
	&_btn{
		display: block;
		@tfz:14;
		font-size: (@tfz/@bfz)*1em;
		margin: (28/@tfz)*1em auto;
		height: (57/@tfz)*1em;
		width: (209/@tfz)*1em;
		border-radius: (100/@tfz)*1em;
		background-color: rgba(255,255,255,0.9);
		box-shadow: 0 (2/@tfz)*1em (7/@tfz)*1em 0 rgba(255,100,0,0.29);
		border: none;
		color: #FF6400;
		line-height: (57/@tfz)*1em;
		text-align: center;
		&:hover{
			box-shadow: 0 (2/@tfz)*1em (7/@tfz)*1em (7/@bfz)*1em rgba(255,100,0,0.29);
			color:#fff;
			background: #FF6400;
			text-decoration: none;
		}
	}
}
.sponsor{
	margin: (40/@bfz)*1em 0;
	text-align: center;
	&_p{
		color: #898989;
		display:inline-block;
		@tfz:13;
		font-size: (@tfz/@bfz)*1em;
		line-height: (14/@tfz)*1em;
		margin: (0/@tfz)*1em;
		margin-right: (10/@tfz)*1em;
		vertical-align: middle;
	}
	&_img{
		display: inline-block;
		vertical-align: middle;
		height: (22/@bfz)*1em;
		width: 138;
	}
}
.win{
	display: block;
	margin: (40/@bfz)*1em auto;
	margin-bottom: 0;
	background-color: #FFFFFF;
	box-shadow: (1/@bfz)*1em (1/@bfz)*1em (4/@bfz)*1em 0 rgba(0,0,0,0.08);
	padding: (40/@bfz)*1em (80/@bfz)*1em;
	padding-bottom: (36/@bfz)*1em;
	position: relative;
	&-swipe{
		margin: 0;
		margin-top: -(40/@bfz)*1em;
	}
	&-shadow{
		box-shadow: 0 0 (40/@bfz)*1em 0 rgba(0, 0, 0, 0.2);
		position: relative;
		z-index: 2;

	}
	&-top{
		margin-top: 0;
		padding: 0;
		padding-right: (20/@bfz)*1em;
		padding-left: (20/@bfz)*1em;
		padding-top: (1/@bfz)*1em;
		padding-bottom: (17/@bfz)*1em;
	}
	&-vid{
		margin-top: 0;
		padding: 3.7rem (20/@bfz)*1em;
	}
	&_p, p, li{
		color: #3B3B3B;
		@tfz:16;
		font-size: (@tfz/@bfz)*1em;
		font-weight: 300;
		line-height: (27/@tfz)*1em;
		margin-bottom: (10/@tfz)*1em;
	}
	p.win_h2, &_h2{
		.h2();
		&-head{
			text-align: left;
			margin-bottom: 0;
			display: inline-block;
			vertical-align: middle;
			width: 50%;
			margin-right: -(4/@bfz)*1em;
		}
		&-left{
			text-align: left;
			margin-bottom: (20/@bfz)*1em;
		}
	}
	p.win_h3, &_h3{
		.bold;
		text-transform: uppercase;
		@tfz:17;
		font-size: (@tfz/@bfz)*1em;
		line-height: (33/@tfz)*1em;
		margin:(16/@tfz)*1em (0/@tfz)*1em;
		text-align: center;
	}
	&_name{
		color: #3b3b3b;
		@tfz:15;
		font-size: (@tfz/@bfz)*1em;
		font-weight: 500;
		line-height: (27/@tfz)*1em;
	}
	&_link,a{
		color: #FF6400;
		@tfz:14;
		font-size: (@tfz/@bfz)*1em;
		line-height: (27/@tfz)*1em;
		text-align: center;
		text-align: center;
		display: inline-block;
		margin-top: (10/@tfz)*1em;
		&.btn{
			color:#fff;
			&:hover{
				color: #FF6400;
			}
		}
	}
	&_head{
		margin-bottom: (40/@bfz)*1em;
	}
	&_headlist{
		width: 50%;
		display: inline-block;
		vertical-align: middle;
		margin-left: -(4/@bfz)*1em;
		text-align: right;
		&.text-center{
			text-align: center;
		}
	}
	&_img{
		width: ahto;
		max-width: 100%;
		margin: 0 auto;
		display: block;

		&-holder{
			width: (240/@bfz)*1em;
			display: inline-block;
			margin-left: -(40/@bfz)*1em;
			vertical-align: middle;
		}
	}
	&_text{
		margin-left: -(240/@bfz)*1em;
		padding-left: (280/@bfz)*1em;
		display: inline-block;
		width: 100%;
		vertical-align: middle;
	}
	&.plan{
		margin-bottom: (60/@bfz)*1em;
	}
	ul>li>p{
		margin-bottom: 0;
	}
	.author_el{
		margin-left: 0;
		margin-right: 0;
	}
	&-container{
		margin: 0 auto;
		vertical-align: middle;
		width: 76%;
		min-width: (330/@bfz)*1em;
		text-align: left;
	}
	img, p img{
		max-width: 100%;
	}
}
.present{

	height: (440/@bfz)*1em;
	position: relative;
	overflow: hidden;
	/* margin-right: -(15/@bfz)*1em;
	margin-left: -(15/@bfz)*1em; */
	&_img{
		width: 100%;
		opacity: 0.2;
		.imgasbg();
	}
}
.listinfo{
	padding: 0;
	margin: 0;
	&_item{
		display: inline-block;
		padding: 0 (9/@bfz)*1em;
		margin-right: -(4/@bfz)*1em;
		padding-right: (9/@bfz)*1em;
		vertical-align: middle;
		position: relative;
		text-align: left;
		&:after{
			display: inline-block;
			width: (1/@bfz)*1em;
			height: (20/@bfz)*1em;
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			margin: auto;
			content: '';
			background: #E7E7E7;
		}
		&:last-child{
			padding-right: 0;
			&:after{
				display: none;
			}
		}
	}
	&_p{
		color: #898989;
		@tfz:14;
		font-size: (@tfz/@bfz)*1em;
		line-height: (25/@tfz)*1em;
		margin: (0/@tfz)*1em;
		&-button{
			cursor: pointer;
			color: #FF6400;
			width: (101/@bfz)*1em;
			text-align: right;
		}
		span{
			&:nth-child(2){
				display: none;
			}
		}
		&.active{
			span{
				&:nth-child(1){
					display: none;
				}
				&:nth-child(2){
					display: inline-block;
				}
			}
		}
	}
}
.collapse{
	margin: 0;
	padding: 0;
	display: block;
	width: 100%;
	&_list{
		margin: 0;
		padding: 0;
		max-height: 0;
		overflow: hidden;
		&.js-collapse{

		}
	}
	&_item{
		cursor: pointer;
		display: block;
		width: 100%;
		margin-bottom: (10/@bfz)*1em;
		&.active{
			.collapse_list{
				max-height: (9999/@bfz)*1em;
			}
			.collapse_icon{
				transform: scale(-1);
			}
		}
	}
	&_el,&_citem{
		padding-top:(15/@bfz)*1em;
		padding-right: (20/@bfz)*1em;
		padding-left: (12/@bfz)*1em;
		padding-bottom: (14/@bfz)*1em;
		background: #F6F6F6;
	}
	&_citem{
		border-bottom: (1/@bfz)*1em solid #E7E7E7;
		display: block;
		margin-top: (1/@bfz)*1em;
		background: #fff;
		padding-top:(11/@bfz)*1em;
		padding-bottom: (12/@bfz)*1em;

		&:first-child{
			border-top:  (1/@bfz)*1em solid #E7E7E7;
		}
		&:hover,&-demo{
			.collapse{
				&_cicon{
					&:before{color: #FF6400;}
				}
			}
		}
	}
	&_name{
		display: inline-block;
		vertical-align: middle;
		color: #3B3B3B;
		@tfz:15;
		font-size: (@tfz/@bfz)*1em;
		font-weight: 500;
		line-height: (27/@tfz)*1em;
		width: 100%;
		margin: (0/@tfz)*1em;
		margin-right: -(154/@tfz)*1em;
		padding-right: (154/@tfz)*1em;
		margin-left: -(24/@tfz)*1em;
		padding-left: (33/@tfz)*1em;
	}
	&_cname{
		width: 100%;
		color: #333;
		font-size: (@tfz/@bfz)*1em;
		margin: (0/@tfz)*1em;
		margin-right: -(268/@tfz)*1em;
		padding-right: (268/@tfz)*1em;
		margin-left: -(24/@tfz)*1em;
		padding-left: (33/@tfz)*1em;
		line-height: (20/@tfz)*1em;
		display: inline-block;
		@tfz:14;
		vertical-align: middle;
		text-decoration: none!important;
	}
	&_lnumb{
		color: #898989;
		display: inline-block;
		@tfz:14;
		font-size: (@tfz/@bfz)*1em;
		line-height: (27/@tfz)*1em;
		margin: (0/@tfz)*1em;
		margin-right: (14/@tfz)*1em;
		text-align: right;
		vertical-align: middle;
	}
	&_date{
		display: inline-block;
		font-size: (@tfz/@bfz)*1em;
		margin: (0/@tfz)*1em;
		text-align: right;
		width: (50/@tfz)*1em;
		vertical-align: middle;
		@tfz:15;
		line-height: (27/@tfz)*1em;
		text-align: right;
		color: #898989;
	}
	&_rs,&_crs{
		width: (150/@bfz)*1em;
		display: inline-block;
		vertical-align: middle;
		text-align: right;
	}
	&_crs{
		width: (264/@bfz)*1em;
		margin-top: -(20/@bfz)*1em;
		margin-bottom: -(20/@bfz)*1em;
	}
	&_icon{
		transform:scale(1);
	}
	&_icon,&_cicon{
		font-size: (@tfz/@bfz)*1em;
		width: (20/@tfz)*1em;
		@tfz:20;
		display: inline-block;
		vertical-align: middle;
		&:before{color:#A3A3A3;}
	}
	&_cicon{
		margin-top: -(20/@bfz)*1em;
		margin-bottom: -(20/@bfz)*1em;
		text-decoration: none;
		&:before{color: 	#D5D5D5;  transition: color .3s}
	}
	&_prev{
		color: #FF6400;
		font-size: (@tfz/@bfz)*1em;
		margin: (0/@tfz)*1em;
		margin-right: (14/@tfz)*1em;
		@tfz:14;
		text-align: right;
		line-height: (27/@tfz)*1em;
	}
}
.author{
	background: #fff;
	padding: (40/@bfz)*1em 0;
	padding-bottom: (20/@bfz)*1em;
	box-shadow: (1/@bfz)*1em (1/@bfz)*1em (4/@bfz)*1em 0 rgba(0,0,0,0.08);
	&_el{
		margin-left: (78/@bfz)*1em;
		margin-right: (85/@bfz)*1em;
	}

	&_h2{
		.h2;
	}
	&_avat-holder{
		width: (140/@bfz)*1em;
		height: (140/@bfz)*1em;
		position: relative;
		border-radius: 50%;
		overflow: hidden;
	}
	&_avat{
		.imgasbg;
		height: 100%;
		width: 100%;
	}
	&_el{
		.cls;
		margin-bottom: (50/@bfz)*1em;
	}
	&_character{
		padding: 0;
		margin: 0;
		display: inline-block;
		/* text-align: style.less */
		widows: (300/@bfz)*1em;
		margin-top: (15/@bfz)*1em;
		list-style: none;
	}
	&_pinfo{
		color: #3B3B3B;
		@tfz:13;
		font-size: (@tfz/@bfz)*1em;
		font-weight: 300;
		line-height: (25/@tfz)*1em;
		margin-bottom: (0/@tfz)*1em;
	}
	&_ls{
		width: (140/@bfz)*1em;
		float: left;
		display: block;
	}
	&_rs{
		display: block;
		width: (590/@bfz)*1em;
		float: left;
		margin-left: (40/@bfz)*1em;
	}
	&_name{
		color: #FF6400;
		@tfz:18;
		font-size: (@tfz/@bfz)*1em;
		font-weight: 500;
		line-height: (23/@tfz)*1em;
		margin: (0/@tfz)*1em;
		margin-bottom: (6/@tfz)*1em;

	}
	&_prof{
		color: #3B3B3B;
		@tfz:18;
		font-size: (@tfz/@bfz)*1em;
		font-weight: 500;
		line-height: (23/@tfz)*1em;
		margin: (0/@tfz)*1em;
		margin-bottom: (24/@tfz)*1em;
	}
	&_p{
		color: #3B3B3B;
		@tfz:16;
		font-size: (@tfz/@bfz)*1em;
		font-weight: 300;
		line-height: (27/@tfz)*1em;
		margin-bottom: (8/@tfz)*1em;
		&-rmore{
			&:after{
				content: '…';
			}
		}
	}
	&_link{
		color: #FF6400;
		@tfz:14;
		font-size: (@tfz/@bfz)*1em;
		line-height: (27/@tfz)*1em;
	}
}

.cache{
	padding-top: (12/@bfz)*1em;
	padding-bottom: (70/@bfz)*1em;
	.win{
		margin-top: (28/@bfz)*1em;
		margin-bottom: 0;
	}
}
.review{
	background: #fff;
	box-shadow: (1/@bfz)*1em (1/@bfz)*1em (4/@bfz)*1em 0 rgba(0,0,0,0.08);
	.container{
		padding: (40/@bfz)*1em (80/@bfz)*1em;
	}
	&_container{
		padding: (30/@bfz)*1em (90/@bfz)*1em;
	}
	&_head{
		margin-bottom: (23/@bfz)*1em;
	}
	&_ell{
		margin-top: (4/@bfz)*1em;
		border-top: (1/@bfz)*1em solid #E0E0E0;
		padding: (25/@bfz)*1em 0	;
		padding-bottom: (20/@bfz)*1em;
	}
	&_ava{
		width: 100%;
		height: 100%;
		vertical-align: top;
		&-holder{
			width: (61/@bfz)*1em;
			height: (61/@bfz)*1em;
			border-radius: 50%;
			overflow: hidden;
			display: inline-block;
			vertical-align: middle;
		}
	}
	&_info{
		display: inline-block;
		vertical-align: middle;
		width: 100%;
		margin-left: -(65/@bfz)*1em;
		padding-left: ((61+25)/@bfz)*1em;
		position: relative;
		padding-right: (23/@bfz)*1em;
	}
	&_name{
		font-family: 'Ubuntu';
		@tfz:18;
		font-size: (@tfz/@bfz)*1em;
		line-height: (21/@tfz)*1em;
	}
	&_postdate{
		color: #A3A3A3;
		font-family: 'Ubuntu';
		@tfz:15;
		font-size: (@tfz/@bfz)*1em;
		font-weight: 300;
		line-height: (17/@tfz)*1em;
	}
	&_icon{
		@tfz:20;
		font-size: (@tfz/@bfz)*1em;
		display: inline-block;
		vertical-align: middle;
		width: (20/@tfz)*1em;
		height: (20/@tfz)*1em;
		position: absolute;
		top: (0/@tfz)*1em;
		bottom: (0/@tfz)*1em;
		right: (0/@tfz)*1em;
		margin: auto;
		color: #A3A3A3;
	}
	&_user{
		margin-bottom: (20/@bfz)*1em;
	}
	&_text{
		color: #3E3E3E;
		font-family: 'Ubuntu';
		@tfz:16;
		font-size: (@tfz/@bfz)*1em;
		font-weight: 300;
		line-height: (27/@tfz)*1em;
	}
}

.raiting{
	width: (122/@bfz)*1em;
	display: inline-block;
	margin-right: (81/@bfz)*1em;
	vertical-align: middle;
	&_digit{
		font-family: "Source Sans Pro";
		@tfz:93;
		font-size: (@tfz/@bfz)*1em;
		/* line-height: (100/@bfz)*1em; */
		line-height: 1;
		color: #555555;
		text-align: center;
	}
	&-holder{
		padding-bottom: (25/@bfz)*1em;
	}
}
.star{
	padding: 0;
	margin: 0;
	text-align: center;
	width: (122/@bfz)*1em;
	/* margin-left: -(5/@bfz)*1em;
	margin-right: -(5/@bfz)*1em; */
	&-popup {
		position: absolute;
		right: -(46/@bfz)*1em;
		/* width: (40/@bfz)*1em; */
		padding: 0 (10/@bfz)*1em;
		padding-left: (13/@bfz)*1em;
		height: (20/@bfz)*1em;
		text-align: center;
		background: #fff;
		box-shadow: (1/@bfz)*1em (1/@bfz)*1em (4/@bfz)*1em (1/@bfz)*1em rgba(0,0,0,0.08);
		border-radius: (3/@bfz)*1em;
		top: 0;
		bottom: 0;
		margin: auto;
		&:before {
			display: inline-block;
			width: (10/@bfz)*1em;
			height: (10/@bfz)*1em;
			background: #fff;
			content: '';
			position: absolute;
			left: -(5/@bfz)*1em;
			box-shadow: (1/@bfz)*1em (1/@bfz)*1em (4/@bfz)*1em (1/@bfz)*1em rgba(0,0,0,0.08);
			transform: rotate(45deg);
			top: 0;
			bottom: 0;
			margin: auto;
		}
		&:after {
			content: '';
			width: (10/@bfz)*1em;
			height: (20/@bfz)*1em;
			background: #fff;
			position: absolute;
			top: 0;
			bottom: 0;
			left: (1/@bfz)*1em;
			margin: auto;
			border-radius: (3/@bfz)*1em;
		}
	}


	&_item{
		display: inline-block;
		width: (20/@bfz)*1em;
	}
	&_star{
		margin: 0;
		@tfz:20;
		font-size: (@tfz/@bfz)*1em;
		color: #D8D8D8;
		&-active{
			color: #FF6400;
		}
	}
	&_hider{
		overflow: hidden;
		width:0%;
		position: absolute;
		left: 0;
		right: 0;
		top:0;
		bottom:0;
	}
	&_holder{
		position: relative;
		//padding: 0 (5/@bfz)*1em;
		z-index: 1;
		&.clicked{
			cursor: pointer;
		}
		&:after{
			content: '';
			.ACenter();
		}
	}
}
.circle{
	width: (120/@bfz)*1em;
	height: (120/@bfz)*1em;
	position: relative;
	display: inline-block;
	text-align: center;
	&-holder{
		display: inline-block;
		margin-left: -(207/@bfz)*1em;
		padding-left: (196/@bfz)*1em;
		text-align: justify;
		vertical-align: middle;
		width: 100%;
		height: (120/@bfz)*1em;
		&:after{
			display: inline-block;
			width: 100%;
			height: (1/@bfz)*1em;
			margin-bottom: -(4/@bfz)*1em;
			text-align: justify;
			content: '';
		}
	}
	&_el{
		display: inline-block;
		vertical-align: middle;
		width: auto;
	}
	&_decor{
		width: (6/@bfz)*1em;
		height: (6/@bfz)*1em;
		background: #FF6400;
		border-radius: 50%;
		position: absolute;
		left: 0;
		right: 0;
		margin: auto;
		bottom: 0;
	}
	&_holder{
		.ACenter();
		padding-left: (3/@bfz)*1em;
		text-align: center;
		&:before{
			display: inline-block;
			vertical-align: middle;
			width: 0;
			margin-left: -(4/@bfz)*1em;
			content: '';
			height: 100%;
		}
	}
	&_text{
		display: inline-block;
		width: 100%;
		vertical-align: middle;
		padding-bottom: (15/@bfz)*1em;
	}
	&_digit{
		color: #FF6400;
		font-family: "Source Sans Pro";
		@tfz:26;
		font-size: (@tfz/@bfz)*1em;
		font-weight: 600;
		line-height: (34/@tfz)*1em;
		text-align: center;
		margin-bottom: (0/@tfz)*1em;
	}
	&_discr{
		@tfz:13;
		font-size: (@tfz/@bfz)*1em;
		margin-bottom: (0/@tfz)*1em;
		color: #3B3B3B;
		font-family: 'Ubuntu';
		font-weight: 500;
		line-height: 1;
		text-align: center;
	}
}

.courses{
	&_h2{
		.h2;
		margin: (40/@bfz)*1em 0;
	}
	&_loop{
		margin-left: -(15/@bfz)*1em;
		margin-right: -(15/@bfz)*1em;
		margin-bottom: (70/@bfz)*1em;
	}
	&_ell{
		background: #fff;
		// width: (280/@bfz)*1em;
		box-shadow: (1/@bfz)*1em (1/@bfz)*1em (4/@bfz)*1em 0 rgba(0,0,0,0.08);
		margin:  (15/@bfz)*1em;
		display: inline-block;
		flex-basis: 24%;
	}
	&_img{
		width: 100%;
		height: 100%;
		&-holder{
			width: (280/@bfz)*1em;
			height: (140/@bfz)*1em;
			box-shadow: (1/@bfz)*1em (1/@bfz)*1em (4/@bfz)*1em 0 rgba(0,0,0,0.08);
		}
	}
	&_ava{
		width: 100%;
		height: 100%;
		&-holder{
			width: (60/@bfz)*1em;
			height: (60/@bfz)*1em;
			margin: 0 auto;
			margin-top: -(30/@bfz)*1em;
			margin-bottom: (14/@bfz)*1em;
			border-radius: 50%;
			overflow: hidden;
		}
	}
	&_text{
		padding: 0 (15/@bfz)*1em;
	}
	&_tname{
		color: #555555;
		font-family: 'Ubuntu';
		@tfz:14;
		font-size: (@tfz/@bfz)*1em;
		line-height: (16/@tfz)*1em;
		text-align: center;
		margin-bottom: (13/@tfz)*1em;
	}
	&_name{
		color: #3B3B3B;
		text-decoration: none;
		display: block;
		font-family: 'Ubuntu';
		@tfz:16;
		font-size: (@tfz/@bfz)*1em;
		font-weight: 500;
		line-height: (25/@tfz)*1em;
		text-align: center;
		padding: (0/@tfz)*1em (22/@tfz)*1em;
		margin-bottom: (21/@tfz)*1em;
		height: (50/@tfz)*1em;
		overflow: hidden;
		&:hover{
			text-decoration: none;
			color: #3B3B3B;
		}
	}
	&_slide{
		text-align: center;
	}
	&_price{
		font-family: 'Ubuntu';
		@tfz:27;
		font-size: (@tfz/@bfz)*1em;
		font-weight: 500;
		line-height: (28/@tfz)*1em;
		text-align: center;
		margin-bottom: (9/@tfz)*1em;
		height: (56/@tfz)*1em;
		&-holder{
			padding-top: (15/@tfz)*1em;
			padding-bottom: (20/@tfz)*1em;
			border: (1/@tfz)*1em solid #E0E0E0;
			border-left: none;
			border-right: none;
		}
	}
	&_discount{
		color: #FF6400;
		font-family: 'Ubuntu';
		@tfz:16;
		font-size: (@tfz/@bfz)*1em;
		font-weight: 300;
		line-height: (20/@tfz)*1em;
		text-align: center;
		margin-bottom: (0/@tfz)*1em;
	}
	&_footer{
		text-align: left;

		padding: (9/@bfz)*1em (15/@bfz)*1em;
		padding-bottom: (18/@bfz)*1em;
		.star{
			width: (88/@bfz)*1em;
			margin-right: 0;
			margin-left: 0;
			&_holder{
				display: inline-block;
				width: auto;
				padding: 0;
			}
			&_hider{
				left: 0;
			}
			&_star{
				@tfz:15;
				font-size: (@tfz/@bfz)*1em;
			}
			&_item{
				width: (15/@bfz)*1em;
			}
		}
	}
	&_digit{
		color: #A3A3A3;
		font-family: 'Ubuntu';
		@tfz:16;
		font-size: (@tfz/@bfz)*1em;
		font-weight: 300;
		line-height: 1;
		text-align: right;
		width: 100%;
		margin-left: -(92/@tfz)*1em;
		padding-left: (92/@tfz)*1em;
		display: inline-block;
		vertical-align: middle;
		margin-bottom: (5/@tfz)*1em;
		text-align: right;

	}
}
.dfc {
	.courses{
		&_slide{
			flex-basis: 33.333%;
		}
	}
}
.footer{
	z-index: 30;
	&_logo{
		color:#E0E0E0;
		@tfz:35;
		font-size: (@tfz/@bfz)*1em;
		line-height: 1;
	}
	&_links{
		padding: 0;
		margin: 0;
		margin: (17/@bfz)*1em 0;
		margin-bottom: (16/@bfz)*1em;
		text-align: center;
		&-light{
			margin-bottom: (6/@bfz)*1em;
		}
	}
	&_item{
		display: inline-block;
		width: auto;
	}
	&_link{
		color: #E0E0E0;
		font-family: "Source Sans Pro";
		@tfz:16;
		font-size: (@tfz/@bfz)*1em;
		line-height: (20/@tfz)*1em;
		text-align: center;
		margin: 0 (5/@bfz)*1em;
		&-light{
			color: #999999;
			font-family: "Source Sans Pro";
			@tbfz:14;
			font-size: (@tbfz/@bfz)*1em;
			line-height: (18/@tfz)*1em;
		}
	}
}
.slick{
	&-dots{
		padding: (20/@bfz)*1em 0;
		margin: 0;
		text-align: center;
		li{
			width: (9/@bfz)*1em;
			height: (9/@bfz)*1em;
			border: (1/@bfz)*1em solid transparent;
			border-radius: 50%;
			background: #898989;
			display: inline-block;
			margin: 0 (6/@bfz)*1em;
			cursor: pointer;
			button{
				display: none;
			}
			&.slick-active{
				background: transparent;
				border-color: #898989;

			}
		}
	}
}
.mtop{
	margin-top: -(150/@bfz)*1em;

	position: relative;
	z-index: 2;
}
// .video {
// 	float: none;
// 	clear: both;
// 	width: 100%;
// 	position: relative;
// 	padding-bottom: 56.25%;
// 	padding-top: (25/@bfz)*1em;
// 	height: 0;
// 	iframe {
// 		position: absolute;
// 		top: 0;
// 		left: 0;
// 		width: 100%;
// 		height: 100%;
// 	}
// }

.wistia-embed{
	max-height: 100%;
}
html.video{
	padding-top: 0;
}
._header{
	padding: (20/@bfz)*1em 0;
}
.clockdiv{
	/* @tfz:0;
	font-size: (@tfz/@bfz)*1em; */
	@tfz:15;
	font-size: (@tfz/@bfz)*1em;
	margin: (20/@tfz)*1em auto;
	position: relative;
	text-align: center;
	width: (330/@tfz)*1em;
	max-width: 100%;

	&_holder{
		font-family: sans-serif;
		color: #3b3b3b;
		display: inline-block;
		width: 22%;
		margin-right: 3%;
		min-height: 2em;
		text-align: center;
		position: relative;
		z-index: 2;
		background: #fff;
		margin-left: -(3/@bfz)*1em;
		&:last-child{
			margin-right: 0;
		}
	}
	&_label,&_digit{
		font-size: 1em;
	}
	&_label{
		font-size: 0.8em;
		color: #3b3b3b;
		text-transform: lowercase;
		opacity: .8;
	}
	&_digit{
		background: #fff;
		display: inline-block;
		@tfz:2.666em;
		font-size: @tfz;
		color: #ff6400;
		padding: (3/@tfz)*1em;
		box-shadow: inset (0/@tfz)*1em (0/@tfz)*1em (0/@tfz)*1em (1/@tfz)*1em #000;
		line-height: 1em;
		margin: (3/@tfz)*1em;
		border:(1/@tfz)*1em solid rgb(225, 225, 225);
		box-shadow: (0/@tfz)*1em (0/@tfz)*1em (10/@tfz)*1em (0/@tfz)*1em rgba(0, 0, 0, 0.1);
		// background-color: rgb(246, 246, 246);
		background-color: #fff;
		border-radius: (5/@tfz)*1em;
	}
	&:before{
		display: inline-block;
		content: '';
		.ACenter(@bottom:(12/@bfz)*1em);
		width: 90%;
		height: (1/@bfz)*1em;
		background: #e1e1e1;
	}
}
.topb{
	background: url(../img/bg/topb.jpg);
	background-position: 50%;
	background-attachment: fixed;
	background-size: cover;
	height: 100vh;
	&_h1{
		.bold;
		@tfz:55;
		font-size: (@tfz/@bfz)*1em;
		color: #fff;
		line-height: (70/@tfz)*1em;
	}
	&_p{
		@tfz:33;
		font-size: (@tfz/@bfz)*1em;
		line-height: (38/@tfz)*1em;
		color: #fff;
	}
	&_text{
		text-align: center;
		display: inline-block;
		vertical-align: middle;
	}
	.container,.row{
		height: 100%;
	}
}
.tmarg{
	margin-top: -50%;
}
.hbtn{
	@tfz:16;
	font-size: (@tfz/@bfz)*1em;
	padding: (16/@tfz)*1em (26/@tfz)*1em;
	display: inline-block;
	width: auto;
	text-transform: uppercase;
	margin-right: -(15/@tfz)*1em;
}
.sideauthor{
	margin: (10/@bfz)*1em 0;
	hr{
		border-top-color: #7f7f7f;
		margin-top: (12/@bfz)*1em;
		margin-bottom: (11/@bfz)*1em;
		width: 73%;
		margin-left: 0;
	}
	&_avat{
		border-radius: 50%;
		overflow: hidden;
		display: block;
		margin: 0 auto;
		max-width: 90%;
		&-holder{
			display: inline-block;
			max-width: 42%;
		}
	}
	&_about{
		display: inline-block;

		width: 56%;
		vertical-align: top;
		padding-top: (4/@bfz)*1em;

	}
	&_name{
		@tfz:14;
		font-size: (@tfz/@bfz)*1em;
		.bold;
		line-height:1.3em;
		color: #ff6400;
		margin-bottom: (0/@tfz)*1em;
	}
	&_info{
		font-style: italic;
		.light;
		@tfz:14;
		font-size: (@tfz/@bfz)*1em;
		line-height: (16/@tfz)*1em;
		color: #3e3e3e;
		opacity: .7;
	}
	&_pos{
		@tfz:13;
		font-size: (@tfz/@bfz)*1em;
		line-height: (16/@tfz)*1em;
		color: #3e3e3e;
		.bold;
	}
}
.side{
	&_bord{
		position: absolute;
		top: 0;
		bottom: 0;
		right: 	0;
		letter-spacing: 	0;
		height: 100%;
		width: 	(1/@bfz)*1em;
		border-left: (1/@bfz)*1em solid #eee;
		&-left{
			right: 	inherit;
			left: 	0;
		}
	}
	&_btn{
		padding-left: 0;
		padding-right: 0;
		width: 	100%;
		text-align: center;
	}
	&_h1{
		font-size: 1.333em;
		color: #3e3e3e;
		line-height: (33/@bfz)*1em;
		text-transform: uppercase;
		.bold;
		text-align: center;
	}
	.package_btn{
		display: inline-block;
		width: auto;
	}
	&_hr{
		margin: 3.5rem 0;
	}
	[class^="col"]{
		position: relative;
	}
}
.calendar{
	@tfz:14;
	font-size: (@tfz/@bfz)*1em;
	&_list{
		padding: (0/@tfz)*1em;
		margin: (0/@tfz)*1em;
		display: block;
	}
	&_item{
		display: block;
	}
	&_p{
		@tfz:15;
		font-size: (@tfz/@bfz)*1em;
		line-height: 1.3em;
		color: #3e3e3e;
		text-align: center;
		margin-left: -(24/@tfz)*1em;
		padding-left: (14/@tfz)*1em;
		display: inline-block;
		vertical-align: middle;
		width: 100%;
		margin-bottom: (0/@tfz)*1em;
	}
	i:before{
		font-family: 'icomoon';
		color: #ff6400;
	}
	&_btn{
		@tfz:14;
		font-size: (@tfz/@bfz)*1em;
		line-height: (33/@tfz)*1em;
		color: #3e3e3e;
		opacity: 0.44;
		transition: opacity .3s ease-in-out;
		text-align: center;
		background: transparent;
		padding-left: (0/@tfz)*1em;
		box-shadow: none;
		margin:  0 auto;
		border:none;
		text-decoration: underline;
		.italic;
		&:hover{
			opacity: 1;

		}
	}
	.js-calendar-hidden{
		display: none;
		&.visible{
			display: block;
		}
	}
}
.bwbg{
	background: url(../img/bg/tbg.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	padding: (30/@bfz)*1em 0;
	color:#fff;
	&_p{
		text-align: center;
		margin: (50/@bfz)*1em 0;
		@tfz:18;
		font-size: (@tfz/@bfz)*1em;
		line-height: (22/@tfz)*1em;
	}
}
.flr{
	.fr{
		float: 	right;
	}
}
.vbtn(@icolor:#ff6400,@bgc:#fff,@fz:17.5){
	@tfz:@fz;
	font-size:(@tfz/@bfz)*1em ;
	width: (55/@tfz)*1em;
	height: (55/@tfz)*1em;
	border-radius: 50%;
	overflow: hidden;
	border: none;
	box-shadow: none;
	background: @bgc;
	color: @icolor;
	transform: background .3s,color .3s ;
	line-height: 1;
	i{
		margin-right: -(3/@tfz)*1em;
	}
	&:hover{
		background: @icolor;
		color: @bgc;
	}
}
.vbtn{
	.vbtn();
	&-orange{
		.vbtn(@icolor:#fff,@bgc:#ff6400);
	}
}
@media @desktop-max{
	.section .review_container{
		padding-left: (40/@bfz)*1em;
		padding-right: (40/@bfz)*1em;
	}
}
@media (max-width:1190px){
	.container-big{
		max-width: (950/@bfz)*1em;
	}
	.clockdiv{
		@tfz:9.6;
		font-size: (@tfz/@bfz)*1em;
	}
	.win{
		&-container{
			width: 	100%;
			min-width: (1/@bfz)*1em;
		}
		&-vid{
		}
		&-gor
		{max-width: (330/@bfz)*1em;}
	}

}
@media (max-width:1020px) {
	header{
		.hmenu_list.hmenu_list-yellow{
			font-size: (10/@bfz)*1em;
		}
	}

}

@media (max-width:992px){
	.side_bord-left{
		display: 	none;
	}
	.side_bord{
		height: 75%;
	}
	.sm-show{
		display: inline-block!important;
	}
	.sm-hide{
		display: none;
	}
	header{
		.va-center{
			max-width: (750/@bfz)*1em;
			margin: 0 auto;

		}
	}

	.hmenu{
		&-holder{
			text-align: right;
			padding-right: 0;
			//margin-left: -(331/@bfz)*1em;
		}
		&_mbutton{
			display: inline-block;cursor: pointer;
		}
		&-hider{
			position: absolute;
			background: #fff;
			top: (20/@bfz)*1em;
			right: 0;
			left: 0;
			padding: (20/@bfz)*1em;
			box-shadow: (1/@bfz)*1em (2/@bfz)*1em (4/@bfz)*1em -(1/@bfz)*1em rgba(0,0,0,0.08);
			opacity: 0;
			transition: all 0.3s;
			padding-right: 0;
			padding-top: 0;
			visibility: hidden;
			.transition(@t:.3s);
			&.active {
				visibility: visible;
				opacity: 1;
				top: 100%;
				.transition(@t:.5s);
			}
		}
		&-hider.js-hmenu-hidde {
			text-align: center;
		}
		&_list{
			display: 	inline-block;
			width: auto;
			/* width: (750/@bfz)*1em;
			display: block;
			margin: 0 (30/@bfz)*1em; */
		}
	}
	.logo-holder{
		padding-left: 0;
	}

	section.container {
		width: (750/@bfz)*1em;
	}
	.author{
		&_el{
			margin-left: 0;
			margin-right: 0;
		}
		&_rs,&_ls{
			margin-left: 0;

			width: 100%;
			padding: 0;
			margin: 0;
		}
		&_ls{
			margin-bottom: (24/@bfz)*1em;
		}
		&_avat{
			&-holder{
				display: inline-block;
				vertical-align: middle;
			}
		}
		&_name{
			width: 100%;
		}
		&_infoholder{
			display: inline-block;
			vertical-align: middle;
			margin-left: -(144/@bfz)*1em;
			padding-left: (182/@bfz)*1em;
		}
		&_name,&_prof{
			display: block;
			width: 100%;
		}
		&_prof{
			margin-bottom: (16/@bfz)*1em;
		}
		&_character{
			margin-top: 0;
			display: block;
			width: (318/@bfz)*1em;
			max-width: 100%;
			webkit-columns: auto 2;
			-moz-columns: auto 2;
			columns: auto  2;
		}
	}



	.review {
		.win_h2-head {
			width: auto;
		}
		.win_headlist {
			width: 85%;
		}
	}


	.raiting {
		display: block;
		margin-bottom: (20/@bfz)*1em;
	}

	.circle-holder {
		margin: 0;
		padding: 0;
	}

	.courses_ell {
		margin: (15/@bfz)*1em;
	}
	.package2{
		&_list{
			-webkit-columns: (265/@bfz)*1em 2;
			-moz-columns: (265/@bfz)*1em 2;
			columns: (265/@bfz)*1em 2;
		}
		&_left,&_right{
			text-align: center;
			width: 50%;
			margin: 0;
			padding: 0;
			margin-left: -(4/@bfz)*1em;
			padding-left: (4/@bfz)*1em;
			vertical-align: middle;
		}
		&_timelife {
			margin: (10/@bfz)*1em 0;
		}
	}
	.win-gor{
		margin: (20/@bfz)*1em auto;
	}
}
@media (max-width:768px){
	header{
		padding: (16/@bfz)*1em (20/@bfz)*1em;
		.hmenu_list.hmenu_list-yellow{
			padding-top: 0;
			&:before{
				width: 	100%;
				height: (1/@bfz)*1em;
				margin: 0;
			}
			font-size: (14/@bfz)*1em;
		}
	}
	.xs-show{
		display: block!important;
	}
	section.container{
		width: 100%;
	}
	.win,.package2_el,.review .container,.author_el{
		padding:(20/@bfz)*1em (20/@bfz)*1em;
	}
	.circle{
		margin: (20/@bfz)*1em auto;
		display: 	block;

	}
	.circle_el{
		width: 	50%;
		float: left;

	}
	.circle-holder {
		height: auto;
		margin-bottom: -(34/@bfz)*1em;
	}
	.side_bord{
		display: 	none;
	}

	.win{
		&_img-holder {
			display: block;
			width: 100%;
		}
		&-vid,&-shadow{
			max-width: (320/@bfz)*1em;
			margin: (20/@bfz)*1em auto;
		}

		&_text {
			display: block;
			width: 100%;
			margin: 0;
			padding: (20/@bfz)*1em 0;
		}
	}
	.hmenu{
		&_list{
			width: 100%;
			padding: (15/@bfz)*1em;
			margin:0;

		}
		&_item{
			display: block;
			width: 100%;
		}
		&-hider{
			padding: 0;
		}
		&_link{
			margin: (5/@bfz)*1em 0;
			display: inline-block;
		}
	}

	.package2_list {
		-webkit-columns: (265/@bfz)*1em 2;
		-moz-columns: (265/@bfz)*1em 2;
		columns: (265/@bfz)*1em 2;
	}
	.author
	{
		&_el{
			margin: 0;
		}
		&_rs{
			width: 100%;
		}
		&_infoholder{
			margin: 0;
			margin-left: 0;
			padding: 0;
			padding-left: (15/@bfz)*1em;
			text-align: left;
		}
		&_p{
			@tfz:15;
			font-size: (@tfz/@bfz)*1em;
			line-height: (23/@tfz)*1em;
		}
	}
	.cover{
		padding-left: (15/@bfz)*1em;
		padding-right: (15/@bfz)*1em;
		&_h1 {
			width: 100%;
		}

		&_lid {
			width: 100%;
		}
	}

	.footer{
		&_lints{
			margin: (32/@bfz)*1em;

			&-light {
				margin-bottom: (21/@bfz)*1em;
			}
		}
		&_item {
			display: block;
			margin: (10/@bfz)*1em 0;
		}
		&_link {
			@tfz:18;
			font-size: (@tfz/@bfz)*1em;
		}

		&-light {
			@tfz:16;
			font-size: (@tfz/@bfz)*1em;
		}
	}
	.cache {
		padding-top: (12/@bfz)*1em;
		padding-bottom: 0;
	}

	[class^="col"] .row{
		margin-left: 0;
		margin-right: 0;
	}
}
@media (max-width:520px){
	header{
		.package_btn{
			display: none;
		}
	}
}
@media (max-width:415px){
	.win-vid{
		width: 	100%;
		max-width: (320/@bfz)*1em;
	}
	.logo{
		&-large{
			/* display: none; */
		}
		&_img-mob{
			display: inline-block;

		}
	}
	.mob-ta-center{
		text-align: center;
	}
	.cache .win{
		margin: (8/@bfz)*1em 0;
	}
	.container.cache{
		padding-top: 0;
	}
	.xs-xs-show{
		display: block!important;
	}
	.xs-xs-hide{
		display: none!important;
	}

	.hmenu-holder {
		width: 100%;
		text-align: right;
		padding: 0;margin-right: 0;
		margin-left: -(220/@bfz)*1em;
		padding-left: (200/@bfz)*1em;
	}

	.cover_h1 {
		margin: (24/@bfz)*1em 0;
		margin-bottom: (16/@bfz)*1em;
		@tfz:20;
		font-size: (@tfz/@bfz)*1em;
		padding-left: (20/@tfz)*1em;
		padding-right: (20/@tfz)*1em;
		line-height: (29/@tfz)*1em;
	}
	.present {
		margin-top: (8/@bfz)*1em;
		height: (150/@bfz)*1em;
	}
	.raiting {
		width: (170/@bfz)*1em;
		text-align: center;
		margin: 0 auto;
		margin-bottom: (24/@bfz)*1em;
	}
	.star_holder {
		width: (122/@bfz)*1em;
		display: block;
		margin: 0 auto;
	}
	.logo{
		&-holder{
			padding: 0;
			width: (214/@bfz)*1em;
			min-width: (1/@bfz)*1em;
		}
		&_headicon{
			width: auto;
			min-width: (1/@bfz)*1em;


		}
		&-text{
			width: (150/@bfz)*1em;

		}
	}
	.sponsor{
		margin: (28/@bfz)*1em 0;
		margin-bottom: (36/@bfz)*1em;
		&_p {
			margin-bottom: (16/@bfz)*1em;
			margin-right: 0;
			display: block;
		}
	}
	.win {
		margin-top: (8/@bfz)*1em;
		margin-bottom: 0;
		padding: (24/@bfz)*1em (20/@bfz)*1em;
		padding-bottom: (28/@bfz)*1em;
		&.plan{
			margin-bottom: (8/@bfz)*1em;
		}
		&_p {
			@tfz:15;
			font-size: (@tfz/@bfz)*1em;
			margin-bottom: (0/@tfz)*1em;
			line-height: (23/@tfz)*1em;
		}
		&_link {
			margin-top: (12/@bfz)*1em;
		}
		&_headlist {
			display: block;
			width: 100%;
			text-align: center;

		}
		&_h2 {
			@tfz:18;
			font-size: (@tfz/@bfz)*1em;
			.bold;
			&-head{
				margin-bottom: (20/@bfz)*1em;
				display: block;
				width: 100%;
				text-align: center;
			}
			&-left{
				text-align: center;
				margin-bottom: (24/@bfz)*1em;
			}
		}
		&_head {
			margin-left: -(20/@bfz)*1em;
			margin-right: -(20/@bfz)*1em;
			margin-bottom: (20/@bfz)*1em;
			margin-top: 0;
		}
		&_img-holder {
			margin: 0;
		}
		&_text {
			padding-top: (24/@bfz)*1em;
			padding-bottom: (28/@bfz)*1em;
		}
		&_img{
			height: (120/@bfz)*1em;

		}

	}
	.listinfo {
		margin: 0;
		width: 100%;
		text-align: center;
		&_item {
			text-align: center;

		}
	}
	.topimg{
		height: (200/@bfz)*1em;
		&_btn {
			width: (70/@bfz)*1em;
			height: (70/@bfz)*1em;
			&-bgimg {
				width: 100%;
			}
			&-p {
				margin-top: (8/@bfz)*1em;
				margin-left: -(20/@bfz)*1em;
				margin-right: -(20/@bfz)*1em;
				text-align: center;
			}
		}
	}
	.author{
		&_h2{
			.bold;
		}
		&_ls {
			display: block;
			width: 100%;
			text-align: center;
		}
		&_avat-holder {
			margin: 0 auto;
			margin-bottom: (20/@bfz)*1em;
		}
		&_prof {
			margin-bottom: (16/@bfz)*1em;
		}
		&_character {
			width: 100%;
			margin-top: 0;
			margin-bottom: (16/@bfz)*1em;
		}
		&_infoholder{
			width: 100%;
			padding-left: 0;
		}
	}
	.collapse {
		margin-left: -(20/@bfz)*1em;
		margin-right: -(20/@bfz)*1em;
		width: auto;
		&_name {
			display: inline-block;
			width: 100%;
			padding-right: 0;
			margin-right: 0;
			line-height: (20/@bfz)*1em;
		}
		&_rs {
			padding-left: (33/@bfz)*1em;
			width: 100%;
			text-align: left;
		}
		&_date {
			@tfz:14;
			font-size: (@tfz/@bfz)*1em;
			width: auto;
			border-left: (1/@tfz)*1em solid #D5D5D5;
			line-height: 1;
			padding-left: (9/@tfz)*1em;
		}
		&_icon, &_cicon {
			vertical-align: top;
			margin-bottom: 0;
			margin-top: (3/@bfz)*1em;
		}
		&_cicon {
			margin-top: 0;
			vertical-align: top;
		}
		&_item {
			margin-bottom: (4/@bfz)*1em;
		}
		&_cname {
			padding-right: 0;
			display: inline-block;
			width: 100%;
		}
		&_crs {
			width: 100%;
			text-align: left;
			padding-left: (33/@bfz)*1em;
			margin-top: 0;
			margin-bottom: 0;
		}
		&_crs &_date {
			border-left: none;
			padding-left: 0;
		}
		&_prev {
			margin-right: 0;
			display: block;
			@tfz:13;
			font-size: (@tfz/@bfz)*1em;
			text-align: left;
		}
		&_lnumb{
			margin-right: (5/@bfz)*1em;
		}

	}

	.circle {
		margin: 0 auto;
		display: block;
		&_el {
			width: 50%;
			margin: (34/@bfz)*1em 0;
			margin-top: 0;
			margin-left: -(4/@bfz)*1em;
		}
	}
	.courses{
		&_h2{
			margin-top: (32/@bfz)*1em;
			margin-bottom: (9/@bfz)*1em;
			@tfz:18;
			font-size: (@tfz/@bfz)*1em;
			line-height: (25/@tfz)*1em;
			.bold;
		}
	}
	.footer{
		&_logo{
			@tfz:47;
			font-size: (@tfz/@bfz)*1em;
		}
		&_links {
			margin: (21/@bfz)*1em 0;
			&-light {
				margin: (32/@bfz)*1em 0;
			}
		}
	}
	.review{
		&_ell{
			margin-right: -(20/@bfz)*1em;
			margin-left: -(20/@bfz)*1em;
			padding-right: (20/@bfz)*1em;
			padding-left: (20/@bfz)*1em;
		}
	}
}
@media @tablet-max{

}

@media @phone-max{
	.logo-holder{
		overflow: hidden;
		float: 	none;
		.logo-text{
			white-space: normal;
			width: 80%;
		}
	}
	.section section.review .review_container{
		padding-left: (20/@bfz)*1em;
		padding-right: (20/@bfz)*1em;
	}
	header{
		padding-left: (5/@bfz)*1em;
		padding-right: (5/@bfz)*1em;
	}

}


@media @phone-xs-area{

}
