.masterclass{
	width: 100%;
	.content{
		max-width: 100%;
		padding-top: 0!important;
	}
	header{
		transition: background .3s, box-shadow .3s;

	}
	header
	{
		.logo_headicon,.logo-text,.hmenu_link{
			transition: color .3s;
		}
		&.brite{
			background: transparent;
			box-shadow: (1/@bfz)*1em (1/@bfz)*1em (4/@bfz)*1em 0 rgba(0,0,0,0);
			margin-bottom: 0;

			&.d{background: #0000004d;}

			.logo_headicon,.logo-text,.hmenu_link{
				color: white;
			}

		}
	}
	main.content.js-padboth{
		padding-top: 0px!important;
	}

}

@media @tablet-max{
	.masterclass{ 
		header{
			&.brite .hmenu-hider {background: #0000004d;}
		} 
	}
}
@media 	@phone-max {
	.masterclass{
		header.brite{
			
			background: #000;
			
		}
		.logo_img-mob{
			display: 	none;
		}
		.logo-large{

			display: 	block;	
		}
	}
}