/* //////////////////   baze. */
@import (inline) url(baze.css);
/* //////////////////   EOFbaze. */
/* //////////////////   2. */
@import url(myTools.3.2.less);
/* //////////////////   EOF2. */
/* //////////////////   fonts. */
@import url(fonts.less);
/* //////////////////   EOFfonts. */

@font-face {
	font-family: 'icomoon';
	src:  url('../lib/icomoon/fonts/icomoon.eot');
	src:  url('../lib/icomoon/fonts/icomoon.eot#iefix') format('embedded-opentype'),
	url('../lib/icomoon/fonts/icomoon.ttf') format('truetype'),
	url('../lib/icomoon/fonts/icomoon.woff') format('woff'),
	url('../lib/icomoon/fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: Oswald;
    src: url("../font/oswald/oswald.eot");
    src: url("../font/oswald/oswald.eot?#iefix") format("embedded-opentype"),
		url("../font/oswald/oswald.woff2") format("woff2"),
		url("../font/oswald/oswald.woff") format("woff"),
		url("../font/oswald/oswald.ttf") format("truetype"),
		url("../font/oswald/oswald.svg?#Oswald-ExtraLight") format("svg");
    font-weight: 200;
    font-style: normal
}
// @import (inline) url(bootstrap.min.css);
@import (inline) url(teachable-bootstrap.min.css);
/* //////////////////   style. */
@import (inline) url(../lib/icomoon/style.css);
/* //////////////////   EOFstyle. */
/* //////////////////   slick. */
@import (inline) url(../libs/slick/slick.css);
/* //////////////////   EOFslick. */
/* //////////////////   flipclock. */
@import (inline) url(../libs/FlipClock-master/compiled/flipclock.css);
@import (inline) url(../../../../node_modules/choices.js/assets/styles/css/choices.min.css);
@import (inline) url(../../../../node_modules/magnific-popup/dist/magnific-popup.css);
@import (inline) url(../../../../node_modules/intl-tel-input/build/css/intlTelInput.css);
/* //////////////////   EOFflipclock. */
/* //////////////////   main. */
@import url(main.less);
/* //////////////////   EOFmain. */
/* //////////////////   _package. */
@import url(_package.less);
/* //////////////////   EOF_package. */
/* //////////////////   _start. */
@import url(_start.less);
/* //////////////////   EOF_start. */
/* //////////////////   _fauthors. */
@import url(_fauthors.less);
/* //////////////////   EOF_fauthors. */

/* //////////////////   _land. */
@import url(_land.less);
/* //////////////////   EOF_land. */
/* //////////////////   _lblock. */
@import url(_lblock.less);
/* //////////////////   EOF_lblock. */
/* //////////////////   _cerc. */
@import url(_cerc.less);
/* //////////////////   EOF_cerc. */
/* //////////////////   _fimg. */
@import url(_fimg.less);
/* //////////////////   EOF_fimg. */
/* //////////////////   _lpack. */
@import url(_lpack.less);
/* //////////////////   EOF_lpack. */
/* //////////////////   _lwin. */
@import url(_lwin.less);
/* //////////////////   EOF_lwin. */
/* //////////////////   _rew. */
@import url(_rew.less);
/* //////////////////   EOF_rew. */
/* //////////////////   _faq. */
@import url(_faq.less);
/* //////////////////   EOF_faq. */
/* //////////////////   _tvid. */
@import url(_tvid.less);
/* //////////////////   EOF_tvid. */
/* //////////////////   el_micon. */
@import url(el_micon.less);
/* //////////////////   EOFel_micon. */
/* //////////////////   _idea. */
@import url(_idea.less);
/* //////////////////   EOF_idea. */
/* //////////////////   _imgcont. */
@import url(_imgcont.less);
/* //////////////////   EOF_imgcont. */
/* //////////////////   _partners. */
@import url(_partners.less);
/* //////////////////   EOF_partners. */
/* //////////////////   el_clock. */
@import url(el_clock.less);
/* //////////////////   EOFel_clock. */
/* //////////////////   _steps. */
@import url(_steps.less);
/* //////////////////   EOF_steps. */
/* //////////////////   masterclass. */
@import url(masterclass.less);
/* //////////////////   EOFmasterclass. */
/* //////////////////   _mstop. */
@import url(_mstop.less);
/* //////////////////   EOF_mstop. */
/* //////////////////   el_msclock. */
@import url(el_msclock.less);
/* //////////////////   EOFel_msclock. */
/* //////////////////   el_wind. */
@import url(el_wind.less);
/* //////////////////   EOFel_wind. */
/* //////////////////   el_gwin. */
@import url(el_gwin.less);
/* //////////////////   EOFel_gwin. */
/* //////////////////   _msauthor. */
@import url(_msauthor.less);
/* //////////////////   EOF_msauthor. */
/* //////////////////   el_scl. */
@import url(el_scl.less);
/* //////////////////   EOFel_scl. */
/* //////////////////   _frtop. */
@import url(_frtop.less);
/* //////////////////   EOF_frtop. */
//free-educ
/* //////////////////   _frwork. */
@import url(_frwork.less);
/* //////////////////   EOF_frwork. */
/* //////////////////   _frbonus. */
@import url(_frbonus.less);
/* //////////////////   EOF_frbonus. */
/* //////////////////   _frquest. */
@import url(_frquest.less);
/* //////////////////   EOF_frquest. */
/* //////////////////   _frform. */
@import url(_frform.less);
/* //////////////////   EOF_frform. */

//lndblck
/* //////////////////   _lndblc. */
@import url(_lndblc.less);
/* //////////////////   EOF_lndblc. */
/* //////////////////   _ltvid. */
@import url(_ltvid.less);
/* //////////////////   EOF_ltvid. */

/* //////////////////   _garant. */
@import url(_garant.less);
/* //////////////////   EOF_garant. */
/* //////////////////   _platform. */
@import url(_platform.less);
/* //////////////////   EOF_platform. */
/* //////////////////   _plan. */
@import url(_plan.less);
/* //////////////////   EOF_plan. */
/* //////////////////   _index. */
@import url(_index.less);
/* //////////////////   EOF_index. */
@import url(_team.less);

//home
/* //////////////////   _home. */
@import url(_home.less);
/* //////////////////   EOF_home. */
/* //////////////////   _hres. */
@import url(_hres.less);
/* //////////////////   EOF_hres. */
/* //////////////////   _bsld. */
@import url(_bsld.less);
/* //////////////////   EOF_bsld. */
/* //////////////////   _expert. */
@import url(_expert.less);
/* //////////////////   EOF_expert. */

//ccomf
/* //////////////////   _ccomf. */
@import url(_ccomf.less);
/* //////////////////   EOF_ccomf. */
/* //////////////////   _cctop. */
@import url(_cctop.less);
/* //////////////////   EOF_cctop. */
/* //////////////////   _soffer. */
@import url(_soffer.less);
/* //////////////////   EOF_soffer. */
/* //////////////////   _crev. */
@import url(_crev.less);
/* //////////////////   EOF_crev. */

@import url(_regpage.less);
@import url(_registerform.less);
@import url(_funnels.less);
@import url(_wpintegration.less);
@import url(_addEvent.less);
@import url(_preloader.less);


/* ////////////////////////// костыль */

.stform(){
	form{
		text-align: left;
		input{
			color: #A29485;
			font-family: 'Ubuntu';
			@tfz:16;
			font-size:(@tfz/@bfz)*1em ;
			line-height: 	20/@tfz;
			.bold;
			border-radius: (25/@tfz)*1em;
			background-color: #FFF1E7;
			border: none;
			box-shadow: none;
			overflow: hidden;
			padding: (14/@tfz)*1em (36/@tfz)*1em;
			text-align: left;
			&[type="submit"]{
				@tfz:13;
				font-size:(@tfz/@bfz)*1em ;
				color: #fff;
				font-family: 'Ubuntu';
				.bold;
				line-height: (17/@tfz);

				border-radius: (100/@tfz)*1em;
				box-shadow: 0 (2/@bfz)*1em (7/@bfz)*1em 0 rgba(255,100,0,0.29);
				background-color: #FF6400;
				text-transform: uppercase;
				border:(2/@tfz)*1em solid #FF6400;
				padding: (10/@tfz)*1em (55/@tfz)*1em;
				transition: color .3s, background-color .3s;

				&:hover{
					background: transparent;
					color: #FF6400;
				}
			}
		}

		label{
			text-align: left;
		}
	}

}

.content-box form  .form-control, .content-box form  select.form-control
{
	.stform;
}

.on-a-school-layout .content-box {
	background: #fff;
	border-radius: (6/@bfz)*1em;
	box-shadow: 0 (10/@bfz)*1em (21/@bfz)*1em #e7eeef;
	padding-left: (0/@bfz)*1em;
	padding: (30/@bfz)*1em (45/@bfz)*1em;
	position: relative;
	text-align: left;
	width: 100%;
	h1{
		color: #515a5f;
		padding-bottom: (22/@tfz)*1em;
		@tfz:20;
		font-size:(@tfz/@bfz)*1em ;

		text-align: center;
		font-weight: 700;
		letter-spacing: (0.77/@tfz)*1em;
		line-height: (28/@tfz)*1em;
	}
	br{
		display: none;
	}
	.link-below-button{
		@tfz:12;
		font-size:(@tfz/@bfz)*1em ;

		letter-spacing: (0.61/@bfz)*1em;
		color: #c0c7d1;
		display: block;
		text-decoration: underline;
		margin-top: (10/@bfz)*1em;
	}
	.box-footer{
		@tfz:13;
		margin-top: (20/@tfz)*1em;
		font-size:(@tfz/@bfz)*1em ;
		border-top: (1/@tfz)*1em solid #EEE;
		padding-top: (20/@tfz)*1em;
		letter-spacing: (0.6/@tfz)*1em;
			/* margin-top: 40;
			margin-bottom: -40px;
			margin-left: -45px;
			margin-right: -45px; */
			text-align: center;
			font-weight: 400;
			a{
				display: block;
				color: #8592A6;
				line-height: 1.3;
				img{
					margin-right: (10/@tfz)*1em;
				}

			}
		}

		.stform;

		.container,.row , .win .row>div {
		//чистим всю фефолтную верстку
		width: 100%;
		padding:  0px;
		margin: 0px;
	}

}

.block{
	&.video_embed, &.purchase_confirmation{
		padding-right: 15px;
		padding-left: 15px;
		margin-right: auto;
		margin-left: auto
	}
	&.proceed_to_course_button{
		.btn{
			font-family: 'Ubuntu';
			@tfz:17;
			font-size: (@tfz/@bfz)*1em;
			padding: (16/@tfz)*1em (57/@tfz)*1em;
			font-weight: 500;
			line-height: (17/@tfz)*1em;
			text-align: center;
			background: #FF6400;
			border: none;
			box-shadow: none;
			border-radius: (100/@tfz)*1em;
			overflow: hidden;
			color: #fff;
			margin: 0 auto;
			cursor: pointer;
			display: inline-block;
			&:hover{
				background: #ffffff;
				color: #FF6400;
				box-shadow: inset 0px 0px 0px (3/@bfz)*1em #FF6400;
			}
			&:active{
				color: #fff;
			}

		}
	}

	&.full_width_image{
		@media screen and (min-width:1024px) and (max-width: 1440px) {
			.frtop_h1{
				max-width: 66%;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}

	&:last-of-type{
		padding-bottom: 50px;
	}
}


.on-a-school-layout .content-box {
	margin-top: (70/@bfz)*1em;
}

.view-school{
	padding-top: 0!important;
	padding-bottom: 0!important;
}

.white-popup {
	position: relative;
	background: #FFF;
	padding: 20px;
	width: auto;
	max-width: 500px;
	margin: 20px auto;
}
.mfp-hide{
	display: none;
}

@media @tablet-max{
	.dog-form{
		.win{
			padding-left: (15/@bfz)*1em;
			padding-right: (15/@bfz)*1em;

		}
	}
}

.cover .btn-header-enroll{
	font-family: 'Ubuntu';
	@tfz:17;
	width: (300/@tfz)*1em;
	font-size: (@tfz/@bfz)*1em;
	padding: (16/@tfz)*1em (57/@tfz)*1em;
	font-weight: 500;
	line-height: (17/@tfz)*1em;
	text-align: center;
	background: #FF6400;
	border: none;
	box-shadow: none;
	border-radius: (100/@tfz)*1em;
	overflow: hidden;
	color: #fff;
	margin: (28/@tfz)*1em auto;
	display: block;
	&:hover{
		background: #ffffff;
		color: #FF6400;
		box-shadow: inset 0px 0px 0px (3/@tfz)*1em #FF6400;
	}
}
.row.search {
	padding: (10/@bfz)*1em 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.full-width-image-bg{
	background-size: cover!important;
}
.dropdown-menu.par{
	position: absolute;
	right: 0;
	left: inherit;
}

.course-filter {

	padding: (5/@bfz)*1em (16/@bfz)*1em (6/@bfz)*1em (15/@bfz)*1em;
	background: #fff;
	border-radius: (20/@bfz)*1em;
	/* margin-bottom: 25px; */
	/* margin-left: 15px; */

}
.pull-left {
	float: left!important;
}
.btn-group, .btn-group-vertical {
	position: relative;
	display: inline-block;
	vertical-align: middle;
}
.filter-label {
	font-size: (21/@bfz)*1em;
	margin-right: (10/@bfz)*1em;
	color: #989898;
	float: left;
}

.btn-default.btn-lg.btn-course-filter.dropdown-toggle {
	background: none;
	border: 0;
	color: #FF6400 !important;
	padding: (0/@bfz)*1em;
	font-size: (21/@bfz)*1em;
	top: (3/@bfz)*1em;
	text-transform: capitalize;
}
.body-content-view{
	padding-top: 0px!important;
}

.dfc {
	display: flex;
	flex-flow: row wrap;
	// justify-content: space-between;
	justify-content: space-around;
	flex: 0 1 100%;
	&.aic{
		align-items: center;
	}
}
.btn.btn-md.btn-primary{
	font-family: 'Ubuntu';
	font-size: 1.21428571em;
	padding: 0.94117647em 3.35294118em;
	font-weight: 500;
	line-height: 1em;
	text-align: center;
	background: #FF6400;
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 5.88235294em;
	overflow: hidden;
	color: #fff;
	margin: 0 auto;
	cursor: pointer;

}

.box-half.teachable-branded{
	display: none;

}

.tt{
	position: relative;
	display: inline-block;
	white-space: normal;

	.tooltiptext {
		visibility: hidden;
		width: 150px;
		background-color: black;
		color: #fff;
		text-align: center;
		border-radius: 6px;
		padding: 5px 0;
		position: absolute;
		z-index: 1;
		bottom: 100%;
		left: 50%;
		// margin-left: -60px;
		transform: translate(-50%);

		/* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
		opacity: 0;
		transition: opacity ease .5s;
	}

	&:hover {
		cursor:pointer;
		.tooltiptext {
			visibility: visible;
			opacity: 1;
			transition: opacity ease .5s;
		}
	}
}

.coupon-code-applied{
	position: absolute;
	z-index: 2;
	top: 100px;
	left: 50%;
	transform: translate(-50%);
	.coupon-percent-text{
		color: #3c763d;
		background-color: #dff0d8;
		border-color: #d6e9c6;
		padding: 15px;
		margin-bottom: 20px;
		border: 1px solid transparent;
		border-radius: 4px;
	}
}
svg.orange path{fill:#FF6400}

.pos-{
	&right{
		&Top{
			left: auto;
			right: 1em;
			bottom: auto;
			top: 1em;
			@media screen and (max-width:768px) {
				right: 3em;
				top: 3em;
			}
		}
		&Bottom{
			left: auto;
			right: 1em;
			top: auto;
			bottom: 1em;
			@media screen and (max-width:768px) {
				right: 3em;
				bottom: 3em;
			}
		}
		&Center{
			left: auto;
			right: 1em;
			top: 0;
			bottom: 0;
			@media screen and (max-width:768px) {
				right: 3em;
				bottom: 0;
			}
		}
	}
	&left{
		&Top{
			right: auto;
			left: 1em;
			bottom: auto;
			top: 1em;
			@media screen and (max-width:768px) {
				left: 3em;
				top: 3em;
			}
		}
		&Bottom{
			right: auto;
			left: 1em;
			top: auto;
			bottom: 1em;
			@media screen and (max-width:768px) {
				left: 3em;
				bottom: 3em;
			}
		}
		&Center{
			right: auto;
			left: 1em;
			top: 0;
			bottom: 0;
			@media screen and (max-width:768px) {
				left: 3em;
				bottom: 0;
			}
		}
	}
}

.slyadnev-ttl{
	color: #fff;
	font-family: 'Ubuntu', sans-serif;
	margin: .5em 0;
	padding-bottom: .45em;
	position: relative;
	font-weight: 500;
	&:after{
		content: '';
		position: absolute;
		bottom:0;
		left: 15%;
		right: 15%;
		border-top: 1px solid #eee;
	}

	h1&{
		font-size: (40/@bfz)*1em;
	}
	h2&{
		font-size: (34/@bfz)*1em;
	}
	h3&{
		font-size: (30/@bfz)*1em;
	}
	h4&{
		font-size: (26/@bfz)*1em;
	}
	h5&{
		font-size: (22/@bfz)*1em;
	}
	h6&{
		font-size: (18/@bfz)*1em;
	}
}
