<section class="bsld">
	<div class="container">
		<p class="bsld_h1">Лучшие Инвестиции это Инвестиции в себя</p>
		<div class="bsld_p">
			Кроме знаний и опыта, вы получаете возможность повысить свою <br> привлекательность и стоимость на рынке труда
		</div>
		<div class="row">
			<div class="bsld_slick">
				<div class="bsld_slide">
					<img src="../img/wallpaper/Resume.jpg" data-dt="Резюме"  alt="Resume">
				</div>
				<div class="bsld_slide">
					<img src="../img/wallpaper/Serification.jpg" data-dt="Сертификат"  alt="Serification">
				</div>
				<div class="bsld_slide">
					<img src="../img/wallpaper/Linkedin.jpg" data-dt="Linkedin"  alt="Linkedin">
				</div>
			</div>
			<div class="bsld_slick-dots">
				<div class="bsld_slick-posr"></div>
			</div>
		</div>
	</div>
</section>