<section class="cctop">
	<p class="cctop_h1">Спасибо за регистрацию на курс!</p>

	<p class="cctop_info">
		Ваш заказ ID: 45948357943 <br>
		На ваш  email выслано уведомление о подтверждении заказа
	</p>
</section>