<section class="cerc">
	<div class="container">
		<p class="cerc_h1">
			Все технические вопросы уже решены.
		</p>
		<p class="cerc_h2">
			Обучать онлайн это легко
		</p>
		<div class="text-center">
			<div class="row">
				<div class="col-xs-12 col-md-4">
					<div class="cerc_el">
						<div class="cerc_cercle">
							<p>1</p>
						</div>
						<div class="cerc_text">
							<p>
								Выберите Формат Обучения 
								и загрузите контент
							</p>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-md-4">
					<div class="cerc_el">
						<div class="cerc_cercle">
							<p>2</p>
						</div>
						<div class="cerc_text">
							<p>
								Выберите Готовые Воронки Продаж 
								и привлекайте клиентов
							</p>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-md-4">
					<div class="cerc_el">
						<div class="cerc_cercle">
							<p>3</p>
						</div>
						<div class="cerc_text">
							<p>
								Принимайте заказы и оплаты 
								полностью, в рассрочку и по подписке
							</p>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>