<section class="crev">
	<div class="container container-mw">
		<p class="ccomf_h1">Отзывы</p>
		<div class="row">
			<div class="col-xs-12 col-md-6 text-left">
				<div class="crev_el">
					<div class="crev_img">
						<img src="../img/crevpost.jpg" class="crev_photo" alt="">
						<div class="crev_btn-pos">
							<button class="vbtn vbtn-orange"> <i class="icon-play"></i> </button>
						</div>
					</div>
					<div class="crev_info">
						<p class="crev_name">
							Маргарита Кобрина
						</p>
						<p class="crev_pos">
							Коуч, тренер личностного роста, психолог
						</p>
						<div class="crev_text">
							<p>
								Мне по роду деятельности приходится часто выступать, в том числе на публичных мероприятиях, участвовать в дискуссиях, поэтому данная тема для меня была актуальная. От навыка отвечать на острые вопросы часто зависит успех презентации и дальнейшая судьба проекта. Поэтому я воспользовался возможностью прокачать данный навык, спасибо за практику, было полезно.
							</p>
						</div>

					</div>
				</div>
				
			</div>
			<div class="col-xs-12 col-md-6 text-right">
				<div class="crev_el">
					<div class="crev_img">
						<img src="../img/crevpost.jpg" class="crev_photo" alt="">
						<div class="crev_btn-pos">
							<button class="vbtn vbtn-orange"> <i class="icon-play"></i> </button>
						</div>
					</div>
					<div class="crev_info">
						<p class="crev_name">
							Ольга Карпенко
						</p>
						<p class="crev_pos">
							Аналитик, специалист по автоматизации
						</p>
						<div class="crev_text">
							<p>
								Привет! Меня зовут Ольга. После нашего группового скайп урока я научилась наконец правильной тактике ответов на неожиданные и неудобные вопросы... Раньше у меня с этим были трудности... Очень понравился формат работы в малой группе, когда каждый выходит в эфир выполняя упражнение. Было зорово и полезно! Ивану спасибо!
							</p>
						</div>

					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<hr class="ccomf_hr">
			</div>
		</div>
		<div class="row">
			<div class="soffer_bt">
				<div class="col-xs-12 col-md-8">
					<p class="soffer_p soffer_p-org">Количество мест ограничено! Обычная цена - $30</p>
					<p class="soffer_p soffer_p-lrg">	Специальная цена для участников группы - $9 </p>
				</div>
				<div class="col-xs-12 col-md-4 text-right">
					<button class="package_btn soffer_btn">Занять место</button>
				</div>
			</div>
		</div>
	</div>
	
</section>