<section class="expert">
	<div class="container">
		<p class="h1">	
			Ведущие Эксперты
		</p>
		<div class="expert_slider">
			<div class="expert_slide">
				<div class="expert_el">
					<div class="expert_img">
						<img src="../img/ex-sample.jpg" class="sample" alt="">
						<!-- <img src="../img/photo/ex1.jpg" class="expert_photo" alt=""> -->
						<div class="expert_photo" data-dadd="../img/photo/ex1.jpg">	</div>
					</div>
					<div class="expert_shape">
						<div class="expert_shape-bottom">	
							<p class="expert_name">
								Надежда Есенина
							</p>
							<div class="expert_text">
								<p>
									В настоящее время проводит открытые и корпоративные бизнес-тренинги, а также консультирует руководство предприятий по вопросам управления персоналом.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="expert_slide">	
				<div class="expert_el">
					<div class="expert_img">
						<img src="../img/ex-sample.jpg" class="sample" alt="">
						<!-- <img src="../img/photo/ex2.jpg" class="expert_photo" alt=""> -->
						<div class="expert_photo" data-dadd="../img/photo/ex2.jpg">	</div>
					</div>
					<div class="expert_shape">
						<div class="expert_shape-bottom">	
							<p class="expert_name">
								Алексей Митрохин
							</p>
							<div class="expert_text">
								<p>
									В настоящее время проводит открытые и корпоративные бизнес-тренинги, а также консультирует руководство предприятий по вопросам управления персоналом.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="expert_slide">	
				<div class="expert_el">
					<div class="expert_img">
						<img src="../img/ex-sample.jpg" class="sample" alt="">
						<!-- <img src="../img/photo/ex3.jpg" class="expert_photo" alt=""> -->
						<div class="expert_photo" data-dadd="../img/photo/ex3.jpg">	</div>
					</div>
					<div class="expert_shape">
						<div class="expert_shape-bottom">	
							<p class="expert_name">
								Дмитрий Кац
							</p>
							<div class="expert_text">
								<p>
									В настоящее время проводит открытые и корпоративные бизнес-тренинги, а также консультирует руководство предприятий по вопросам управления персоналом.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="expert_slide">	
				<div class="expert_el">
					<div class="expert_img">
						<img src="../img/ex-sample.jpg" class="sample" alt="">
						<!-- <img src="../img/photo/ex4.jpg" class="expert_photo" alt=""> -->
						<div class="expert_photo" data-dadd="../img/photo/ex4.jpg">	</div>
					</div>
					<div class="expert_shape">
						<div class="expert_shape-bottom">	
							<p class="expert_name">
								Надежда Есенина
							</p>
							<div class="expert_text">
								<p>
									В настоящее время проводит открытые и корпоративные бизнес-тренинги, а также консультирует руководство предприятий по вопросам управления персоналом.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="expert_slide">
				<div class="expert_el">
					<div class="expert_img">
						<img src="../img/ex-sample.jpg" class="sample" alt="">
						<!-- <img src="../img/photo/ex1.jpg" class="expert_photo" alt=""> -->
						<div class="expert_photo" data-dadd="../img/photo/ex1.jpg">	</div>
					</div>
					<div class="expert_shape">
						<div class="expert_shape-bottom">	
							<p class="expert_name">
								Надежда Есенина
							</p>
							<div class="expert_text">
								<p>
									В настоящее время проводит открытые и корпоративные бизнес-тренинги, а также консультирует руководство предприятий по вопросам управления персоналом.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="expert_slide">	
				<div class="expert_el">
					<div class="expert_img">
						<img src="../img/ex-sample.jpg" class="sample" alt="">
						<!-- <img src="../img/photo/ex2.jpg" class="expert_photo" alt=""> -->
						<div class="expert_photo" data-dadd="../img/photo/ex2.jpg">	</div>
					</div>
					<div class="expert_shape">
						<div class="expert_shape-bottom">	
							<p class="expert_name">
								Алексей Митрохин
							</p>
							<div class="expert_text">
								<p>
									В настоящее время проводит открытые и корпоративные бизнес-тренинги, а также консультирует руководство предприятий по вопросам управления персоналом.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="expert_slide">	
				<div class="expert_el">
					<div class="expert_img">
						<img src="../img/ex-sample.jpg" class="sample" alt="">
						<!-- <img src="../img/photo/ex3.jpg" class="expert_photo" alt=""> -->
						<div class="expert_photo" data-dadd="../img/photo/ex3.jpg">	</div>
					</div>
					<div class="expert_shape">
						<div class="expert_shape-bottom">	
							<p class="expert_name">
								Дмитрий Кац
							</p>
							<div class="expert_text">
								<p>
									В настоящее время проводит открытые и корпоративные бизнес-тренинги, а также консультирует руководство предприятий по вопросам управления персоналом.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="expert_slide">	
				<div class="expert_el">
					<div class="expert_img">
						<img src="../img/ex-sample.jpg" class="sample" alt="">
						<!-- <img src="../img/photo/ex4.jpg" class="expert_photo" alt=""> -->
						<div class="expert_photo" data-dadd="../img/photo/ex4.jpg">	</div>
					</div>
					<div class="expert_shape">
						<div class="expert_shape-bottom">	
							<p class="expert_name">
								Надежда Есенина
							</p>
							<div class="expert_text">
								<p>
									В настоящее время проводит открытые и корпоративные бизнес-тренинги, а также консультирует руководство предприятий по вопросам управления персоналом.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="expert_slide">
				<div class="expert_el">
					<div class="expert_img">
						<img src="../img/ex-sample.jpg" class="sample" alt="">
						<!-- <img src="../img/photo/ex1.jpg" class="expert_photo" alt=""> -->
						<div class="expert_photo" data-dadd="../img/photo/ex1.jpg">	</div>
					</div>
					<div class="expert_shape">
						<div class="expert_shape-bottom">	
							<p class="expert_name">
								Надежда Есенина
							</p>
							<div class="expert_text">
								<p>
									В настоящее время проводит открытые и корпоративные бизнес-тренинги, а также консультирует руководство предприятий по вопросам управления персоналом.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="expert_slide">	
				<div class="expert_el">
					<div class="expert_img">
						<img src="../img/ex-sample.jpg" class="sample" alt="">
						<!-- <img src="../img/photo/ex2.jpg" class="expert_photo" alt=""> -->
						<div class="expert_photo" data-dadd="../img/photo/ex2.jpg">	</div>
					</div>
					<div class="expert_shape">
						<div class="expert_shape-bottom">	
							<p class="expert_name">
								Алексей Митрохин
							</p>
							<div class="expert_text">
								<p>
									В настоящее время проводит открытые и корпоративные бизнес-тренинги, а также консультирует руководство предприятий по вопросам управления персоналом.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="expert_slide">	
				<div class="expert_el">
					<div class="expert_img">
						<img src="../img/ex-sample.jpg" class="sample" alt="">
						<!-- <img src="../img/photo/ex3.jpg" class="expert_photo" alt=""> -->
						<div class="expert_photo" data-dadd="../img/photo/ex3.jpg">	</div>
					</div>
					<div class="expert_shape">
						<div class="expert_shape-bottom">	
							<p class="expert_name">
								Дмитрий Кац
							</p>
							<div class="expert_text">
								<p>
									В настоящее время проводит открытые и корпоративные бизнес-тренинги, а также консультирует руководство предприятий по вопросам управления персоналом.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="expert_slide">	
				<div class="expert_el">
					<div class="expert_img">
						<img src="../img/ex-sample.jpg" class="sample" alt="">
						<!-- <img src="../img/photo/ex4.jpg" class="expert_photo" alt=""> -->
						<div class="expert_photo" data-dadd="../img/photo/ex4.jpg">	</div>
					</div>
					<div class="expert_shape">
						<div class="expert_shape-bottom">	
							<p class="expert_name">
								Надежда Есенина
							</p>
							<div class="expert_text">
								<p>
									В настоящее время проводит открытые и корпоративные бизнес-тренинги, а также консультирует руководство предприятий по вопросам управления персоналом.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>