<section class="faq">
	<div class="container">
		<div class="faq_h1">Вопросы и Ответы</div>
		<div class="row">
			<div class="col-xs-12 col-md-10 col-md-offset-1">
				<div class="faq_el">
					<div class="faq_quest">	
						<div class="faq_text">
							<p>За 4 месяца мой объем продаж составил 20 тысяч долларов, а комиссия полученная <a href="">Heartbeat Education</a> составила <b>1200</b> долларов. Могу ли я перейти с Профессиоанльного плана на <span>Премиум не оплачивая <b>депозит</b></span>?</p>
						</div>
						<button class="faq_btn">
							<span></span><span></span>
						</button>
					</div>
					<div class="faq_answr-hider">	
						<div class="faq_answr">
							<p>	Да, конечно! Следующие <b>8</b> <span>месяцев</span> вы можете быть на премиум плане <a href=""> <b>без оплаты</b> депозита</a>. </p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-10 col-md-offset-1">
				<div class="faq_el">
					<div class="faq_quest">	
						<div class="faq_text">
							<p>
								Моя база клиентов составляет 25000 емейлов. Я могу импортировать их в емейл сервис Heartbeat Education?
							</p>
						</div>
						<button class="faq_btn">
							<span></span><span></span>
						</button>
					</div>
					<div class="faq_answr-hider">	
						<div class="faq_answr">
							<p>Да, конечно, если ваша база будет содержать имена и фамилии Ваших клиентов. Это минимальное требование помогает нам защитить вас и других авторов обучающих программ Heartbeat Education от использовании купленных или украденных баз и обвинений в спаме. Начниая с плана Премиум вы также сможете импортировать полные данные о клиентах, включая предыдущие покупки и взаимодействия с вами, и таким образом превратить наш емейл сервис в самый настоящий CRM</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-10 col-md-offset-1">
				<div class="faq_el">
					<div class="faq_quest">	
						<div class="faq_text">
							<p>
								При подписке на Премиум и VIP пакета есть минимальные годовые платежи 999 и 1999 долларов. Что это означает?
							</p>
						</div>
						<button class="faq_btn">
							<span></span><span></span>
						</button>
					</div>
					<div class="faq_answr-hider">	
						<div class="faq_answr">
							<p>Heartbeat Education не берет с вас ничего, кроме процента от объема продаж, который в случае Премиум и VIP пакета составляет 15% и 21% соответственно. Если вы начали работать с нами сразу на одном из этих планов, то в этом случае,вы будете полностью получать вашу выручку пока не достигнете 6660 и 9520 объема продаж соответственно.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="faq_sm-hider">
				<div class="col-xs-12 col-md-10 col-md-offset-1">
					<div class="faq_el">
						<div class="faq_quest">	
							<div class="faq_text">
								<p>
									Я могу опубликовать один онлайн курс используя  профессиональный план, а другой используя премиум план?
								</p>
							</div>
							<button class="faq_btn">
								<span></span><span></span>
							</button>
						</div>
						<div class="faq_answr-hider">	
							<div class="faq_answr">
								<p>	Да, конечно! Следующие <b>8</b> <span>месяцев</span> вы можете быть на премиум плане <a href=""> <b>без оплаты</b> депозита</a>. </p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-md-10 col-md-offset-1">
					<div class="faq_el">
						<div class="faq_quest">	
							<div class="faq_text">
								<p>
									В течении какого времени после старта подписки на Премиум пакет я смогу использовать контент для воронок продаж, подготовленный командой Heartbeat Education?
								</p>
							</div>
							<button class="faq_btn">
								<span></span><span></span>
							</button>
						</div>
						<div class="faq_answr-hider">	
							<div class="faq_answr">
								<p>	Да, конечно! Следующие <b>8</b> <span>месяцев</span> вы можете быть на премиум плане <a href=""> <b>без оплаты</b> депозита</a>. </p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-md-10 col-md-offset-1">
					<div class="faq_el">
						<div class="faq_quest">	
							<div class="faq_text">
								<p>
									Есть ли предложения для продюсеров?
								</p>
							</div>
							<button class="faq_btn">
								<span></span><span></span>
							</button>
						</div>
						<div class="faq_answr-hider">	
							<div class="faq_answr">
								<p>	Да, конечно! Следующие <b>8</b> <span>месяцев</span> вы можете быть на премиум плане <a href=""> <b>без оплаты</b> депозита</a>. </p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-md-10 col-md-offset-1">
					<div class="faq_el">
						<div class="faq_quest">	
							<div class="faq_text">
								<p>
									Я могу разместить на платформе бесплатные курсы?
								</p>
							</div>
							<button class="faq_btn">
								<span></span><span></span>
							</button>
						</div>
						<div class="faq_answr-hider">	
							<div class="faq_answr">
								<p>	Да, конечно! Следующие <b>8</b> <span>месяцев</span> вы можете быть на премиум плане <a href=""> <b>без оплаты</b> депозита</a>. </p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-md-10 col-md-offset-1">
					<div class="faq_el">
						<div class="faq_quest">	
							<div class="faq_text">
								<p>
									Я могу использовать целевые страницы на своем домене, сайте для продажи курсов на Heartbeat Education?
								</p>
							</div>
							<button class="faq_btn">
								<span></span><span></span>
							</button>
						</div>
						<div class="faq_answr-hider">	
							<div class="faq_answr">
								<p>	Да, конечно! Следующие <b>8</b> <span>месяцев</span> вы можете быть на премиум плане <a href=""> <b>без оплаты</b> депозита</a>. </p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 sm-show">
				<button class="faq_sm-hider-btn">
					<span>	Показать еще </span>
					<span class="hide">
						скрыть
					</span>
				</button>
			</div>
		</div>
	</div>
</section>