<section class="fimg">
	<div class="fimg-bg" >	
		<div class="container">
			<div class="row">	
				<div class="col-xs-12 col-sm-7 col-lg-5">
					<p class="fimg_h1">Растете? <br>
						Необходимо больше
						чем технологии?
					</p>
					<p class="fimg_h2">
						Сделайте нас частью своей команды!
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="container">	
		<div class="row">
			<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-offset-0 col-md-5">
				<p class="fimg_h3">	
					Heartbeat Content
				</p>
				<div class="fimg_p">
					Команда копирайтеров специализирующихся на онлайн образовании у вас на службе! Тексты емейлов, диалоги чатботов, дизайн презентаций, лидмагнитов и инфографик, вычитка и редактирование текстов продающих страниц, мы создадим весь контент необходимый для ваших воронок продаж.
				</div>
			</div>
			<div class="col-md-1"></div>
			<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-offset-0 col-md-5">
				<p class="fimg_h3">	
					Heartbeat Marketing
				</p>
				<div class="fimg_p">
					Команда копирайтеров специализирующихся на онлайн образовании у вас на службе! Тексты емейлов, диалоги чатботов, дизайн презентаций, лидмагнитов и инфографик, вычитка и редактирование текстов продающих страниц, мы создадим весь контент необходимый для ваших воронок продаж.
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-offset-0 col-md-3">
				<button class="package_btn land_btn">Начать Бесплатно</button>
			</div>
		</div>
	</div>
</section>