<section class="frbonus">
	<div class="container">
		<p class="frbonus_h1">Бонусы</p>
		<div class="row frbonus_loop">
			<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-offset-0 col-lg-6">
				<div class="frbonus_el">
					<div class="frbonus_img">
						<img src="../img/poster/video_1.jpg" alt="" class="frbonus_poster">
						<img src="../img/bonus_samp.jpg" alt="" class="frbonus_samp">
					</div>
					<div class="frbonus_cont">
						<div class="frbonus_middler">
							<div class="frbonus_text">
								<p class="frbonus_thin">1 уникальный друг после оплаты обучения </p>
								<p class="frbonus_bold">= 1500 <span>грн.</span> </p>
								<p class="frbonus_discr">при оплате этой суммой обучения в <span>Heartbeat</span></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-offset-0 col-lg-6">
				<div class="frbonus_el">
					<div class="frbonus_img">
						<img src="../img/poster/video_2.jpg" alt="" class="frbonus_poster">
						<img src="../img/bonus_samp.jpg" alt="" class="frbonus_samp">
					</div>
					<div class="frbonus_cont">
						<div class="frbonus_middler">
							<div class="frbonus_text">
								<p class="frbonus_thin">1 уникальный друг после оплаты обучения </p>
								<p class="frbonus_bold">= 1500 <span>грн.</span> </p>
								<p class="frbonus_discr">при оплате этой суммой обучения в <span>Heartbeat</span></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 text-center">
				<a href="" class="btn tvid_btn ">
					пригласить друзей
				</a>
			</div>
		</div>
	</div>


</section>