<div class="frform_cont"></div>
<section class="frform">
	<div class="container">	
		<form action="">
			<div class="frform_lcont">	
				<p class="frform_name">Подпишись <br>	
				на рассылку</p>

				<hr class="frform_hr">	
				<label class="frform_chrchk" >
					<input type="checkbox" class="">
					<span class="icon">
						<i class="icon-square-o">	</i>
						<i class="icon-check-square"></i>
					</span>
					<span>Настоящим даю согласие на обработку <br>	
						<a href="#">персональных данных</a>
					</span>
				</label>
			</div>

			<div class="frform_fcont">
				<input type="text" class="frform_input" placeholder="Имя">
				<input type="text" class="frform_input" placeholder="Email">
				<input type="submit" class="frform_btn tvid_btn" value="подписаться">
				<button class="frform_close">
					<i class="icon-cancel-circle">	</i>
				</button>
			</div>




		</form>


	</div>
</section>