<section class="frquest">
	<div class="container">
		<p class="frwork_h1">Вопросы</p>
		<div class="row">	
			<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-12 col-md-offset-0">
				<div class="frquest_loop">
					<div class="frquest_el">
						<div class="frquest_top">
							<p><span>1.</span> Как это работает?</p>
							<i class="icon-List-Open"></i>
						</div>
						<div class="frquest_answ">

							<div class="frquest_answ-wind">	
								<p>	Да, конечно! Следующие <b>8</b> <span>месяцев</span> вы можете быть на премиум плане <a href=""> <b>без оплаты</b> депозита</a>. </p>
							</div>

						</div>
					</div>
					<div class="frquest_el">
						<div class="frquest_top">
							<p><span>2.</span> Как это работает?</p>
							<i class="icon-List-Open"></i>
						</div>
						<div class="frquest_answ">

							<div class="frquest_answ-wind">	
								<p>	Да, конечно! Следующие <b>8</b> <span>месяцев</span> вы можете быть на премиум плане <a href=""> <b>без оплаты</b> депозита</a>. </p>
							</div>

						</div>
					</div>
					<div class="frquest_el">
						<div class="frquest_top">
							<p><span>3.</span> Как это работает?</p>
							<i class="icon-List-Open"></i>
						</div>
						<div class="frquest_answ">

							<div class="frquest_answ-wind">	
								<p>	Да, конечно! Следующие <b>8</b> <span>месяцев</span> вы можете быть на премиум плане <a href=""> <b>без оплаты</b> депозита</a>. </p>
							</div>

						</div>
					</div>
					<div class="frquest_el">
						<div class="frquest_top">
							<p><span>4.</span>   Как я могу вывести средства, если у меня нет электронного кошелька?</p>
							<i class="icon-List-Open"></i>
						</div>
						<div class="frquest_answ">

							<div class="frquest_answ-wind">	
								<p>	Да, конечно! Следующие <b>8</b> <span>месяцев</span> вы можете быть на премиум плане <a href=""> <b>без оплаты</b> депозита</a>. </p>
							</div>

						</div>
					</div>
					<div class="frquest_el">
						<div class="frquest_top">
							<p><span>5.</span>   Мне друг сказал, что оплатил, а мне не начислили бонус — что делать? </p>
							<i class="icon-List-Open"></i>
						</div>
						<div class="frquest_answ">

							<div class="frquest_answ-wind">	
								<p>	Да, конечно! Следующие <b>8</b> <span>месяцев</span> вы можете быть на премиум плане <a href=""> <b>без оплаты</b> депозита</a>. </p>
							</div>

						</div>
					</div>
					<div class="frquest_el">
						<div class="frquest_top">
							<p><span>6.</span> Какую программу я могу купить за набранные по программе баллы? </p>
							<i class="icon-List-Open"></i>
						</div>
						<div class="frquest_answ">

							<div class="frquest_answ-wind">	
								<p>	Да, конечно! Следующие <b>8</b> <span>месяцев</span> вы можете быть на премиум плане <a href=""> <b>без оплаты</b> депозита</a>. </p>
							</div>

						</div>
					</div>
					<div class="frquest_el">
						<div class="frquest_top">
							<p><span>7.</span> Суммируется ли скидка для нового пользователя по моей ссылке и промокоды/акции, которые вы проводите для всех пользователей?</p>
							<i class="icon-List-Open"></i>
						</div>
						<div class="frquest_answ">

							<div class="frquest_answ-wind">	
								<p>	Да, конечно! Следующие <b>8</b> <span>месяцев</span> вы можете быть на премиум плане <a href=""> <b>без оплаты</b> депозита</a>. </p>
							</div>

						</div>
					</div>
					<div class="frquest_el">
						<div class="frquest_top">
							<p><span>8.</span>  На какое количество программ обучения получает скидку
							1 000 грн. пользователь, который пришел по моей уникальной ссылке?</p>
							<i class="icon-List-Open"></i>
						</div>
						<div class="frquest_answ">

							<div class="frquest_answ-wind">	
								<p>	Да, конечно! Следующие <b>8</b> <span>месяцев</span> вы можете быть на премиум плане <a href=""> <b>без оплаты</b> депозита</a>. </p>
							</div>

						</div>
					</div>
					<div class="frquest_el">
						<div class="frquest_top">
							<p><span>9.</span> Действует ли скидка другу 1 000 грн. на дополнительный блок в онлайн-программах?</p>
							<i class="icon-List-Open"></i>
						</div>
						<div class="frquest_answ">

							<div class="frquest_answ-wind">	
								<p>	Да, конечно! Следующие <b>8</b> <span>месяцев</span> вы можете быть на премиум плане <a href=""> <b>без оплаты</b> депозита</a>. </p>
							</div>

						</div>
					</div>
				</div>
			</div> 
		</div>
		
	</section>