<section class="frtop">
	<div class="posr">
		<div class="frtop_bb" >
			<div class="frtop_bg" data-dadd="../img/mctop.jpg">
				<img src="../img/frtop_samp.jpg" alt="" class="frtop_samp">
			</div>
		</div>
		<div class="frtop_posa">
			<div class="middler">
				<div class="container">
					<p class="frtop_h1">Приглашай друзей и учись бесплатно
						<span>
							или начни зарабатывать с Heartbeat
						</span>
					</p>
					<div class="ta-center">
						<a href="" class="btn tvid_btn frtop_btn">
							пригласить друзей
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


