<section class="frwork">
	<div class="container">
		<p class="frwork_h1">Как это работает?</p>
		<div class="row">
			<div class="col-xs-12  col-md-10 col-md-offset-1 col-lg-12 col-lg-offset-0 text-center">
				<div class="frwork_loop">
					<div class="frwork_el">
						<div class="frwork_i">
							<img src="../img/icon/icon-share.jpg" alt="">
						</div>
						<div class="frwork_text">
							<p>Отправляй друзьям уникальную <a href="">ссылку</a></p>
						</div>
					</div>
					<div class="frwork_el">
						<div class="frwork_i">
							<img src="../img/icon/icon-mony.jpg" alt="">
						</div>
						<div class="frwork_text">
							<p>Получай денежный <br> бонус за каждого друга</p>
						</div>
					</div>
					<div class="frwork_el">
						<div class="frwork_i">
							<img src="../img/icon/icon-discount.jpg" alt="">
						</div>
						<div class="frwork_text">
							<p>Каждый приглашенный получает скидку 1 000 грн. на первую оплату программы обучения</p>
						</div>
					</div>
					<div class="frwork_el">
						<div class="frwork_i">
							<img src="../img/icon/icon-card.jpg" alt="">
						</div>
						<div class="frwork_text">
							<p>Накопленные деньги можно использовать внутри системы <br> или вывести</p>
						</div>
					</div>
					<div class="frwork_el">
						<div class="frwork_i">
							<img src="../img/icon/icon-people.jpg" alt="">
						</div>
						<div class="frwork_text">
							<p>Готов привлекать <br> большую аудиторию?</p> <p>Переходи в <span>партнерскую программу</span></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>