<!-- BEGIN HEADER -->
<header class="_header">
	
	
	<div class="container container-big">
		<div class="row row-va-middle">
			<div class="col-xs-6 col-sm-2">
				<a href="index.html"><img src="img/logo-educ.jpg" alt="" class="logo_img-educt"></a>
			</div>
			<div class="col-xs-6 col-sm-4 col-sm-offset-6 text-right">
				<button class="package_btn hbtn" tabindex="0">Зарегистрироваться</button>
			</div>
		</div>
	</div>
</header>

<!-- HEADER EOF  -->	