<header>
	<div class="container">	
		<div class="row">
			<div class="col-xs-10 col-sm-5 col-sm-offset-1 col-md-offset-0 col-md-4 col-lg-3">
				<div class="logo-holder">
					<img src="img/svg/logo-mob.svg" onerror="this.onerror=null; this.className = this.className+' png'; this.src='img/logo-mob.png'" alt="logo" class="logo_img-mob">
					<div class="logo-large">
						<i class="logo_headicon icon-Logo-Znak"></i>
						<p class="logo-text"><b>HeartBeat</b> place</p>
					</div>
				</div>
			</div>
			<div class="col-xs-2 col-sm-6 col-md-8 col-lg-9 poss">
				<div class="hmenu-holder">
					<div class="hmenu_mbutton js-mbtn">
						<span></span>
						<span></span>
						<span></span>
					</div>
					<div class="hmenu-hider js-hmenu-hidde">
						<ul class="hmenu_list">
							<li class="hmenu_item">
								<a href="#" class="hmenu_link" >
									Возможности
								</a>
							</li>
							<li class="hmenu_item">
								<a href="#" class="hmenu_link" >
									Цены
								</a>
							</li>
							<li class="hmenu_item">
								<a href="#" class="hmenu_link" >
									Отзывы и Кейсы
								</a>
							</li>
							<li class="hmenu_item">
								<a href="#" class="hmenu_link" >
									Вопрос Ответ
								</a>
							</li>
						</ul>
						<ul class="hmenu_list hmenu_list-yellow">
							<li class="hmenu_item">
								<a href="#" class="hmenu_link" >
									Регистрация
								</a>
							</li>
							<li class="hmenu_item">
								<a href="#" class="hmenu_link" >
									Вход
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>