<section class="hres">
	<div class="container">
		<p class="hres_h1">
			Получайте Результаты
		</p>
		<div class="row hres_loop">
			<div class="col-xs-12 col-md-4">
				<div class="hres_el">
					<div class="hres_i">
						<i class="icon-Transformation"></i>
					</div>
					<div class="hres_text">
						<p>
							Все образовательные программы на нашей платформе сфокусированы на получение результата его участниками (Трансформация)
						</p>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-4">
				<div class="hres_el">
					<div class="hres_i">
						<i class="icon-Rate"></i>
					</div>
					<div class="hres_text">
						<p>
							Каждый курс имеет (независимые) рейтинги от участников (закончивших обучение) и экспертов
						</p>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-4">
				<div class="hres_el">
					<div class="hres_i">
						<i class="icon-Moderation"></i>
					</div>
					<div class="hres_text">
						<p>
							Все курсы опубликованные на платформе проходят предварительную модерацию
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 text-center">
				<img src="../img/poster/Refund.png" class="hres_ref" alt="">
			</div>
		</div>
	</div>
</section>