<section class="idea">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-10 col-md-offset-1">
				<div class="idea_img">
					
				</div>
				<div class="idea_wind">
					<p class="idea_h1">
						Что мы придумали?
					</p>
					<div class="idea_text">
						<p>
							В курсе рассматриваются основные задачи обучения по прецедентам: классификация, кластеризация, регрессия, понижение размерности. Изучаются методы их решения, как классические, так и новые, созданные за последние 10–15 лет. Упор делается на глубокое понимание математических основ, взаимосвязей, достоинств и ограничений рассматриваемых методов. Отдельные теоремы приводятся с доказательствами.
						</p>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</section>