<section class="imgcont">
	<div class="imgcont_img" data-dadd="img/poster/poster_onlinecurse.jpg">
		<img src="img/poster/tvid_sample.jpg" class="sample " alt="">
	</div>
	<div class="imgcont_cont">
		<div class="imgcont_middler">
			<div class="container">
				<div class="col-xs-12 col-sm-10 col-sm-offset-1">
					<p class="tvid_h1">Запустите онлайн-курс</p>

					
					<p class="tvid_p">
						Выбери свой план  подписки и начни <br> зарабатывать сейчас!
					</p>
					<button class="btn tvid_btn">Занять место</button>
				</div>
			</div>
		</div>
	</div>
</section>