<section class=" lbk-2">
	<div class="grey">
		<div class="container">	
			<div class="col-xs-12 sm-show">
				<p class="land_h1">Встроенный прием заказов и оплат</p>
			</div>
			<div class="row row-va-middle">
				<div class="col-xs-12 col-md-6">
					<div class="posr">
						<img src="img/video_1-samp.jpg" class="sample" alt="">
						<div class="vc">
							<div class="video-cont">
								<!-- <iframe width="100%" height="100%" src="https://www.youtube.com/embed/mvjDAtVTMUw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
								<img src="img/poster/video_3.jpg" alt="">
							</div>
							<div class="land_vidbutton">
								<img src="img/svg/play_video-yellow.svg" onerror="this.onerror=null; this.src='img/icon/icon_play-90x90.png'" alt="play_video" class="topimg_btn-bgimg">
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-1"></div>
				<div class="col-xs-12 col-md-5">
					<p class="land_h1 sm-hide">Встроенный прием <br> заказов и оплат</p>
				</div>
			</div>
		</div>
	</div>
	<div class="white">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<div class="land_text">
						<ul class="land_list">
							<li class="land_item">
								<p class="land_p">Принимайте оплаты картами и Paypal всего за 2,9%+30 центов за транзакцию</p>
							</li>
							<li class="land_item">
								<p class="land_p">Получайте оплаты полностью, в рассрочку и по подписке</p>
							</li>
							<li class="land_item">
								<p class="land_p">Используйте промокоды для предоставления скидок</p>
							</li>
							
						</ul>
						
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="land_text">
						<ul class="land_list">
							 
							<li class="land_item">
								<p class="land_p">Увеличвайте средний чек с помощью допродажи в 1 клик</p>
							</li>
							<li class="land_item">
								<p class="land_p">Получайте информацию о транзакциях в режиме реального времени</p>
							</li>
						</ul>
						 
					</div>
				</div>
				<div class="col-xs-12 text-center">
					<button class="package_btn land_btn land_btn-ib">Начать Бесплатно</button>
				</div>
			</div>
		</div>
	</div>
</section>





