<section class=" lbk-2">
	<div class="grey">
		<div class="container">	
			<div class="row">
				<div class="col-xs-12 sm-show" >
					<p class="land_h1">	Инструменты для автоматизации <br> обучения и продаж</p>
					<p class="land_h2">
						Все необходимое для эффективного обучения
					</p>
				</div>
			</div>
			<div class="row row-va-middle">
				<div class="col-xs-12 col-md-6">
					<div class="posr">
						<img src="img/video_1-samp.jpg" class="sample" alt="">
						<div class="">
							<div class="video-cont">
								<!-- <iframe width="100%" height="100%" src="https://www.youtube.com/embed/mvjDAtVTMUw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
								<img src="img/poster/video_1.jpg" alt="">
							</div>
							<div class="land_vidbutton">
								<img src="img/svg/play_video-yellow.svg" onerror="this.onerror=null; this.src='img/icon/icon_play-90x90.png'" alt="play_video" class="topimg_btn-bgimg">
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-md-6 col-lg-5 col-lg-offset-1">
					<div class="land_text">
						<div class="sm-hide">
							<p class="land_h1">	Инструменты для автоматизации  обучения и продаж</p>
							<p class="land_h2">
								Все необходимое для эффективного обучения
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="white">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-6"> 
					<ul class="land_list">
						<li class="land_item">
							<p class="land_p">Встроенный Видеплеер</p>
						</li>
						<li class="land_item">
							<p class="land_p">Добавляйте текст и любые файлы</p>
						</li>
						<li class="land_item">
							<p class="land_p">Вебинарная Комната и Автовебинары</p>
						</li>
						<li class="land_item">
							<p class="land_p">Тесты и Экзамены</p>
						</li>

					</ul>
				</div>
				<div class="col-xs-12 col-sm-6"> 
					<ul class="land_list">
						<li class="land_item">
							<p class="land_p">Обучение по потокам и в собственном темпе</p>
						</li>
						<li class="land_item">
							<p class="land_p">Публикация Уроков по Расписанию</p>
						</li>
						<li class="land_item">
							<p class="land_p">Сертификаты об Окончании и Бейджи Linkedin</p>
						</li>
						<li class="land_item">
							<p class="land_p">Домашние Задания и Комментарии к Урокам</p>
						</li>
					</ul>
				</div>
				<div class="col-xs-12 lbk-2-btnhold text-center">
					<button class="package_btn land_btn">Начать Бесплатно</button>
				</div>
			</div>
		</div>
	</div>
</section>


