<section class="grey">
	<div class="container">	
		<div class="row   row-va-middle">
			<div class="col-xs-12 col-sm-6">
				<p class="land_h1 land_h1-mb ">Готовые Воронки Продаж</p>
			</div>
			<div class="col-xs-12 col-md-6  ">
				<div class="posr">
					<img src="img/video_1-samp.jpg" class="sample" alt="">
					<div class="">
						<div class="video-cont">
							<!-- <iframe width="100%" height="100%" src="https://www.youtube.com/embed/mvjDAtVTMUw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
							<img src="img/poster/video_2.jpg" alt="">
						</div>
						<div class="land_vidbutton">
							<img src="img/svg/play_video-yellow.svg" onerror="this.onerror=null; this.src='img/icon/icon_play-90x90.png'" alt="play_video" class="topimg_btn-bgimg">
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<div class="white">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-offset-0 col-lg-6">
					<p class="land_p ">Увеличивайте базу подписчиков с помощью встроенных лидмагнитов</p>
					<hr class="land_hr">
					<p class="land_p ">Привлекайте клиентов через уже настроенные цепочки смс, емейл сообщений и чатбот диалогов или экспортируйте данные об емейлах и действиях лидов и клиентов в ваш почтовый сервис</p>
					<hr class="land_hr">
					<p class="land_p ">Привлекайте клиентов через уже настроенные цепочки смс, емейл сообщений и чатбот диалогов или экспортируйте данные об емейлах и действиях лидов и клиентов в ваш почтовый сервис</p>
					<hr class="land_hr">
					<p class="land_p ">Проводите вебинары и увеличвайте продажи</p>
					<hr class="land_hr">
					<p class="land_p ">Конвертируйте трафик в продажи благодаря красивым шаблонам всех необходимых страниц: целевой страницы продукта, регистрации на вебинар и ОТО, страницы оплаты</p>
					<hr class="land_hr">
					
					
				</div>
				<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-offset-0 col-lg-6">
					<p class="land_p ">Предлагайте разные версии целевой страницы продукта пользователям находящимся на разных этапах воронки продаж и ограничивайте их действие по времени. Вот несколько примеров: Органическая Страница, Вебинарная со Скидкой, Доступ на 72 часа, Начни Бесплатно, Пакеты и Подписка.</p> 
					<hr class="land_hr">
					<p class="land_p ">Конвертируйте трафик в продажи благодаря красивым шаблонам всех необходимых страниц: целевой страницы продукта, регистрации на вебинар и ОТО, страницы оплаты</p>
				</div>	
				<div class="col-xs-12 text-center">
					<button class="package_btn land_btn land_btn-ib">Начать Бесплатно</button>
				</div>
			</div>

		</div>
	</div>
</section>


