<section class="lbk-2">
	<div class="grey">
		<div class="container">	
			<div class="row row-va-middle">
				<div class="col-xs-12 sm-show">
					<p class="land_h1 land_h1-mb">Партнерская Программа</p>
				</div>
				<div class="col-xs-12 col-md-6  ">
					<div class="posr">
						<img src="img/video_1-samp.jpg" class="sample" alt="">
						<div class="">
							<div class="video-cont">
								<!-- <iframe width="100%" height="100%" src="https://www.youtube.com/embed/mvjDAtVTMUw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
								<img src="img/poster/video_5.jpg" alt="">
							</div>
							<div class="land_vidbutton">
								<img src="img/svg/play_video-yellow.svg" onerror="this.onerror=null; this.src='img/icon/icon_play-90x90.png'" alt="play_video" class="topimg_btn-bgimg">
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-1"></div>
				<div class="col-xs-12  col-md-5 ">
					<p class="land_h1 land_h1-mb sm-hide">Партнерская Программа</p>
				</div>
			</div>
		</div>
	</div>
	<div class="white">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-sm-offset-3">
					<div class="land_text">

						<p class="land_p ">
							Привлекайте партнеров (других авторов Heartbeat Education, блогеров, лидеров мнений, вебмастеров) рекламировать ваши обучающие продукты за % от продаж
						</p>
						<hr class="land_hr">
						<p class="land_p ">
							Рекламируйте обучающие продукты полезные для вашей аудитории от других партнеров Heartbeat Education и повышайте свой доход		
						</p>
						<hr class="land_hr">
						<p class="land_p ">
							Подпишитесь на Heartbeat Pool и дополните свой продукт онлайн курсами от других авторов Heartbeat Education со скидкой 90-100% в виде пакетного предложения(бонусные курсы в дополнение к вашему) BETA		
						</p>

						
					</div>

				</div>
				<div class="col-xs-12 text-center">
					<button class="package_btn land_btn land_btn-ib">Начать Бесплатно</button>
				</div>
			</div>
		</div>
	</div>
</section>


