<section class=" lbk-2">
	<div class="grey">
		<div class="container">	
			<div class="row row-va-middle ">
				<div class="col-xs-12 col-sm-6">
					<p class="land_h1 land_h1-mb sm-hide">Аналитика и Ретаргетинг</p>
				</div>
				<div class="col-xs-12 col-md-6 ">
					<div class="posr">
						<img src="img/video_1-samp.jpg" class="sample" alt="">
						<div class="">
							<div class="video-cont">
								<!-- <iframe width="100%" height="100%" src="https://www.youtube.com/embed/mvjDAtVTMUw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
								<img src="img/poster/video_4.jpg" alt="">
							</div>
							<div class="land_vidbutton">
								<img src="img/svg/play_video-yellow.svg" onerror="this.onerror=null; this.src='img/icon/icon_play-90x90.png'" alt="play_video" class="topimg_btn-bgimg">
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<div class="white">
		<div class="container">
			<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-6 col-lg-offset-3">
				<div class="land_text">


					<p class="land_p ">
						Получайте информацию о прогрессе студентов прямо внутри системы
					</p>
					<hr class="land_hr">
					<p class="land_p ">
						Интегрируйте пиксели отслеживания и ретаргетинга в 1 клик
					</p>
					<hr class="land_hr">
					<p class="land_p ">
						Google Analytics, Facebook Pixel, Яндекс Метрика, Пиксель ВК, Счетчик MyTarget, Twitter Tag, Linkedin Tag, Pinterest Tag^ Quora Tag надежно работают вместе на всех ваших страницах 
					</p>
					<hr class="land_hr">
					<p class="land_p ">
						Сохраняйте и анализируйте информацию о лидах и клиентах в вашей CRM. Мы поддерживамем автоматическую интеграцию c более чем 20 CRM сервисами включая AmoCRM, ZohoCRM, Hubspot, Microsoft Dynamics		
					</p>

				</div>
				<div class="col-xs-12 text-center">
					<button class="package_btn land_btn land_btn-ib">Начать Бесплатно</button>
					
				</div>
			</div>
		</div>
	</div>
</section>


