
 
<section class="lpack">
	<div class="container">
		<p class="lpack_h1">
			Выбери свой план  подписки и начни зарабатывать сейчас!
		</p>
		<div class="row lpack_loop">
			<div class="lpack_slider">	
				<div class="lpack_slide">	
					<div class="lpack_el">
						<div class="lpack_head">
							<p class="lpack_h2">пакет</p>
							<p class="lpack_name">Профессиональный</p>
						</div>
						<div class="lpack_text">
							<p class="lpack_price">0$</p>
							<div class="lpack_inc-button">
								<p>
									<b>Вы платите только если у вас есть продажи, комиссия от выручки 6%</b>
								</p>
							</div>
							<button class="package_btn land_btn">Начните бесплатно</button>
							<div class="lpack_inc">	
							</div>
							<hr class="lpack_hr">
							<p>
								<b>Бесплатно вебинарная комната</b> <br>
								на 250 участников
							</p>
							<hr class="lpack_hr">
							<p>
								<b>8 Готовых Воронок Продаж:</b>  
								<a href="">Органическая</a>, 
								<a href="">Сбор Лидов</a>, 
								<a href="">Начни Бесплатно</a>, 4 Вебинарные: 
								<a href="">1</a>, 
								<a href="">2</a>, 
								<a href="">3</a>, 
								<a href="">4</a>, 
								<a href="">Учись Бесплатно</a> и 
								<a href="">Клуб Авторов  </a>
							</p>

							<hr class="lpack_hr">

							<p>
								<b>Возможность Участия в Партнерских Программах</b> <br>	
								"Учись Бесплатно" и
								<span>"Клуб Авторов" <a href="" class="lpack_icon">?</a></span>
							</p>

							<hr class="lpack_hr">

							<p>
								<b>Установка кодов отслеживания</b> 
								Google Analytics, Facebook Pixel
							</p>

							<hr class="lpack_hr">

							<p>
								<b>Программа Обучения</b> <br>	
								"Как Создать Онлайн Курс за 50 Дней" в подарок (обычная стоимость 199$)
							</p>

						</div>
					</div>
				</div>
				<div class="lpack_slide">	
					<div class="lpack_el">
						<div class="lpack_head">
							<p class="lpack_h2">пакет</p>
							<p class="lpack_name">Премиум</p>

						</div>
						<div class="lpack_text">	

							<p class="lpack_price">0$</p>
							<div class="lpack_inc-button">
								<p>
									<b>Вы платите только если у вас есть продажи, комиссия от выручки 10%</b>
								</p>
							</div>
							<button class="package_btn land_btn">Начните бесплатно</button>
							<div class="lpack_inc">	
								<p>
									<b>Всё в пакете Профессиональный, <br> <span class="orange">плюс</span></b>
								</p>
							</div>

							<hr class="lpack_hr">

							<p>
								<b>Бесплатно вебинарная комната</b> <br>

								на 500 участников
							</p>

							<hr class="lpack_hr">

							<p>
								<b>Дополнительно 8 Готовых Воронок Продаж:</b>  

								<a href="">Допродажа</a>,
								<a href="">Кросспродажа</a>,
								<a href="">Брошенная Корзина</a>,
								<a href="">Викторина</a>,
								<a href="">Доступ 72 часа</a>,
								<a href="">Мини Курс</a>,
								<a href="">Горячие Лиды</a>,
								<a href="">Слоеный Пирог</a>

							</p>

							<hr class="lpack_hr">

							<p>

								<b>Добавьте в обучение игровые и социальные механики c Heartbeat <span>Polaris <a href="" class="lpack_icon">?</a> </span></b> <br>
								<a href="">Попробуйте сами здесь</a>
							</p>

							<hr class="lpack_hr">

							<p>

								<b>Одноуровневая Партнерская Программа с Оплатой за Продажи  </b>
							</p>


							<hr class="lpack_hr">

							<p>
								<b>Установка кодов ретаргетинга</b> <br> Яндекс Метрика, Вконтакте, Одноклассники, Twitter, Linkedin, Pinterest
							</p>
							<hr class="lpack_hr">

							<p>
								<b>Онлайн курс "Продающий Вебинар - Руководство к Действию"</b> в подарок (обычная стоимость 99$)
							</p>

						</div>
					</div>
				</div>
				<div class="lpack_slide">	
					<div class="lpack_el">
						<div class="lpack_head">
							<p class="lpack_h2">пакет</p>
							<p class="lpack_name">VIP</p>
						</div>
						<div class="lpack_text">	
							<p class="lpack_price">0$</p>
							<div class="lpack_inc-button">
								<p>
									<b>
										вы не платите комиссию с первых 10000$ продаж, далее комиссия от выручки 15%
									</b>
								</p>
							</div>
							<button class="package_btn land_btn">Начните бесплатно</button>
							<div class="lpack_inc">
								<p>
									<b>Всё в пакете Премиум,<br>
										<span class="orange">плюс</span>
									</b>
								</p>
							</div>
							<hr class="lpack_hr">

							<p>
								<b>Бесплатно вебинарная комната</b> <br>
								на 1 000 участников
							</p>

							<hr class="lpack_hr">

							<p>
								<b>Индивидуальная Настройка Всех Воронок Продаж под ваши требования</b>  



							</p>

							<hr class="lpack_hr">

							<p>
								<b>Добавление Чатбота Facebook Messenger во все воронки. Посмотрите Примеры:</b> <a href="">Сбор Лидов</a>, <a href="">Вебинар</a>
							</p>

							<hr class="lpack_hr">

							<p>
								<b>Многоуровневая Партнерская Программа с Оплатой за Продажи и Регистрации</b>
							</p>


							<hr class="lpack_hr">

							<p>
								<b>Heartbeat Content</b> <br>
								Мы создадим индивидуальный контент для всех воронок для всех ваших продуктов; Мы напишем не менее 150 писем и 200 диалогов чатботов, отредактируем тексты ваших продающих страниц, лидмагнитов и презентаций для каждого вашего продукта.
							</p>
						</div>
					</div>
				</div>
				<div class="lpack_slide">	
					<div class="lpack_el">
						<div class="lpack_head">
							<p class="lpack_h2">пакет</p>
							<p class="lpack_name">VIP+</p>

						</div>
						<div class="lpack_text">	

							<p class="lpack_price">0$</p>
							<div class="lpack_inc-button">
								<p>
									<b>
										вы не платите комиссию с первых 10000$ продаж, далее комиссия от выручки 15%
									</b>
								</p>
							</div>
							<button class="package_btn land_btn">Начните бесплатно</button>
							<div class="lpack_inc">
								<p>
									<b>Всё в пакете VIP,<br>
										<span class="orange">плюс</span>
									</b>
								</p>

							</div>
							<hr class="lpack_hr">

							<p>
								<b>Бесплатно вебинарная комната</b> <br>
								на 2 000 участников
							</p>

							<hr class="lpack_hr">

							<p>
								<b>Добавление Чатбота Telegram во все воронки</b>  



							</p>

							<hr class="lpack_hr">

							<p>

								<b>Heartbeat Marketing</b>
								Перестаньте платить конские комиссии агентствам не обладающим компетенцией в нашей специфической нише. Передайте нам управление всеми вашими рекламными компаниями и повысьте их эффективность.
							</p>

							<hr class="lpack_hr">

							<p>
								<b>Установка индивидуальных кодов отслеживания</b>
							</p>


							<hr class="lpack_hr">

							<p>
								<b>Экспорт данных о действиях пользователей во внешние сервисы:</b> мессенжер Slack, управление проектами: Trello, Asana, CRM: AmoCRM, ZohoCRM, Salesforce, Pipedrive, Hubspot
							</p>

						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>

