<section class="lbk">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-5 col-lg-7">
				<p class="lbk_h1">
					Платформа для продажи <br>
					онлайн обучения
				</p>
			</div>
			<div class="col-xs-12 col-md-6 col-md-offset-1 col-lg-offset-0 col-lg-5 text-center">
				<div class="lbk_text">
					<p>
						Зарабатывай больше. <br>
						Экономь время. <br>
						Развивай свой бренд 
					</p>
				</div>
			</div>
		</div>
	</div>
</section>