<section class="ltvid">
	<div class="grey">
		<div class="container">
			<div class="row row-va-middle">
				<div class="col-xs-12 col-md-6 col-lg-8">
					<div class="posr schs">
						<img src="img/v_sample.jpg" class="sample" alt="">
						<div class="vidcont ">
							<div class="video-cont">
								<!-- <iframe width="100%" height="100%" src="https://www.youtube.com/embed/mvjDAtVTMUw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
								<img src="img/poster/videostart.jpg" alt="">
							</div>
							<div class="land_vidbutton">
								<img src="img/svg/play_video-yellow.svg" onerror="this.onerror=null; this.src='img/icon/icon_play-90x90.png'" alt="play_video" class="topimg_btn-bgimg">
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-5 col-lg-4 hidden-xs hidden-sm">
					<div class="row">
						<div class="land_text">

							<ul class="land_list">
								<li class="land_item">
									<p class="land_p">Все форматы обучения: <br>онлайн курсы, телеклассы, практики, консультации</p>
								</li>
								<li class="land_item">
									<p class="land_p">Готовые воронки продаж</p>
								</li>
								<li class="land_item">
									<p class="land_p">Встроенный прием заказов и оплат</p>
								</li>
								<li class="land_item">
									<p class="land_p">Аналитика и Ретаргетинг</p>
								</li>
								<li class="land_item">
									<p class="land_p">Партнерская Программа</p>
								</li>
							</ul>
							<button class="package_btn land_btn">Начать Бесплатно</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>