<section class="lwin">
	<div class="container">
		<div class="lwin_bg">
			<p class="lwin_h1">
				Все Планы Включают
			</p>
			<div class="row">
				<div class="col-xs-12 col-md-offset-2 col-lg-offset-0 col-md-4 col-lg-3 text-center ">
					
					<ul class="lwin_list">
						<li class="lwin_item">
							<p class="lwin_p">Все Форматы Обучения</p>
						</li>
						<li class="lwin_item">
							<p class="lwin_p">Неограниченное Количество Курсов</p>
						</li>
						<li class="lwin_item">
							<p class="lwin_p">Неограниченное Количество Студентов</p>
						</li>
						<li class="lwin_item">
							<p class="lwin_p">Неограниченное Хранилище Файлов</p>
						</li>
						<li class="lwin_item">
							<p class="lwin_p">Неограниченное Количество Вебинаров</p>
						</li>
						<li class="lwin_item">
							<p class="lwin_p">Запись Вебинаров</p>
						</li>
					</ul>
				</div>

				<div class="col-xs-12 col-md-4 col-lg-3 text-center ">
					<hr class="lwin_hr hidden-lg hidden-md">
					<ul class="lwin_list">
						<li class="lwin_item">
							<p class="lwin_p">Конверсионные Целевые Страницы</p>
						</li>
						<li class="lwin_item">
							<p class="lwin_p">Видеоплеер с защитой от скачивания</p>
						</li>
						<li class="lwin_item">
							<p class="lwin_p">Использование Тестов и Экзаменов</p>
						</li>
						<li class="lwin_item">
							<p class="lwin_p">Сертификаты и бейджи Linkedin</p>
						</li>
						<li class="lwin_item">
							<p class="lwin_p">Публикацию Уроков по Расписанию</p>
						</li>
						<li class="lwin_item">
							<p class="lwin_p">Обучение по потокам и в собственном темпе</p>
						</li>
					</ul>
				</div>

				<div class="col-md-8 col-md-offset-2 col-lg-offset-0  hidden-lg hidden-xs hidden-sm">
					<hr class="lwin_hr">
				</div>

				<div class="col-xs-12 col-md-offset-2 col-lg-offset-0 col-md-4 col-lg-3 text-center ">
					<hr class="lwin_hr hidden-lg hidden-md">
					<ul class="lwin_list">
						<li class="lwin_item">
							<p class="lwin_p">Оплата картами и Paypal (2,9%+0.3$ за транзакцию)</p>
						</li>
						<li class="lwin_item">
							<p class="lwin_p">Оплату по подписке</p>
						</li>
						<li class="lwin_item">
							<p class="lwin_p">Оплата частями</p>
						</li>
						<li class="lwin_item">
							<p class="lwin_p">Промокоды для предоставления скидок</p>
						</li>
						<li class="lwin_item">
							<p class="lwin_p">Допродажа в 1 клик <a href="" class="lpack_icon">?</a></p>
						</li>
						<li class="lwin_item">
							<p class="lwin_p">Инфо о транзакциях в реальном времени</p>
						</li>
					</ul>
				</div>

				<div class="col-xs-12 col-md-4 col-lg-3 text-center ">
					<hr class="lwin_hr hidden-lg hidden-md">
					<ul class="lwin_list">
						<li class="lwin_item">
							<p class="lwin_p">Сервис емейл рассылок с готовыми шаблонами писем</p>
						</li>
						<li class="lwin_item">
							<p class="lwin_p">Неограниченное количество емейл адресов</p>
						</li>
						<li class="lwin_item">
							<p class="lwin_p">CRM с встроенным лидскорингом <a href="" class="lpack_icon">?</a></p>
						</li>
						<li class="lwin_item">
							<p class="lwin_p">Интегрированные СМС рассылки</p>
						</li>
						<li class="lwin_item">
							<p class="lwin_p">Аналитика по прогрессу студентов</p>
						</li>
						<li class="lwin_item">
							<p class="lwin_p">Независимые Рейтинги и Отзывы <a href="" class="lpack_icon">?</a></p>
						</li>
					</ul>
				</div>
			</div>

		</div>
	</div>
</section>

