<section class="msauthor">
	<div class="container ">

		<p class="h1 msauthor_h1 text-center">
			Мастер-классы других авторов
		</p>
		<div class="row">
			<div class="msauthor_slider">
				<div class="msauthor_slide">
					<div class="msauthor_el">
						<img src="img/aut_1.jpg" class="msauthor_img" alt="">
						<div class="msauthor_text">
							<div class="msauthor_bottom">
								<p class="msauthor_name">Надежда Есенина</p>
								<div class="msauthor_discr">Heartbeat — платформа для продажи онлайн обучения</div>
								<div class="msauthor_date">29 марта, четверг</div>
							</div>
						</div>
					</div>
				</div>
				<div class="msauthor_slide">
					<div class="msauthor_el">
						<img src="img/aut_1.jpg" class="msauthor_img" alt="">
						<div class="msauthor_text">
							<div class="msauthor_bottom">
								<p class="msauthor_name">Надежда Есенина</p>
								<div class="msauthor_discr">Heartbeat — платформа для продажи онлайн обучения</div>
								<div class="msauthor_date">29 марта, четверг</div>
							</div>
						</div>
					</div>
				</div>
				<div class="msauthor_slide">
					<div class="msauthor_el">
						<img src="img/aut_1.jpg" class="msauthor_img" alt="">
						<div class="msauthor_text">
							<div class="msauthor_bottom">
								<p class="msauthor_name">Надежда Есенина</p>
								<div class="msauthor_discr">Heartbeat — платформа для продажи онлайн обучения</div>
								<div class="msauthor_date">29 марта, четверг</div>
							</div>
						</div>
					</div>
				</div>
				<div class="msauthor_slide">
					<div class="msauthor_el">
						<img src="img/aut_1.jpg" class="msauthor_img" alt="">
						<div class="msauthor_text">
							<div class="msauthor_bottom">
								<p class="msauthor_name">Надежда Есенина</p>
								<div class="msauthor_discr">Heartbeat — платформа для продажи онлайн обучения</div>
								<div class="msauthor_date">29 марта, четверг</div>
							</div>
						</div>
					</div>
				</div>
				<div class="msauthor_slide">
					<div class="msauthor_el">
						<img src="img/aut_1.jpg" class="msauthor_img" alt="">
						<div class="msauthor_text">
							<div class="msauthor_bottom">
								<p class="msauthor_name">Надежда Есенина</p>
								<div class="msauthor_discr">Heartbeat — платформа для продажи онлайн обучения</div>
								<div class="msauthor_date">29 марта, четверг</div>
							</div>
						</div>
					</div>
				</div>
				<div class="msauthor_slide">
					<div class="msauthor_el">
						<img src="img/aut_1.jpg" class="msauthor_img" alt="">
						<div class="msauthor_text">
							<div class="msauthor_bottom">
								<p class="msauthor_name">Надежда Есенина</p>
								<div class="msauthor_discr">Heartbeat — платформа для продажи онлайн обучения</div>
								<div class="msauthor_date">29 марта, четверг</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>