<section class="mstop js-padtop">
	<div class="mstop_img" data-dadd="img/mctop.jpg">
		<div class="mstop_grad">
			
		</div>
		<img src="img/msbgsamp.jpg" class="sample" alt="">
	</div>
	<div class="mstop_cont">
		<div class="container"  >
			<div class="row row-va-middle">
				<div class="col-xs-12 hidden-sm hidden-xs col-md-4 col-lg-3">
					<p class="mstop_p text-right">
						Бесплатный 
						Открытый Онлайн Урок
					</p>
				</div>
				<div class="col-xs-12 hidden-sm hidden-xs col-md-6 col-lg-6"></div>
				<div class="col-xs-12 hidden-sm hidden-xs col-md-2 col-lg-3">
					<p class="mstop_p">Александр  Гринштейн</p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-2 col-md-offset-5 text-center">
					<button class="mstop_ibtn">
						<img src="img/icon/icon_play-2.png" alt="">
					</button>
				</div>
				<div class="col-xs-12 hidden-md hidden-lg text-center">
					<p class="mstop_p ">
						Бесплатный 
						Открытый Онлайн Урок
					</p>
				</div>
				<div class="col-xs-12 hidden-md hidden-lg text-center">
					<p class="mstop_p">Александр  Гринштейн</p>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12 col-sm-10 col-sm-offset-1">
					<p class="mstop_h1">
						Heartbeat — платформа
						<br>
						для продажи онлайн обучения
					</p>
				</div>
			</div>
			<div class="row text-center">
				<p class="mstop_begin">29 марта, четверг <span class="sep"></span> 20:00</p>
				<button class="mstop_btn">Записаться</button>
				<br>
				<div class="msclock js-msclock">
					<p class="msclock_p">
						До начала осталось
					</p>
					
					<div class="msclock_holder">
						<span class="msclock_digit days false "></span>
						<div class="msclock_label">дней</div>
					</div>
					<div class="msclock_holder">
						<span class=" msclock_digit hours false "></span>
						<div class="msclock_label">часов</div>
					</div>
					<div class="msclock_holder">
						<span class=" msclock_digit minutes false "></span>
						<div class="msclock_label">минут</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12  col-lg-10 col-lg-offset-1 text-center">
					<div class="mstop_text">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
					</div>
					
				</div>
				
			</div>
			<div class="row ">
				<div class="col-xs-12">
					<p class="mstop_h2 text-center">
						Что будет на мастер-классе?
					</p>
				</div>
				<div class="col-xs-12 col-lg-10 col-lg-offset-1">	
					<hr class="mstop_hr">	
				</div>
				<div class="col-xs-12 col-sm-6 col-lg-4 col-lg-offset-2">
					<div class="mstop_list">
						<ul>
							<li>Lorem ipsum dolor sit amet</li>
							<li>consectetur adipiscing elit</li>
							<li>sed do eiusmod tempor incididunt</li>
							<li>ut labore et dolore magna aliqua</li>
						</ul>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-lg-5">
					<div class="mstop_list">
						<ul>
							<li>ut enim ad minim veniam</li>
							<li>quis nostrud exercitation ullamco laboris</li>
							<li>nisi ut aliquip ex ea commodo consequat</li>
							<li>duis aute irure dolor in reprehenderit in voluptate</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">	

				<div class="col-xs-12 text-center">
					<div class="msclock msclock-mrg js-msclock">
						<p class="msclock_p">
							До начала осталось
						</p>
						<hr class="msclock_hr">
						<div class="msclock_holder">
							<span class="msclock_digit days false "></span>
							<div class="msclock_label">дней</div>
						</div>
						<div class="msclock_holder">
							<span class=" msclock_digit hours false "></span>
							<div class="msclock_label">часов</div>
						</div>
						<div class="msclock_holder">
							<span class=" msclock_digit minutes false "></span>
							<div class="msclock_label">минут</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-lg-10 col-lg-offset-1">
					//= el_wind.html
				</div>
			</div>
		</div>

		
	</div>
</section>
