<article id="js-plan" class="wi plan ">
	<div class="win_head">
		<p class="win_h2 win_h2-head">
			Учебный план
		</p>
		<ul class="win_headlist listinfo">
			<li class="listinfo_item">
				<p class="listinfo_p"> Лекций: 275</p>
			</li>
			<li class="listinfo_item">
				<p class="listinfo_p">40:46:57</p>
			</li>
			<li class="listinfo_item">
				<p class="listinfo_p listinfo_p-button js-uncollapse" data-collTarget="js-collExamp">
					<span>Развернуть</span>
					<span>Свернуть</span> все
				</p>
			</li>
		</ul>
	</div>
	<ul id="js-collExamp" class="collapse">
		<li class="collapse_item">
			<div class="collapse_el">
				<i class="collapse_icon icon-List-Open"></i>
				<p class="collapse_name">
					Welcome to the course!
				</p>
				<div class="collapse_rs">
					<p class="collapse_lnumb">
						Лекций: 5
					</p>
					<p class="collapse_date">
						 
					</p>
				</div>
			</div>
			<ul class="collapse_list">
				<li class="collapse_citem collapse_citem-demo">
					<i class="collapse_cicon icon-Lesson-Video"></i>
					<p class="collapse_cname">
						Applications of Machine Learning
					</p>
					<div class="collapse_crs">
						<a class="collapse_prev" href="#">
							Предварительный просмотр
						</a>
						<p class="collapse_date">
							03:22
						</p>
					</div>
				</li>
				<li class="collapse_citem">
					<i class="collapse_cicon icon-Lesson-Video"></i>
					<p class="collapse_cname">
						Why Machine Learning is the Future
					</p>
					<div class="collapse_crs">
						<p class="collapse_date">
							06:37
						</p>
					</div>
				</li>
				<li class="collapse_citem">
					<i class="collapse_cicon icon-Lesson-Video"></i>
					<p class="collapse_cname">
						Installing R and R Studio (MAC & Windows)
					</p>
					<div class="collapse_crs">
						<p class="collapse_date">
							1:05:40
						</p>
					</div>
				</li>
				<li class="collapse_citem">
					<i class="collapse_cicon icon-Lesson-Video"></i>
					<p class="collapse_cname">
						Installing Python and Anaconda (MAC & Windows)
					</p>
					<div class="collapse_crs">
						<p class="collapse_date">
							07:31
						</p>
					</div>
				</li>
				<li class="collapse_citem">
					<i class="collapse_cicon icon-Feature-Article"></i>
					<p class="collapse_cname">
						BONUS: Meet your instructors
					</p>
					<div class="collapse_crs">
						<p class="collapse_date">
							00:29
						</p>
					</div>
				</li>
			</ul>
		</li>
		<li class="collapse_item">
			<div class="collapse_el">
				<i class="collapse_icon icon-List-Open"></i>
				<p class="collapse_name">
					Part 1: Data Preprocessing
				</p>
				<div class="collapse_rs">
					<p class="collapse_lnumb">
						Лекций: 10
					</p>
					<p class="collapse_date">
						1:42:47
					</p>
				</div>
			</div>
			<ul class="collapse_list">
				<li class="collapse_citem collapse_citem-demo">
					<i class="collapse_cicon icon-Lesson-Video"></i>
					<p class="collapse_cname">
						Applications of Machine Learning
					</p>
					<div class="collapse_crs">
						<a class="collapse_prev" href="#">
							Предварительный просмотр
						</a>
						<p class="collapse_date">
							03:22
						</p>
					</div>
				</li>
				<li class="collapse_citem">
					<i class="collapse_cicon icon-Lesson-Video"></i>
					<p class="collapse_cname">
						Why Machine Learning is the Future
					</p>
					<div class="collapse_crs">
						<p class="collapse_date">
							06:37
						</p>
					</div>
				</li>
				<li class="collapse_citem">
					<i class="collapse_cicon icon-Lesson-Video"></i>
					<p class="collapse_cname">
						Installing R and R Studio (MAC & Windows)
					</p>
					<div class="collapse_crs">
						<p class="collapse_date">
							2:05:40
						</p>
					</div>
				</li>
				<li class="collapse_citem">
					<i class="collapse_cicon icon-Lesson-Video"></i>
					<p class="collapse_cname">
						Installing Python and Anaconda (MAC & Windows)
					</p>
					<div class="collapse_crs">
						<p class="collapse_date">
							07:31
						</p>
					</div>
				</li>
				<li class="collapse_citem">
					<i class="collapse_cicon icon-Feature-Article"></i>
					<p class="collapse_cname">
						BONUS: Meet your instructors
					</p>
					<div class="collapse_crs">
						<p class="collapse_date">
							00:29
						</p>
					</div>
				</li>
			</ul>
		</li>
		<li class="collapse_item">
			<div class="collapse_el">
				<i class="collapse_icon icon-List-Open"></i>
				<p class="collapse_name">
					Part 2: Regression
				</p>
				<div class="collapse_rs">
					<p class="collapse_lnumb">
						Лекций: 3
					</p>
					<p class="collapse_date">
						 
					</p>
				</div>
			</div>
			<ul class="collapse_list">
				<li class="collapse_citem collapse_citem-demo">
					<i class="collapse_cicon icon-Lesson-Video"></i>
					<p class="collapse_cname">
						Applications of Machine Learning
					</p>
					<div class="collapse_crs">
						<a class="collapse_prev" href="#">
							Предварительный просмотр
						</a>
						<p class="collapse_date">
							03:22
						</p>
					</div>
				</li>
				<li class="collapse_citem">
					<i class="collapse_cicon icon-Lesson-Video"></i>
					<p class="collapse_cname">
						Why Machine Learning is the Future
					</p>
					<div class="collapse_crs">
						<p class="collapse_date">
							06:37
						</p>
					</div>
				</li>
				<li class="collapse_citem">
					<i class="collapse_cicon icon-Lesson-Video"></i>
					<p class="collapse_cname">
						Installing R and R Studio (MAC & Windows)
					</p>
					<div class="collapse_crs">
						<p class="collapse_date">
							05:40
						</p>
					</div>
				</li>
				<li class="collapse_citem">
					<i class="collapse_cicon icon-Lesson-Video"></i>
					<p class="collapse_cname">
						Installing Python and Anaconda (MAC & Windows)
					</p>
					<div class="collapse_crs">
						<p class="collapse_date">
							07:31
						</p>
					</div>
				</li>
				<li class="collapse_citem">
					<i class="collapse_cicon icon-Feature-Article"></i>
					<p class="collapse_cname">
						BONUS: Meet your instructors
					</p>
					<div class="collapse_crs">
						<p class="collapse_date">
							60:29
						</p>
					</div>
				</li>
			</ul>
		</li>
		<li class="collapse_item">
			<div class="collapse_el">
				<i class="collapse_icon icon-List-Open"></i>
				<p class="collapse_name">
					Part 2: Regression
				</p>
				<div class="collapse_rs">
					<p class="collapse_lnumb">
						Лекций: 12
					</p>
					<p class="collapse_date">
						 
					</p>
				</div>
			</div>
			<ul class="collapse_list">
				<li class="collapse_citem collapse_citem-demo">
					<i class="collapse_cicon icon-Lesson-Video"></i>
					<p class="collapse_cname">
						Applications of Machine Learning
					</p>
					<div class="collapse_crs">
						<a class="collapse_prev" href="#">
							Предварительный просмотр
						</a>
						<p class="collapse_date">
							03:22
						</p>
					</div>
				</li>
				<li class="collapse_citem">
					<i class="collapse_cicon icon-Lesson-Video"></i>
					<p class="collapse_cname">
						Why Machine Learning is the Future
					</p>
					<div class="collapse_crs">
						<p class="collapse_date">
							06:37
						</p>
					</div>
				</li>
				<li class="collapse_citem">
					<i class="collapse_cicon icon-Lesson-Video"></i>
					<p class="collapse_cname">
						Installing R and R Studio (MAC & Windows)
					</p>
					<div class="collapse_crs">
						<p class="collapse_date">
							05:40
						</p>
					</div>
				</li>
				<li class="collapse_citem">
					<i class="collapse_cicon icon-Lesson-Video"></i>
					<p class="collapse_cname">
						Installing Python and Anaconda (MAC & Windows)
					</p>
					<div class="collapse_crs">
						<p class="collapse_date">
							07:31
						</p>
					</div>
				</li>
				<li class="collapse_citem">
					<i class="collapse_cicon icon-Feature-Article"></i>
					<p class="collapse_cname">
						BONUS: Meet your instructors
					</p>
					<div class="collapse_crs">
						<p class="collapse_date">
							03:29
						</p>
					</div>
				</li>
			</ul>
		</li>
		<li class="collapse_item">
			<div class="collapse_el">
				<i class="collapse_icon icon-List-Open"></i>
				<p class="collapse_name">
					two rows item example <br>
					two rows item example
				</p>
				<div class="collapse_rs">
					<p class="collapse_lnumb">
						Лекций: 12
					</p>
					<p class="collapse_date">
						 
					</p>
				</div>
			</div>
			<ul class="collapse_list">
				<li class="collapse_citem collapse_citem-demo">
					<i class="collapse_cicon icon-Lesson-Video"></i>
					<p class="collapse_cname">
						Applications of Machine Learning
					</p>
					<div class="collapse_crs">
						<a class="collapse_prev" href="#">
							Предварительный просмотр
						</a>
						<p class="collapse_date">
							03:22
						</p>
					</div>
				</li>
				<li class="collapse_citem">
					<i class="collapse_cicon icon-Lesson-Video"></i>
					<p class="collapse_cname">
						Why Machine Learning is the Future
					</p>
					<div class="collapse_crs">
						<p class="collapse_date">
							06:37
						</p>
					</div>
				</li>
				<li class="collapse_citem">
					<i class="collapse_cicon icon-Lesson-Video"></i>
					<p class="collapse_cname">
						two rows item example <br>
						two rows item example
					</p>
					<div class="collapse_crs">
						<p class="collapse_date">
							01:40
						</p>
					</div>
				</li>
				<li class="collapse_citem">
					<i class="collapse_cicon icon-Lesson-Video"></i>
					<p class="collapse_cname">
						Installing Python and Anaconda (MAC & Windows)
					</p>
					<div class="collapse_crs">
						<p class="collapse_date">
							07:31
						</p>
					</div>
				</li>
				<li class="collapse_citem">
					<i class="collapse_cicon icon-Feature-Article"></i>
					<p class="collapse_cname">
						BONUS: Meet your instructors
					</p>
					<div class="collapse_crs">
						<p class="collapse_date">
							00:29
						</p>
					</div>
				</li>
			</ul>
		</li>
		<li class="collapse_item">
			<div class="collapse_el">
				<i class="collapse_icon icon-List-Open"></i>
				<p class="collapse_name">
					Too many letters for the example line and maximum chars in row example
				</p>
				<div class="collapse_rs">
					<p class="collapse_lnumb">
						Лекций: 100
					</p>
					<p class="collapse_date">
						 
					</p>
				</div>
			</div>
			<ul class="collapse_list">
				<li class="collapse_citem collapse_citem-demo">
					<i class="collapse_cicon icon-Lesson-Video"></i>
					<p class="collapse_cname">
						Applications of Machine Learning
					</p>
					<div class="collapse_crs">
						<a class="collapse_prev" href="#">
							Предварительный просмотр
						</a>
						<p class="collapse_date">
							9:60:60
						</p>
					</div>
				</li>
				<li class="collapse_citem">
					<i class="collapse_cicon icon-Lesson-Video"></i>
					<p class="collapse_cname">
						Why Machine Learning is the Future
					</p>
					<div class="collapse_crs">
						<p class="collapse_date">
							9:60:60
						</p>
					</div>
				</li>
				<li class="collapse_citem">
					<i class="collapse_cicon icon-Lesson-Video"></i>
					<p class="collapse_cname">
						Too many letters for the example line and maximum chars in 
					</p>
					<div class="collapse_crs">
						<p class="collapse_date">
							9:60:60
						</p>
					</div>
				</li>
				<li class="collapse_citem">
					<i class="collapse_cicon icon-Lesson-Video"></i>
					<p class="collapse_cname">
						Installing Python and Anaconda (MAC & Windows)
					</p>
					<div class="collapse_crs">
						<p class="collapse_date">
							9:60:60
						</p>
					</div>
				</li>
				<li class="collapse_citem">
					<i class="collapse_cicon icon-Feature-Article"></i>
					<p class="collapse_cname">
						BONUS: Meet your instructors
					</p>
					<div class="collapse_crs">
						<p class="collapse_date">
							9:60:60
						</p>
					</div>
				</li>
			</ul>
		</li>
	</ul>
	<div class="ta-center">
		<a href="#" class="win_link">	+ Еще разделов: 3</a>
	</div>
</article>
