<section class="soffer">
	<div class="soffer_bg">
		<div class="container container-mw">
			<p class="soffer_h2">Специальное предложение для тех, кто не любит ждать.</p>
			<p class="soffer_h1">Только сейчас — персональная <br> консультация с мастером!</p>
			<div class="text-center">
				<i class="soffer_icon icon-m-calendar"></i>
			</div>
			<div class="soffer_info">
				<p class="bold">16, 17, 18 апреля</p>
				<p >19:00</p>
			</div>
			<div class="soffer_vcont">

				<img src="../img/Video.jpg"  alt="">
				<div class="soffer_vcont-bottom">
					<div class="soffer_lable">
						<p>Видеобращение автора </p> <button class="vbtn"> <i class="icon-play"></i> </button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container container-mw">
		<div class="row">
			<div class="col-xs-12">
				<div class="soffer_p">
					Полтора часа мощных техник и приемов риторики. Научим парировать, отвечать на каверзные вопросы, оборачивать выпады оппонентов себе на пользу! Персональное общение с тренером в группе до 6 человек!
				</div>
			</div>
		</div>
		<div class="row">
			<div class="soffer_bt">
				<div class="col-xs-12 col-md-8">
					<p class="soffer_p soffer_p-org">Количество мест ограничено! Обычная цена - $30</p>
					<p class="soffer_p soffer_p-lrg">	Специальная цена для участников группы - $9 </p>
				</div>
				<div class="col-xs-12 col-md-4 text-right">
					<button class="package_btn soffer_btn" >Занять место</button>
				</div>
			</div>
		</div>
	</div>
</section>