<section class="tvid">
	<div class="tvid_poster" data-dadd="img/tvid.jpg">
		<img src="img/poster/tvid_sample.jpg" class="sample " alt="">
		<div class="tvid_playicon-mob tvid_playicon">
			<img src="img/icon/icon_play-2.png" alt="">
		</div>
	</div>
	<div class="tvid_cont">
		<div class="tvid_middler">
			<div class="container text-center">
				<div class="row">
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<p class="tvid_h1">Платформа для продажи
						онлайн обучения</p>
						
					</div>
				</div>

				<p class="tvid_p">
					Цикл лекций Кирилла Клименко, <br>
					руководителя компании BigDataScience
				</p>
				<div class="tvid_playicon">
					<img src="img/icon/icon_play-2.png" alt="">
				</div>
				<br>
				<button class="btn tvid_btn">Занять место</button>
			</div>
		</div>
		<div class="tvid_arw">
			<i class="icon-List-Open"></i>
		</div>
	</div>
</section>