<div class="calendar">
	<p class="side_h1">КАЛЕНДАРЬ</p>
	<ul class="calendar_list">
		<li class="calendar_item ">
			<i class="icon-calendar-check-o"></i>
			<p class="calendar_p ">Среда, 13 сентября 2017, 11:00</p>
		</li>
		<li class="calendar_item ">
			<i class="icon-calendar-check-o"></i>
			<p class="calendar_p ">Среда, 13 сентября 2017, 11:00</p>
		</li>
		<li class="calendar_item ">
			<i class="icon-calendar-check-o"></i>
			<p class="calendar_p ">Среда, 13 сентября 2017, 11:00</p>
		</li>
		<li class="calendar_item js-calendar-hidden">
			<i class="icon-calendar-check-o"></i>
			<p class="calendar_p ">Среда, 13 сентября 2017, 11:00</p>
		</li>
		<li class="calendar_item js-calendar-hidden">
			<i class="icon-calendar-check-o"></i>
			<p class="calendar_p ">Среда, 13 сентября 2017, 11:00</p>
		</li>
		<li class="calendar_item js-calendar-hidden">
			<i class="icon-calendar-check-o"></i>
			<p class="calendar_p ">Среда, 13 сентября 2017, 11:00</p>
		</li>
	</ul>
</div>