<div class="contdown js-contdown">
	<div class="contdown_holder">
		<span class="contdown_digit days"></span>
		<div class="contdown_label">Дней</div>
	</div>
	<div class="contdown_holder">
		<span class=" contdown_digit hours"></span>
		<div class="contdown_label">Часов</div>
	</div>
	<div class="contdown_holder">
		<span class=" contdown_digit minutes"></span>
		<div class="contdown_label">Минут</div>
	</div>
</div>