<section class="container garant cache">

	<div class="row">
		<div class="win">
			<p class="win_h2 garant_h2-sec hidden-md hidden-lg text-center">
				Подтверждение ваших навыков
			</p>
			<div class="win_img-holder">
				<img src="img/poster/Linkdin recomendation.png" alt="recomendation" class="win_img">
			</div>
			<div class="win_text">
				<p class="win_h2 win_h2-left hidden-sm hidden-xs">
					Подтверждение ваших навыков
				</p>
				<p class="win_p">
					После окончания курса обучения вы сдаете экзамен и получаете сертификат с печатью школы, а также рекомендацию в LinkedIn. Мы подтверждаем ваши достижения в течение 3 лет с момента окончания обучения.
				</p>
			</div>
		</div>
		<div class="win">
			<p class="win_h2 garant_h2-sec hidden-md hidden-lg text-center">
				Гарантия возврата денег
			</p>
			<div class="win_img-holder">
				<img src="img/poster/Refund.png" alt="Refund" class="win_img">
			</div>
			<div class="win_text">
				<p class="win_h2 win_h2-left hidden-sm hidden-xs">
					Гарантия возврата денег
				</p>
				<p class="win_p">
					После окончания курса обучения вы сдаете экзамен и получаете сертификат с печатью школы, а также рекомендацию в LinkedIn. Мы подтверждаем ваши достижения в течение 3 лет с момента окончания обучения.
				</p>
			</div>
		</div>
	</div>
</section>