<div class="gwind">
	<img src="img/gwind_dec.png" alt="" class="gwind_decor">
	<div class="gwind_text">
		<p>Все участники мастер-класса получают бесплатный доступ к пакету Премиум платформы Heart Beat на один месяц.</p>
	</div>
	<a class="gwind_label" href="">Детали</a>
</div>