<div class="rew_el">
	<div class="row">
		<div class="col-xs-12 col-md-4">
			<div class="rew_photo">
				<img src="img/photo/testimonials_3.jpg" alt="photo">
			</div>
			<div class="hidden-sm hidden-xs">
				<hr class="rew_hr">
				<p>
					<b>Использованные Функции:</b> <br>
					<span>Органическая Воронка, Платежи по Подписке, Публикация по Расписанию, Промокоды</span>
				</p>

				<p><b>Подписка:</b> <span>Профессиональная</span></p>
			</div>
		</div>
		<div class="col-xs-12 col-md-8">
			<p class="rew_name">
				Альфред Кох
			</p>
			<p class="rew_company">
				New mind agency
			</p>
			<div class="rew_text">
				<p class="rew_tname">Практики по Подписке для Теплой Аудитории</p>
				<p>
					Наше агентство с 1996 года занимается тренингами личной эффективности. Так как мы работали все время в офлайне, то мы купились на предложение Heartbeat Education начать бесплатно - платишь комиссию только если у тебя есть продажи. Благодаря возможностям представленным Heartbeat Education, мы смогли предложить выпускникам наших <b>тренингов</b> программу по подписке "Практики Осознанности". В течении 3 дней по окончании тренинга, участники получали возможность купить подписку с 20% скидкой(обычная стоимость <b>$25</b> в месяц/<b>$250</b> в год). Ограниченные сроки действия промокода мотивировали участников быстро принимать решение, и в сочетании с понятным лендингом и удобной страницей оплаты позволили получить конверсию в подписку 80%. Мы заранее подготовили весь контент и используя функцию публикации по расписанию распланировали его на год, делая порции контента доступными спустя определенное количество дней после покупки подписки, Данная функция позволила нам опубликовать контент один раз и не вносить изменения после каждого тренинга. Иногда у покупателей <a href="">подписки</a> не  было достаточно средств на карте. Однако благодаря тому, что в случае отказа платежа по подписке Heartbeat Education делает в течении месяца три дополнительные попытки списания средтств, спустя полгода 97% клиентов купивших ежемесячную подписку по прежнему приносят нам деньги. Благодаря внедрению подписок в нашу бизнес модель, мы смогли увеличить выручку на 57%, а прибыль на 120%. Сейчас мы завершаем работу над второй программой по подписке "Практики Продуктивности", а также готовим 4 онлайн курса, которые вы скоро увидите на Heartbeat Education. Как только они будут готовы, мы планируем перейти на план Премиум
				</p>
			</div>
		</div>
		<div class="col-xs-12 hidden-lg hidden-md">
			<div class="rew_info">
				<hr class="rew_hr">
				<p>
					<b>Использованные Функции:</b> <br>
					<span>Органическая Воронка, Платежи по Подписке, Публикация по Расписанию, Промокоды</span>
				</p>
				<p><b>Подписка:</b> <span>Профессиональная</span></p>
			</div>
		</div>
	</div>
</div> 