<p class="scl_p">
	Пригласить друзей
</p>
<ul class="scl">
	<li>
		<a href=""><i class="icon-tw"></i></a>
	</li>
	<li>
		<a href=""><i class="icon-fb"></i></a>
	</li>
	<li>
		<a href=""><i class="icon-envelope"></i></a>
	</li>
</ul>