<div class="wind">
	<p class="h1 wind_h1">Регистрация на бесплатное открытое занятие</p>
	<p class="wind_p">Уже зарегистрированы в «Heartbeat»? <a href="#">Авторизуйтесь!</a></p>
	//= el_gwin
	<form action="" class="wind_form">
		<div>
			<input type="text" class="wind_input" name="name" placeholder="Имя" >
			<input type="text" class="wind_input" name="fname" placeholder="Фамилия" >
		</div>
		<div>
			<input type="text" class="wind_input" name="phone" placeholder="Телефон" >
			<input type="text" class="wind_input" name="mail" placeholder="Email" >
		</div>
		<label class="wind_label" >
			<input type="checkbox" name="subs" id="">
			<span class="icon"><i class="icon-square"></i> <i class="icon-check-square"></i> </span>
			Хочу получать полезные статьи
		</label>
		<div >
			<button class="mstop_btn">Записаться</button>
		</div>
		<div class="msclock msclock-dark js-msclock">
			<p class="msclock_p">
				До начала осталось
			</p>
			<div class="msclock_holder">
				<span class="msclock_digit days false "></span>
				<div class="msclock_label">дней</div>
			</div>
			<div class="msclock_holder">
				<span class=" msclock_digit hours false "></span>
				<div class="msclock_label">часов</div>
			</div>
			<div class="msclock_holder">
				<span class=" msclock_digit minutes false "></span>
				<div class="msclock_label">минут</div>
			</div>
		</div>
	</form>

</div>