<!-- BEGIN FOOTER -->	
<footer>

	<div class="container ta-center">
		<div class="footer">
			<div class="footer_logo">
				<i class="icon-Logo-Znak"></i>
			</div>
			<ul class="footer_links">
				<li class="footer_item">
					<a href="#" class="footer_link">About Us</a>
				</li>
				<li class="footer_item">
					<a href="#" class="footer_link">For Business</a>
				</li>
				<li class="footer_item">
					<a href="#" class="footer_link">Become an Instructor</a>
				</li>
				<li class="footer_item">
					<a href="#" class="footer_link">Affiliates</a>
				</li>
				<li class="footer_item">
					<a href="#" class="footer_link">Blog</a>
				</li>
				<li class="footer_item">
					<a href="#" class="footer_link">Topics</a>
				</li>
				<li class="footer_item">
					<a href="#" class="footer_link">Resources</a>
				</li>
			</ul>
			<ul class="footer_links footer_links-light">
				<li class="footer_item">
					<a href="" class="footer_link footer_link-light">Terms</a>
				</li>
				<li class="footer_item">
					<a href="" class="footer_link footer_link-light">Privacy Policy and Cookie Policy</a>
				</li>
				<li class="footer_item">
					<a href="" class="footer_link footer_link-light">Intellectual Property</a>
				</li>
			</ul>
			<p class="footer_link footer_link-light">Copyright © 2017 Heart beat, Inc.</p>
		</div>
	</div>

</footer>

<!-- FOOTER EOF   -->