<!-- BEGIN HEADER -->
<header>
	
	<div class="container">	
		<div class="row">
			<div class="col-xs-10 col-sm-5 col-sm-offset-1 col-md-offset-0 col-md-4 col-lg-3">
				<div class="logo-holder">
					<img src="img/svg/logo-mob.svg" onerror="this.onerror=null; this.className = this.className+' png'; this.src='img/logo-mob.png'" alt="logo" class="logo_img-mob">
					<div class="logo-large">
						<a href="../index.html"></a>
						<i class="logo_headicon icon-Logo-Znak"></i>
						<p class="logo-text"><b>HeartBeat</b> place</p>
					</div>
				</div>
			</div>
			<div class="col-xs-2 col-sm-5 col-md-8 col-lg-9 poss">
				<div class="hmenu-holder">
					<div class="hmenu_mbutton js-mbtn">
						<span></span>
						<span></span>
						<span></span>
					</div>
					<div class="hmenu-hider js-hmenu-hidde">
						<ul class="hmenu_list">
							<li class="hmenu_item">
								<a href="#" class="hmenu_link" >
									Все курсы
								</a>
							</li>
							<li class="hmenu_item">
								<a href="#" class="hmenu_link" >
									Стать преподователем 
								</a>
							</li>
							<li class="hmenu_item">
								<a href="#" class="hmenu_link" >
									Мои курсы
								</a>
							</li>
							<li class="hmenu_item">
								<a href="#" class="hmenu_link" >
									Кабинет
								</a>
							</li>
							<li class="hmenu_item">
								<div class="hmenu_avatar-holder">
									<img src="img/avart/girl.png" alt="avat" class="hmenu_avatar">
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</header>

<!-- HEADER EOF  -->	