<div class="sideauthor">
	<div class="sideauthor_avat-holder">
		<img src="img/avart/neiman.jpg" alt="man_140x140" class="sideauthor_avat">
	</div>
	<div class="sideauthor_about">
		<p class="sideauthor_name">Алена Нейман</p>
		<p class="sideauthor_info">генеральный директор
		Агентства «Развитие»</p>
		<hr>
		<p class="sideauthor_pos">Психолог, тренер
		личной эффективности</p>
	</div>
</div>