﻿/* @font-face kit by Fonts2u (https://fonts2u.com) */ @font-face {font-family:"PlainBlackWide Normal";src:url("Plain_Black_Wide.eot?") format("eot"),url("Plain_Black_Wide.woff") format("woff"),url("Plain_Black_Wide.ttf") format("truetype"),url("Plain_Black_Wide.svg#PlainBlackWide-Normal") format("svg");font-weight:normal;font-style:normal;}
