/*@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?w1y50q');
  src:  url('fonts/icomoon.eot?w1y50q#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?w1y50q') format('truetype'),
    url('fonts/icomoon.woff?w1y50q') format('woff'),
    url('fonts/icomoon.svg?w1y50q#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}*/

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-calendar:before {
  content: "\f073";
}
.icon-calendar-check-o:before {
  content: "\f274";
}
.icon-Context-Menu:before {
  content: "\e900";
}
.icon-Feature-Article:before {
  content: "\e901";
}
.icon-Feature-Infinite:before {
  content: "\e902";
}
.icon-Feature-Mobile:before {
  content: "\e903";
}
.icon-Feature-Personal:before {
  content: "\e904";
}
.icon-Feature-Resources:before {
  content: "\e905";
}
.icon-Feature-Sertificate:before {
  content: "\e906";
}
.icon-Feature-Video:before {
  content: "\e907";
}
.icon-Lesson-Video:before {
  content: "\e908";
}
.icon-List-Close:before {
  content: "\e909";
}
.icon-List-Open:before {
  content: "\e90a";
}
.icon-Logo-Znak:before {
  content: "\e90b";
}
.icon-Star:before {
  content: "\e90c";
}
