@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?x4c3he');
  src:  url('fonts/icomoon.eot?x4c3he#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?x4c3he') format('truetype'),
    url('fonts/icomoon.woff?x4c3he') format('woff'),
    url('fonts/icomoon.svg?x4c3he#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Star:before {
  content: "\e90c";
  color: #555;
}
.icon-Context-Menu:before {
  content: "\e900";
}
.icon-Feature-Article:before {
  content: "\e901";
  color: #555;
}
.icon-Feature-Infinite:before {
  content: "\e902";
  color: #555;
}
.icon-Feature-Mobile:before {
  content: "\e903";
  color: #555;
}
.icon-Feature-Personal:before {
  content: "\e904";
  color: #555;
}
.icon-Feature-Resources:before {
  content: "\e905";
  color: #555;
}
.icon-Feature-Sertificate:before {
  content: "\e906";
  color: #555;
}
.icon-Feature-Video:before {
  content: "\e907";
}
.icon-Lesson-Video:before {
  content: "\e908";
  color: #555;
}
.icon-List-Close:before {
  content: "\e909";
}
.icon-List-Open:before {
  content: "\e90a";
}
.icon-Logo-Znak:before {
  content: "\e90b";
  color: #555;
}
