.main-wrapper {
	/* width: 1300px;
	max-width: 100%; */
	padding: 0;
	min-width: 320px;
	position: relative;
	overflow: hidden;
	min-height: 100vh;
}

.loaded .main-wrapper {
	visibility: hidden;
	opacity: 0;
	position: relative;
	z-index: -100
}

.icon-load {
	background: url(../img/loader.gif) no-repeat;
	background-color: #fff;
	background-position: 50%;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
	z-index: 1000
}

.loaded .icon-load {
	display: block
}

.content {
	width: 100%;
	min-width: 320px;
	text-align: left
}

header {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 10
}

footer, header {
	width: 100%;
	min-width: 320px;
	text-align: left;
	left: 0
}

footer {
	position: absolute;
	bottom: 0
}

/* .test {
	display: block;
	width: 100%;
	height: 100%;
	min-height: 10px;
	min-width: 10px;
	background: #c00
} */

.Black, .black {
	font-weight: 900
}

.Bold, .bold {
	font-weight: 700
}

.ebold, .ExtraBold {
	font-weight: 800
}

.elight, .ExtraLight {
	font-weight: 200
}

.Light, .light {
	font-weight: 300
}

.med, .Medium, .medium {
	font-weight: 500
}

.Normal, .normal, .regular {
	font-weight: 400
}

.sbold, .SemiBold {
	font-weight: 600
}

.Thin, .thin {
	font-weight: 100
}
