section.container.block-registrationForm{
	// margin-top: 2em;
	// margin-bottom: 2em;
	margin: 2em auto;
	.wind{
		&_inpholder{
			.intlTelInput{
				width: 100%;
			}
		}
		.msclock{
			margin: 0 auto;
			display: block;
		}
	}
}

.hf-fields-wrap{
	.msclock{
		margin-bottom: 2em;
	}
}
