[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-play:before {
  content: "\e912";
}
.icon-square-o:before {
  content: "\e90d";
}
.icon-tw:before {
  content: "\f099";
}
.icon-fb:before {
  content: "\f09a";
}
.icon-square:before {
  content: "\f0c8";
}
.icon-envelope:before {
  content: "\f0e0";
}
.icon-check-square:before {
  content: "\f14a";
}
.icon-calendar:before {
  content: "\f073";
}
.icon-calendar-check-o:before {
  content: "\f274";
}
.icon-Context-Menu:before {
  content: "\e900";
}
.icon-Feature-Article:before {
  content: "\e901";
}
.icon-Feature-Infinite:before {
  content: "\e902";
}
.icon-Feature-Mobile:before {
  content: "\e903";
}
.icon-Feature-Personal:before {
  content: "\e904";
}
.icon-Feature-Resources:before {
  content: "\e905";
}
.icon-Feature-Sertificate:before {
  content: "\e906";
}
.icon-Feature-Video:before {
  content: "\e907";
}
.icon-Lesson-Video:before {
  content: "\e908";
}
.icon-List-Close:before {
  content: "\e909";
}
.icon-List-Open:before {
  content: "\e90a";
}
.icon-Logo-Znak:before {
  content: "\e90b";
}
.icon-Star:before {
  content: "\e90c";
}
.icon-wallet:before {
  content: "\e913";
  color: #ff6400;
}
.icon-idea:before {
  content: "\e914";
  color: #ff6400;
}
.icon-m-calendar:before {
  content: "\e911";
}
.icon-Rate:before {
  content: "\e90e";
  color: #ff6400;
}
.icon-Transformation:before {
  content: "\e90f";
  color: #ff6400;
}
.icon-Moderation:before {
  content: "\e910";
  color: #ff6400;
}
.icon-cancel-circle:before {
  content: "\ea0d";
}
