@font-face {
  font-family: 'heartbeat';
  src: url('../font/heartbeat.eot?73050105');
  src: url('../font/heartbeat.eot?73050105#iefix') format('embedded-opentype'),
       url('../font/heartbeat.woff2?73050105') format('woff2'),
       url('../font/heartbeat.woff?73050105') format('woff'),
       url('../font/heartbeat.ttf?73050105') format('truetype'),
       url('../font/heartbeat.svg?73050105#heartbeat') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'heartbeat';
    src: url('../font/heartbeat.svg?73050105#heartbeat') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "heartbeat";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-user-1:before { content: '\e800'; } /* '' */
.icon-Context-Menu:before { content: '\e900'; } /* '' */
.icon-Feature-Article:before { content: '\e901'; } /* '' */
.icon-Feature-Infinite:before { content: '\e902'; } /* '' */
.icon-Feature-Mobile:before { content: '\e903'; } /* '' */
.icon-Feature-Personal:before { content: '\e904'; } /* '' */
.icon-Feature-Resources:before { content: '\e905'; } /* '' */
.icon-Feature-Sertificate:before { content: '\e906'; } /* '' */
.icon-Feature-Video:before { content: '\e907'; } /* '' */
.icon-Lesson-Video:before { content: '\e908'; } /* '' */
.icon-List-Close:before { content: '\e909'; } /* '' */
.icon-List-Open:before { content: '\e90a'; } /* '' */
.icon-Logo-Znak:before { content: '\e90b'; } /* '' */
.icon-Star:before { content: '\e90c'; } /* '' */
.icon-calendar:before { content: '\f073'; } /* '' */
.icon-calendar-check-o:before { content: '\f274'; } /* '' */