
.icon-user-1:before { content: '\e800'; } /* '' */
.icon-Context-Menu:before { content: '\e900'; } /* '' */
.icon-Feature-Article:before { content: '\e901'; } /* '' */
.icon-Feature-Infinite:before { content: '\e902'; } /* '' */
.icon-Feature-Mobile:before { content: '\e903'; } /* '' */
.icon-Feature-Personal:before { content: '\e904'; } /* '' */
.icon-Feature-Resources:before { content: '\e905'; } /* '' */
.icon-Feature-Sertificate:before { content: '\e906'; } /* '' */
.icon-Feature-Video:before { content: '\e907'; } /* '' */
.icon-Lesson-Video:before { content: '\e908'; } /* '' */
.icon-List-Close:before { content: '\e909'; } /* '' */
.icon-List-Open:before { content: '\e90a'; } /* '' */
.icon-Logo-Znak:before { content: '\e90b'; } /* '' */
.icon-Star:before { content: '\e90c'; } /* '' */
.icon-calendar:before { content: '\f073'; } /* '' */
.icon-calendar-check-o:before { content: '\f274'; } /* '' */